In [1]:
import pandas as pd
items = pd.read_csv('ml-latest/movies.csv', encoding='latin-1')

In [2]:
print (items.shape)
items.head()

(58098, 3)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [3]:
ratings = pd.read_csv('ml-latest/ratings.csv', encoding='latin-1')
ratings.head()

   userId  movieId  rating   timestamp
0       1      307     3.5  1256677221
1       1      481     3.5  1256677456
2       1     1091     1.5  1256677471
3       1     1257     4.5  1256677460
4       1     1449     4.5  1256677264

In [4]:
number_of_users = ratings.userId.unique().shape[0]
number_of_items = ratings.movieId.unique().shape[0]
print (number_of_users)
print (number_of_items)

283228
53889

In [5]:
from sklearn import cross_validation
training_set, testing_set = cross_validation.train_test_split(ratings,test_size=0.25)

/Users/songziyu/anaconda3/lib/python3.6/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [6]:
import graphlab
train_data = graphlab.SFrame(training_set)
test_data = graphlab.SFrame(testing_set)

ModuleNotFoundError: No module named 'graphlab'