In [1]:
import pandas as pd
import numpy as np

In [2]:
ratings = pd.read_csv("./ml-latest-small/ratings.csv")
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [3]:
movies = pd.read_csv('./ml-latest/movies.csv', encoding='latin-1')
print (movies.shape)
movies.head()

(58098, 3)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [4]:
num_users = ratings.userId.unique().shape[0]
num_items = ratings.movieId.unique().shape[0]
num_users, num_items

(610, 9724)

In [5]:
user_min, user_max, movie_min, movie_max = (ratings.userId.min(), ratings.userId.max(), 
                                          ratings.movieId.min(), ratings.movieId.max())
user_min, user_max, movie_min, movie_max

(1, 610, 1, 193609)

In [6]:
from sklearn import cross_validation as cv
train_set, test_set = cv.train_test_split(ratings, test_size=0.2)
len(train_set), len(test_set)

/Users/songziyu/anaconda3/lib/python3.6/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

(80668, 20168)

In [7]:
UM_matrix_ds = ratings.pivot(index='userId', columns='movieId', values='rating')
print("UM Matrix value size", UM_matrix_ds.values.size)
print("ratings value size", ratings.values.size)
UM_matrix_ds.head()

UM Matrix value size 5931640
ratings value size 403344

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,NaN,4.0,NaN,NaN,4.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
# similarity
import math
from operator import itemgetter
from scipy.spatial import distance

def distance_cosine(a,b):
    return 1-distance.cosine(a,b)

def disance_corr(a,b):
    return 1-distance.correlation(a,b)

def distance_euclidean(a,b):
    return 1/(distance.euclidean(a,b)+1)

In [9]:
def nearest_neighbor_user(user, topN, simFunc) :  
    u1 = UM_matrix_ds.loc[user].dropna()
    ratedIndex = u1.index
    nn = {}
    
    # Brute-Force Compute
    for uid, row in UM_matrix_ds.iterrows():
        interSectionU1 = []
        interSectionU2 = []
        if uid==user:
            continue
            
        for i in ratedIndex:
            if False==math.isnan(row[i]):
                interSectionU1.append(u1[i])
                interSectionU2.append(row[i])
        interSectionLen = len(interSectionU1)
        
        # at least 3 intersection items
        if interSectionLen < 3 :
            continue
            
        # similarity functon
        sim = simFunc(interSectionU1, interSectionU2)
        
        if  math.isnan(sim) == False:
            nn[uid] = sim
            
    # top N returned         
    return sorted(nn.items(),key=itemgetter(1),reverse=True)[:(topN+1)]
    #return sorted(nn.items(),key=itemgetter(1))[:-(topN+1):-1]

In [10]:
import time
st=time.time()
print(nearest_neighbor_user(8, 50, distance_euclidean))
print(time.time()-st, 'sec')

[(278, 1.0), (601, 1.0), (256, 0.6666666666666666), (471, 0.6666666666666666), (338, 0.585786437626905), (88, 0.5), (295, 0.5), (343, 0.5), (355, 0.5), (378, 0.5), (421, 0.5), (504, 0.5), (526, 0.5), (70, 0.4721359549995794), (123, 0.4721359549995794), (196, 0.4494897427831781), (246, 0.4494897427831781), (260, 0.4494897427831781), (110, 0.43050087404306037), (204, 0.43050087404306037), (215, 0.43050087404306037), (79, 0.4142135623730951), (118, 0.4142135623730951), (165, 0.4142135623730951), (300, 0.4142135623730951), (384, 0.4142135623730951), (412, 0.4142135623730951), (543, 0.4142135623730951), (554, 0.4142135623730951), (20, 0.4), (80, 0.4), (131, 0.4), (189, 0.4), (420, 0.4), (511, 0.4), (581, 0.4), (50, 0.38742588672279304), (172, 0.38742588672279304), (209, 0.38742588672279304), (309, 0.38742588672279304), (460, 0.38742588672279304), (67, 0.3761785115301142), (69, 0.36602540378443865), (348, 0.36602540378443865), (417, 0.36602540378443865), (49, 0.3567891723253309), (161, 0.3567891723253309), (351, 0.3567891723253309), (61, 0.3483314773547883), (211, 0.3483314773547883), (319, 0.3483314773547883)]
0.7425510883331299 sec

In [11]:
def predictRating(userid, nn=50, simFunc=distance_euclidean) :
   
    ## neighboorhood 
    neighbor = nearest_neighbor_user(userid, nn, simFunc)
    # userid: dictionary of similarity
    
    neighbor_id = [id for id, sim in neighbor]
    # List of similar similarities
    
    ## Remove if four or more are NaN
    neighbor_movie = UM_matrix_ds.loc[neighbor_id].dropna(1, how='all', thresh = 4 )
    # User id x DataFrame of movie id. However, if the NaN of the column is 4 or more, it is deleted.
    
    neighbor_dic = (dict(neighbor))
    ret = [] #['movieId', 'predictedRate']
    
    # iterate through each column key: userid, column: movieid, value: rating
    for movieId, row in neighbor_movie.iteritems():
        jsum, wsum = 0, 0
        for v in row.dropna().iteritems():
            sim = neighbor_dic.get(v[0],0)
            jsum += sim
            wsum += (v[1]*sim)
        ret.append([movieId, wsum/jsum])
       
    return ret

In [12]:
predictRating(10, 50)

[[1, 3.950267484592048],
 [2, 3.979811986075693],
 [3, 3.7627161241490796],
 [5, 3.383238977624035],
 [6, 3.623842151924668],
 [7, 3.544298112964249],
 [10, 3.278438634105372],
 [11, 4.218009787879696],
 [15, 3.1087378374683117],
 [16, 3.2752866066870943],
 [17, 3.715749533510972],
 [19, 2.805939205324938],
 [21, 2.6872527010478597],
 [22, 3.726903174436542],
 [24, 3.4761302011691093],
 [31, 3.191573551445447],
 [32, 3.5042768181876873],
 [34, 4.057807531359828],
 [36, 4.0],
 [39, 3.352792594329325],
 [41, 3.6871664255542154],
 [45, 3.0],
 [47, 3.185412191529095],
 [48, 3.5505204425115138],
 [50, 3.7719146614612225],
 [58, 3.917991694340093],
 [60, 3.559410982343283],
 [62, 3.620110565859888],
 [95, 3.510765119909787],
 [104, 3.509426240337509],
 [105, 3.1956963283276743],
 [110, 3.94579194387426],
 [135, 2.8763324697165125],
 [141, 3.5446362510880145],
 [145, 3.057471965004246],
 [150, 3.7739215772435037],
 [151, 3.2149511335990546],
 [153, 3.05714129247507],
 [158, 3.472019676563249],
 [160, 3.6935873842739246],
 [161, 3.637185823789935],
 [163, 2.289726375690253],
 [165, 3.163876028862019],
 [168, 4.012106612557018],
 [172, 2.501115509813353],
 [173, 3.2997633595147935],
 [174, 2.7396978667455865],
 [181, 2.6130319646829476],
 [185, 3.1829757382996364],
 [186, 3.3397460201199225],
 [193, 2.076932299276715],
 [196, 2.9901537090020405],
 [203, 3.2580001549517323],
 [204, 3.155255876576247],
 [208, 3.0104202807575726],
 [218, 3.4594513781672216],
 [223, 3.7265888194502628],
 [224, 3.3850582539693277],
 [225, 3.7474835280404144],
 [227, 2.8598068900343563],
 [231, 2.7336570620779614],
 [234, 1.9058928446730825],
 [235, 3.524811068242812],
 [236, 3.2711709490306387],
 [237, 3.7828234761769166],
 [239, 2.9999999999999996],
 [248, 3.551741789658082],
 [252, 3.3778860073985943],
 [253, 3.0964846683046754],
 [256, 3.843069965684187],
 [257, 4.10901746273921],
 [260, 4.28223797899475],
 [261, 3.864114937150755],
 [266, 3.490507170484366],
 [272, 3.4471293924385864],
 [273, 3.2647809707411106],
 [276, 3.264918929073742],
 [277, 3.4325775074132268],
 [282, 3.529136382838939],
 [288, 2.2141813342047265],
 [292, 3.583784660628212],
 [293, 3.358431292383074],
 [296, 2.372574553046831],
 [300, 3.1278051144258567],
 [303, 2.524958245709265],
 [314, 4.235966551227543],
 [315, 3.202326363768997],
 [316, 3.2563966900301846],
 [317, 3.5812022638700145],
 [318, 4.36867036292586],
 [329, 3.5344961398884878],
 [333, 3.766280793746372],
 [337, 4.051493750545317],
 [338, 3.4949224159036647],
 [339, 3.5485187317844327],
 [344, 2.76414140584611],
 [349, 3.7013577056289586],
 [350, 3.7315332737195086],
 [351, 3.161455153203381],
 [355, 2.8639880793386796],
 [356, 4.344369845706516],
 [357, 3.645682544151999],
 [361, 2.9554103327154087],
 [362, 3.491394086729133],
 [364, 3.8321001797323917],
 [367, 3.361757687671955],
 [368, 3.4371154459858704],
 [370, 3.2998914540312247],
 [371, 3.1919328243522362],
 [374, 2.606837729270434],
 [376, 3.609235726319595],
 [377, 3.623547393196843],
 [380, 3.4930155890175483],
 [383, 3.250612128131476],
 [410, 2.8218223704761973],
 [413, 2.2476270709023147],
 [415, 3.17929148457609],
 [419, 2.808139899317941],
 [420, 3.1803807910841346],
 [421, 3.5394170354509704],
 [432, 3.3831855690344312],
 [434, 3.0592468152792582],
 [435, 2.5457389742797876],
 [440, 3.5439947434799275],
 [442, 3.0451076891782844],
 [454, 3.7010095566991454],
 [455, 2.706298474761825],
 [457, 4.043247612231762],
 [466, 2.627454473876025],
 [468, 3.5279484337729348],
 [471, 3.4930572580028834],
 [474, 3.7017988136836144],
 [477, 3.725899146855762],
 [480, 3.918722727701872],
 [485, 3.0328331762956093],
 [491, 3.192274139416164],
 [494, 3.2128651700196453],
 [497, 4.2161064207072725],
 [500, 3.5942570942355028],
 [502, 2.7986970571242473],
 [508, 3.797027036772116],
 [509, 3.718045469833269],
 [515, 3.3879348108986913],
 [516, 3.3818856646089053],
 [519, 2.2416185728014404],
 [520, 3.3202676565067595],
 [524, 3.928617090667351],
 [527, 3.8514618181504536],
 [529, 4.113676394539613],
 [531, 3.7043204693421385],
 [533, 2.479266061031898],
 [539, 3.8553356374031416],
 [540, 3.0000000000000004],
 [541, 4.718109757675459],
 [542, 3.4648338011452586],
 [543, 2.8616645238527005],
 [551, 3.495939164738399],
 [552, 3.1370997888826184],
 [553, 3.8521423354498063],
 [555, 3.31129566848829],
 [586, 2.9684628720884616],
 [587, 3.969415473764301],
 [588, 3.5854426734729876],
 [589, 3.705172819945038],
 [590, 3.914316568434374],
 [592, 3.1226745284526505],
 [593, 3.7193421380559424],
 [594, 3.597983692113185],
 [595, 3.6396091746167962],
 [596, 3.4246528774660323],
 [597, 3.493373834774465],
 [608, 3.576783293748235],
 [616, 3.6628905301916737],
 [648, 3.9607076892624256],
 [653, 3.603061053097818],
 [733, 3.951325176220727],
 [736, 3.7825552158709614],
 [745, 4.252851559593742],
 [750, 4.463445715925126],
 [761, 3.2298035917095],
 [780, 3.9075988770994075],
 [783, 3.9499433922815848],
 [830, 3.9065900040641437],
 [858, 3.660225872710277],
 [903, 3.6799185533670804],
 [904, 4.740730309792297],
 [912, 4.110624382680675],
 [913, 4.202153134397516],
 [920, 3.127095943712616],
 [924, 3.921266902885788],
 [1035, 4.50173851580569],
 [1036, 3.402065627546662],
 [1073, 4.075701216364057],
 [1080, 3.343458854795939],
 [1090, 3.093321705722216],
 [1097, 4.82337557738903],
 [1101, 2.5249899886409435],
 [1193, 4.272246490134006],
 [1196, 4.348110966826389],
 [1197, 4.783711338043835],
 [1198, 4.442114576955285],
 [1200, 2.2764959339304296],
 [1210, 3.7234692590423633],
 [1214, 4.274616207343159],
 [1222, 3.808214939697129],
 [1247, 3.4740315260889862],
 [1250, 4.020106123365216],
 [1252, 4.507938093368123],
 [1265, 4.252095911883641],
 [1270, 3.656262247107939],
 [1304, 3.74219290017906],
 [1356, 3.9377661830445203],
 [1372, 3.002285969439541],
 [1374, 2.9626835787343437],
 [1393, 3.533831089581114],
 [1544, 3.042438986697932],
 [1580, 3.9094913035622385],
 [1721, 3.9377517274251206],
 [1907, 3.493247818135422],
 [2012, 2.888091062182572],
 [2028, 4.181983461259799],
 [2054, 3.3081987004536644],
 [2085, 3.5564736182996457],
 [2115, 4.196199773372342],
 [2161, 4.1525862677736125],
 [2174, 2.755858847957929],
 [2355, 3.5167081459247154],
 [2396, 4.0],
 [2529, 3.0857027997246522],
 [2542, 3.6583038203980505],
 [2657, 3.3098798198614396],
 [2671, 3.2653714023070464],
 [2694, 3.3484950389872243],
 [2797, 3.6854122144904182],
 [2858, 2.4366813040098645],
 [2944, 4.507712245782865],
 [2987, 2.7101043238733227],
 [3448, 4.242283733359965],
 [3450, 3.594827256475591],
 [3504, 3.4902045769542034],
 [3552, 4.236305269375596],
 [3671, 3.951103989805892],
 [3751, 3.4818430776745632],
 [4226, 3.9047805509432085],
 [4306, 4.42004331848954],
 [4308, 4.492707208565863],
 [4963, 4.230342138670162],
 [4993, 4.40811769489283],
 [4995, 4.65302736479388],
 [5218, 4.133842635979494],
 [5952, 4.214857292176656],
 [6539, 4.008121739874953],
 [7153, 4.320946979920835],
 [8360, 4.003910351180071],
 [8368, 3.4131923008360303]]

In [13]:
## view rated movies and movies with high ratings
def ratingMovies(user_id):
    ds = pd.merge(ratings[ratings.userId==user_id], movies, on=['movieId'])
    return ds.sort_values(by=['rating'], ascending=False)[['rating','title','genres','movieId']].head(100)
ratingMovies(1).head(20)

,rating,title,genres,movieId
231,5.0,M*A*S*H (a.k.a. MASH) (1970),Comedy|Drama|War,5060
185,5.0,Excalibur (1981),Adventure|Fantasy,2872
89,5.0,Indiana Jones and the Last Crusade (1989),Action|Adventure,1291
90,5.0,Pink Floyd: The Wall (1982),Drama|Musical,1298
190,5.0,From Russia with Love (1963),Action|Adventure|Thriller,2948
189,5.0,Goldfinger (1964),Action|Adventure|Thriller,2947
188,5.0,"Dirty Dozen, The (1967)",Action|Drama|War,2944
186,5.0,Gulliver's Travels (1939),Adventure|Animation|Children,2899
184,5.0,American Beauty (1999),Drama|Romance,2858
179,5.0,"South Park: Bigger, Longer and Uncut (1999)",Animation|Comedy|Musical,2700
98,5.0,Austin Powers: International Man of Mystery (1...,Action|Adventure|Comedy,1517
100,5.0,Face/Off (1997),Action|Crime|Drama|Thriller,1573
102,5.0,Conan the Barbarian (1982),Action|Adventure|Fantasy,1587
103,5.0,L.A. Confidential (1997),Crime|Film-Noir|Mystery|Thriller,1617
181,5.0,"Iron Giant, The (1999)",Adventure|Animation|Children|Drama|Sci-Fi,2761
105,5.0,"Game, The (1997)",Drama|Mystery|Thriller,1625
88,5.0,Fantasia (1940),Animation|Children|Fantasy|Musical,1282
87,5.0,Young Frankenstein (1974),Comedy|Fantasy,1278
86,5.0,Highlander (1986),Action|Adventure|Fantasy,1275
85,5.0,Back to the Future (1985),Adventure|Comedy|Sci-Fi,1270

In [14]:
def join_movie_info(predicted_result):
    predicted_ratings = pd.DataFrame(predicted_result, columns=['movieId', 'predicted_rating'])
    result_ds = pd.merge(movies[movies.movieId > 0], predicted_ratings, on=['movieId'])
    return result_ds.sort_values(by=['predicted_rating'], ascending=False)

result = predictRating(1);
join_movie_info(result)

,movieId,title,genres,predicted_rating
24,1197,"Princess Bride, The (1987)",Action|Adventure|Comedy|Fantasy|Romance,5.000000
15,588,Aladdin (1992),Adventure|Animation|Children|Comedy|Musical,5.000000
39,2858,American Beauty (1999),Drama|Romance,5.000000
49,4896,Harry Potter and the Sorcerer's Stone (a.k.a. ...,Adventure|Children|Fantasy,4.886699
25,1198,Raiders of the Lost Ark (Indiana Jones and the...,Action|Adventure,4.866430
41,3147,"Green Mile, The (1999)",Crime|Drama,4.846440
42,3578,Gladiator (2000),Action|Adventure|Drama,4.809555
55,5618,Spirited Away (Sen to Chihiro no kamikakushi) ...,Adventure|Animation|Fantasy,4.775069
2,47,Seven (a.k.a. Se7en) (1995),Mystery|Thriller,4.771741
98,112552,Whiplash (2014),Drama,4.764554
13,527,Schindler's List (1993),Drama|War,4.763479
6,260,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi,4.760956
9,318,"Shawshank Redemption, The (1994)",Crime|Drama,4.727501
90,81834,Harry Potter and the Deathly Hallows: Part 1 (...,Action|Adventure|Fantasy|IMAX,4.723981
34,2324,Life Is Beautiful (La Vita Ã¨ bella) (1997),Comedy|Drama|Romance|War,4.705324
92,89745,"Avengers, The (2012)",Action|Adventure|Sci-Fi|IMAX,4.701064
78,60069,WALLÂ·E (2008),Adventure|Animation|Children|Romance|Sci-Fi,4.699275
76,58559,"Dark Knight, The (2008)",Action|Crime|Drama|IMAX,4.692279
12,364,"Lion King, The (1994)",Adventure|Animation|Children|Drama|Musical|IMAX,4.687773
3,50,"Usual Suspects, The (1995)",Crime|Mystery|Thriller,4.685336
36,2571,"Matrix, The (1999)",Action|Sci-Fi|Thriller,4.674731
86,76093,How to Train Your Dragon (2010),Adventure|Animation|Children|Fantasy|IMAX,4.663630
56,5816,Harry Potter and the Chamber of Secrets (2002),Adventure|Fantasy,4.644966
52,4995,"Beautiful Mind, A (2001)",Drama|Romance,4.641579
99,112852,Guardians of the Galaxy (2014),Action|Adventure|Sci-Fi,4.637824
66,8961,"Incredibles, The (2004)",Action|Adventure|Animation|Children|Comedy,4.626750
93,91529,"Dark Knight Rises, The (2012)",Action|Adventure|Crime|IMAX,4.620746
82,68954,Up (2009),Adventure|Animation|Children|Drama,4.616225
67,33794,Batman Begins (2005),Action|Crime|IMAX,4.568219
97,109487,Interstellar (2014),Sci-Fi|IMAX,4.561538
...,...,...,...,...
16,589,Terminator 2: Judgment Day (1991),Action|Sci-Fi,4.005546
95,99114,Django Unchained (2012),Action|Drama|Western,3.993195
45,4022,Cast Away (2000),Drama,3.977610
69,44191,V for Vendetta (2006),Action|Sci-Fi|Thriller|IMAX,3.976781
60,6539,Pirates of the Caribbean: The Curse of the Bla...,Action|Adventure|Comedy|Fantasy,3.970884
104,134130,The Martian (2015),Adventure|Drama|Sci-Fi,3.967911
64,7361,Eternal Sunshine of the Spotless Mind (2004),Drama|Romance|Sci-Fi,3.949682
84,70286,District 9 (2009),Mystery|Sci-Fi|Thriller,3.868553
47,4306,Shrek (2001),Adventure|Animation|Children|Comedy|Fantasy|Ro...,3.846849
23,1036,Die Hard (1988),Action|Crime|Thriller,3.838089
61,6942,Love Actually (2003),Comedy|Drama|Romance,3.832325
28,1584,Contact (1997),Drama|Sci-Fi,3.817914
50,4973,"Amelie (Fabuleux destin d'AmÃ©lie Poulain, Le)...",Comedy|Romance,3.782274
17,592,Batman (1989),Action|Crime|Thriller,3.781819
46,4226,Memento (2000),Mystery|Thriller,3.751220
73,49272,Casino Royale (2006),Action|Adventure|Thriller,3.749565
58,5989,Catch Me If You Can (2002),Crime|Drama,3.748497
54,5445,Minority Report (2002),Action|Crime|Mystery|Sci-Fi|Thriller,3.735333
87,77561,Iron Man 2 (2010),Action|Adventure|Sci-Fi|Thriller|IMAX,3.703729
21,783,"Hunchback of Notre Dame, The (1996)",Animation|Children|Drama|Musical|Romance,3.650914
20,597,Pretty Woman (1990),Comedy|Romance,3.602626
103,122916,Thor: Ragnarok (2017),Action|Adventure|Sci-Fi,3.558539
106,176371,Blade Runner 2049 (2017),Sci-Fi,3.519760
75,54286,"Bourne Ultimatum, The (2007)",Action|Crime|Thriller,3.510002
27,1485,Liar Liar (1997),Comedy,3.505875
7,296,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller,3.496495
8,300,Quiz Show (1994),Drama,3.239579
10,329,Star Trek: Generations (1994),Adventure|Drama|Sci-Fi,3.230377
29,1597,Conspiracy Theory (1997),Drama|Mystery|Romance|Thriller,3.087359
38,2770,Bowfinger (1999),Comedy,2.903103

In [15]:
# 5th user's star rating
userid=1
pd.merge(ratingMovies(userid), join_movie_info(predictRating(userid)), 
         on=['movieId'], how='right').sort_values(by=['predicted_rating'], ascending =False)

,rating,title_x,genres_x,movieId,title_y,genres_y,predicted_rating
3,5.0,"Princess Bride, The (1987)",Action|Adventure|Comedy|Fantasy|Romance,1197,"Princess Bride, The (1987)",Action|Adventure|Comedy|Fantasy|Romance,5.000000
12,NaN,NaN,NaN,588,Aladdin (1992),Adventure|Animation|Children|Comedy|Musical,5.000000
0,5.0,American Beauty (1999),Drama|Romance,2858,American Beauty (1999),Drama|Romance,5.000000
13,NaN,NaN,NaN,4896,Harry Potter and the Sorcerer's Stone (a.k.a. ...,Adventure|Children|Fantasy,4.886699
6,5.0,Raiders of the Lost Ark (Indiana Jones and the...,Action|Adventure,1198,Raiders of the Lost Ark (Indiana Jones and the...,Action|Adventure,4.866430
14,NaN,NaN,NaN,3147,"Green Mile, The (1999)",Crime|Drama,4.846440
8,5.0,Gladiator (2000),Action|Adventure|Drama,3578,Gladiator (2000),Action|Adventure|Drama,4.809555
15,NaN,NaN,NaN,5618,Spirited Away (Sen to Chihiro no kamikakushi) ...,Adventure|Animation|Fantasy,4.775069
11,5.0,Seven (a.k.a. Se7en) (1995),Mystery|Thriller,47,Seven (a.k.a. Se7en) (1995),Mystery|Thriller,4.771741
16,NaN,NaN,NaN,112552,Whiplash (2014),Drama,4.764554
7,5.0,Schindler's List (1993),Drama|War,527,Schindler's List (1993),Drama|War,4.763479
9,5.0,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi,260,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi,4.760956
17,NaN,NaN,NaN,318,"Shawshank Redemption, The (1994)",Crime|Drama,4.727501
18,NaN,NaN,NaN,81834,Harry Potter and the Deathly Hallows: Part 1 (...,Action|Adventure|Fantasy|IMAX,4.723981
19,NaN,NaN,NaN,2324,Life Is Beautiful (La Vita Ã¨ bella) (1997),Comedy|Drama|Romance|War,4.705324
20,NaN,NaN,NaN,89745,"Avengers, The (2012)",Action|Adventure|Sci-Fi|IMAX,4.701064
21,NaN,NaN,NaN,60069,WALLÂ·E (2008),Adventure|Animation|Children|Romance|Sci-Fi,4.699275
22,NaN,NaN,NaN,58559,"Dark Knight, The (2008)",Action|Crime|Drama|IMAX,4.692279
23,NaN,NaN,NaN,364,"Lion King, The (1994)",Adventure|Animation|Children|Drama|Musical|IMAX,4.687773
10,5.0,"Usual Suspects, The (1995)",Crime|Mystery|Thriller,50,"Usual Suspects, The (1995)",Crime|Mystery|Thriller,4.685336
5,5.0,"Matrix, The (1999)",Action|Sci-Fi|Thriller,2571,"Matrix, The (1999)",Action|Sci-Fi|Thriller,4.674731
24,NaN,NaN,NaN,76093,How to Train Your Dragon (2010),Adventure|Animation|Children|Fantasy|IMAX,4.663630
25,NaN,NaN,NaN,5816,Harry Potter and the Chamber of Secrets (2002),Adventure|Fantasy,4.644966
26,NaN,NaN,NaN,4995,"Beautiful Mind, A (2001)",Drama|Romance,4.641579
27,NaN,NaN,NaN,112852,Guardians of the Galaxy (2014),Action|Adventure|Sci-Fi,4.637824
28,NaN,NaN,NaN,8961,"Incredibles, The (2004)",Action|Adventure|Animation|Children|Comedy,4.626750
29,NaN,NaN,NaN,91529,"Dark Knight Rises, The (2012)",Action|Adventure|Crime|IMAX,4.620746
30,NaN,NaN,NaN,68954,Up (2009),Adventure|Animation|Children|Drama,4.616225
31,NaN,NaN,NaN,33794,Batman Begins (2005),Action|Crime|IMAX,4.568219
32,NaN,NaN,NaN,109487,Interstellar (2014),Sci-Fi|IMAX,4.561538
...,...,...,...,...,...,...,...
78,NaN,NaN,NaN,589,Terminator 2: Judgment Day (1991),Action|Sci-Fi,4.005546
79,NaN,NaN,NaN,99114,Django Unchained (2012),Action|Drama|Western,3.993195
80,NaN,NaN,NaN,4022,Cast Away (2000),Drama,3.977610
81,NaN,NaN,NaN,44191,V for Vendetta (2006),Action|Sci-Fi|Thriller|IMAX,3.976781
82,NaN,NaN,NaN,6539,Pirates of the Caribbean: The Curse of the Bla...,Action|Adventure|Comedy|Fantasy,3.970884
83,NaN,NaN,NaN,134130,The Martian (2015),Adventure|Drama|Sci-Fi,3.967911
84,NaN,NaN,NaN,7361,Eternal Sunshine of the Spotless Mind (2004),Drama|Romance|Sci-Fi,3.949682
85,NaN,NaN,NaN,70286,District 9 (2009),Mystery|Sci-Fi|Thriller,3.868553
86,NaN,NaN,NaN,4306,Shrek (2001),Adventure|Animation|Children|Comedy|Fantasy|Ro...,3.846849
87,NaN,NaN,NaN,1036,Die Hard (1988),Action|Crime|Thriller,3.838089
88,NaN,NaN,NaN,6942,Love Actually (2003),Comedy|Drama|Romance,3.832325
89,NaN,NaN,NaN,1584,Contact (1997),Drama|Sci-Fi,3.817914
90,NaN,NaN,NaN,4973,"Amelie (Fabuleux destin d'AmÃ©lie Poulain, Le)...",Comedy|Romance,3.782274
91,NaN,NaN,NaN,592,Batman (1989),Action|Crime|Thriller,3.781819
92,NaN,NaN,NaN,4226,Memento (2000),Mystery|Thriller,3.751220
93,NaN,NaN,NaN,49272,Casino Royale (2006),Action|Adventure|Thriller,3.749565
94,NaN,NaN,NaN,5989,Catch Me If You Can (2002),Crime|Drama,3.748497
95,NaN,NaN,NaN,5445,Minority Report (2002),Action|Crime|Mystery|Sci-Fi|Thriller,3.735333
96,NaN,NaN,NaN,77561,Iron Man 2 (2010),Action|Adventure|Sci-Fi|Thriller|IMAX,3.703729
97,NaN,NaN,NaN,783,"Hunchback of Notre Dame, The (1996)",Animation|Children|Drama|Musical|Romance,3.650914
98,NaN,NaN,NaN,597,Pretty Woman (1990),Comedy|Romance,3.602626
99,NaN,NaN,NaN,122916,Thor: Ragnarok (2017),Action|Adventure|Sci-Fi,3.558539
100,NaN,NaN,NaN,176371,Blade Runner 2049 (2017),Sci-Fi,3.519760
101,NaN,NaN,NaN,54286,"Bourne Ultimatum, The (2007)",Action|Crime|Thriller,3.510002
102,NaN,NaN,NaN,1485,Liar Liar (1997),Comedy,3.505875
103,NaN,NaN,NaN,296,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller,3.496495
104,NaN,NaN,NaN,300,Quiz Show (1994),Drama,3.239579
105,NaN,NaN,NaN,329,Star Trek: Generations (1994),Adventure|Drama|Sci-Fi,3.230377
106,NaN,NaN,NaN,1597,Conspiracy Theory (1997),Drama|Mystery|Romance|Thriller,3.087359
107,NaN,NaN,NaN,2770,Bowfinger (1999),Comedy,2.903103

In [16]:
eval_ratings = ratings
# ratings['userId'].drop_duplicates().values[:]
def eval_prediction(predict_users, n_users=50):
    ## evaluation
    ds = pd.merge(eval_ratings, ratings[['movieId','rating']].groupby(['movieId']).mean().reset_index(), 
                  on='movieId', how='left')

    ds = ds.rename(columns= {'rating_x':'rating', 'rating_y':'mean_rating'})

    st = time.time()
    ## udpate to predict_rating 
    distance_functions = [('euclidean',distance_euclidean), ('cosine', distance_cosine)]
    for name, func in distance_functions:
        ds[name] = 0
        for user_id in predict_users:
            # key: movie id, value : predicted_rating
            for x in predictRating(user_id, n_users, func):
                ds.loc[(ds.userId==user_id) & (ds.movieId==x[0]),name]=x[1]
    print('runtime', round(time.time()-st,2), 'sec')
    #Only the tuple corresponding to the user performing the predict in the entire dataFrame is returned
    return ds[ds.euclidean+ds.cosine>0]

In [17]:
## all userId list 
users = UM_matrix_ds.index.tolist()
## 10-person star rating
predicted = eval_prediction(users[:2], 100 )
predicted

runtime 25.91 sec

     userId  movieId  rating   timestamp  mean_rating  euclidean    cosine
0         1        1     4.0   964982703     3.920930   4.302955  4.067384
2         1        6     4.0   964982224     3.946078   4.040658  4.500137
3         1       47     5.0   964983815     3.975369   4.663217  4.480351
4         1       50     5.0   964982931     4.237745   4.618319  4.520947
7         1      110     4.0   964982176     4.031646   4.271191  4.210624
10        1      163     5.0   964983650     3.560606   0.000000  3.998374
12        1      223     3.0   964980985     3.855769   0.000000  3.401123
13        1      231     5.0   964981179     3.060150   4.116392  4.416107
15        1      260     5.0   964981680     4.231076   4.644290  4.462436
16        1      296     3.0   964982967     4.197068   3.862645  4.273903
17        1      316     3.0   964982310     3.375000   3.144263  3.713849
19        1      349     4.0   964982563     3.604545   3.801814  3.562832
20        1      356     4.0   964980962     4.164134   4.300822  4.148587
22        1      367     4.0   964981710     3.184713   0.000000  3.600877
25        1      457     5.0   964981909     3.992105   4.464453  4.286558
26        1      480     4.0   964982346     3.750000   3.552016  3.884168
27        1      500     3.0   964981208     3.388889   3.352437  3.249039
28        1      527     5.0   964984002     4.225000   4.746558  4.576397
32        1      590     4.0   964982546     3.835366   4.351316  4.154422
33        1      592     4.0   964982271     3.428571   3.650406  3.999558
34        1      593     4.0   964983793     4.161290   4.409818  4.236105
36        1      608     5.0   964982931     4.116022   4.755356  4.500898
37        1      648     3.0   964982563     3.537037   3.553363  3.500726
38        1      661     5.0   964982838     3.448980   4.491669  0.000000
40        1      733     4.0   964982400     3.640496   4.011105  4.749978
41        1      736     3.0   964982653     3.321138   3.603184  3.748493
42        1      780     3.0   964984086     3.445545   3.666857  3.777067
45        1      923     5.0   964981529     4.043478   0.000000  4.585083
60        1     1073     5.0   964981680     3.873950   3.797422  4.311772
61        1     1080     5.0   964981327     3.926966   0.000000  4.583123
..      ...      ...     ...         ...          ...        ...       ...
203       1     3147     5.0   964983873     4.148649   4.846440  4.500327
219       1     3578     5.0   964980668     3.938235   4.659381  4.326842
222       1     3671     5.0   964981589     3.935484   0.000000  4.399963
228       1     3793     5.0   964981855     3.699248   4.082298  3.730810
232       2      318     3.0  1445714835     4.429022   4.281186  4.381241
233       2      333     4.0  1445715029     3.780000   4.065082  4.150404
234       2     1704     4.5  1445715228     4.078014   4.238442  4.422737
235       2     3578     4.0  1445714885     3.938235   3.991811  4.142259
236       2     6874     4.0  1445714952     3.961832   4.086520  4.245354
237       2     8798     3.5  1445714960     3.761364   3.662452  3.943909
238       2    46970     4.0  1445715013     3.250000   3.446627  3.666785
239       2    48516     4.0  1445715064     4.252336   4.229200  4.459574
240       2    58559     4.5  1445715141     4.238255   4.253397  4.443428
241       2    60756     5.0  1445714980     3.553571   0.000000  4.099495
242       2    68157     4.5  1445715154     4.136364   4.250939  4.315247
243       2    71535     3.0  1445714974     3.877358   3.589923  3.929882
244       2    74458     4.0  1445714926     4.022388   4.203711  4.327769
245       2    77455     3.0  1445714941     4.038462   0.000000  3.749715
246       2    79132     4.0  1445714841     4.066434   4.213210  4.406365
247       2    80489     4.5  1445715340     3.954545   4.020342  4.063164
248       2    80906     5.0  1445715172     4.291667   0.000000  4.584101
249       2    86345     4.0  1445715166     4.055556   0.000000  4.699360
251       2    91529     3.5  1445714891     3.993421   4.096750  4.200730
252       2    91658     2.5  1445714938     3.488095   2.190096  3.831595
253       2    99114     3.5  1445714874     3.943662   4.229232  4.326872
254       2   106782     5.0  1445714966     3.916667   4.045082  4.617901
255       2   109487     3.0  1445715145     3.993151   4.097247  4.106783
256       2   112552     4.0  1445714882     4.039474   4.277214  4.293128
258       2   115713     3.5  1445714854     3.910714   0.000000  4.250177
259       2   122882     5.0  1445715272     3.819149   0.000000  4.500732

[111 rows x 7 columns]

In [18]:
predicted = predicted[ (predicted['cosine'] > 0) & (predicted['euclidean'] > 0) ]
def RMSE(X, left_col, right_col):
    return(np.sqrt(np.mean((X[left_col] - X[right_col])**2)))

def MAE(X, left_col, right_col):
    return(np.mean(np.absolute(X[left_col] - X[right_col])) )
for name in ['mean_rating', 'cosine', 'euclidean']:
    print ("MAE of {0} is {1} ".format(name, MAE(predicted, 'rating', name)))

for name in ['mean_rating', 'cosine', 'euclidean']:
    print ("RMSE of {0} is {1} ".format(name, RMSE(predicted, 'rating', name)))

MAE of mean_rating is 0.6221854624109043
MAE of cosine is 0.5192950331141716
MAE of euclidean is 0.4496316838189158
RMSE of mean_rating is 0.7533385768629883
RMSE of cosine is 0.6120419252944451
RMSE of euclidean is 0.5397726258746797