In [1]:
import pandas as pd
import numpy as np
import time

In [24]:
ratings = pd.read_csv("./ml-latest-small/ratings.csv")
ratings[ratings.userId==2].head(20)

     userId  movieId  rating   timestamp
232       2      318     3.0  1445714835
233       2      333     4.0  1445715029
234       2     1704     4.5  1445715228
235       2     3578     4.0  1445714885
236       2     6874     4.0  1445714952
237       2     8798     3.5  1445714960
238       2    46970     4.0  1445715013
239       2    48516     4.0  1445715064
240       2    58559     4.5  1445715141
241       2    60756     5.0  1445714980
242       2    68157     4.5  1445715154
243       2    71535     3.0  1445714974
244       2    74458     4.0  1445714926
245       2    77455     3.0  1445714941
246       2    79132     4.0  1445714841
247       2    80489     4.5  1445715340
248       2    80906     5.0  1445715172
249       2    86345     4.0  1445715166
250       2    89774     5.0  1445715189
251       2    91529     3.5  1445714891

In [3]:
movies = pd.read_csv('./ml-latest/movies.csv', encoding='latin-1')
print (movies.shape)
movies.head()

(58098, 3)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [4]:
num_users = ratings.userId.unique().shape[0]
num_items = ratings.movieId.unique().shape[0]
num_users, num_items

(610, 9724)

In [6]:
from sklearn import model_selection as ms
train_set, test_set = ms.train_test_split(ratings, test_size=0.25)
len(train_set), len(test_set)

(75627, 25209)

In [36]:
UM_matrix_ds = ratings.pivot(index='userId', columns='movieId', values='rating')
print("UM Matrix value size", UM_matrix_ds.values.size)
print("ratings value size", ratings.values.size)
print("Sparisity: {:4.2f}%".format(ratings.rating.values.size/UM_matrix_ds.values.size*100))
UM_matrix_ds.head(10)

UM Matrix value size 5931640
ratings value size 403344
Sparisity: 1.70%

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,NaN,4.0,NaN,NaN,4.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,4.0,5.0,3.0,5.0,4.0,4.0,3.0,NaN,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,4.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
# similarity
import math
from operator import itemgetter
from scipy.spatial import distance

def distance_cosine(a,b):
    return 1-distance.cosine(a,b)

def disance_corr(a,b):
    return 1-distance.correlation(a,b)

def distance_euclidean(a,b):
    return 1/(distance.euclidean(a,b)+1)

In [9]:
def nearest_neighbor_user(user, topN, simFunc) :  
    u1 = UM_matrix_ds.loc[user].dropna()
    ratedIndex = u1.index
    nn = {}
    
    # Brute-Force Compute
    for uid, row in UM_matrix_ds.iterrows():
        interSectionU1 = []
        interSectionU2 = []
        if uid==user:
            continue
            
        for i in ratedIndex:
            if False==math.isnan(row[i]):
                interSectionU1.append(u1[i])
                interSectionU2.append(row[i])
        interSectionLen = len(interSectionU1)
        
        # at least 3 intersection items
        if interSectionLen < 3 :
            continue
            
        # similarity functon
        sim = simFunc(interSectionU1, interSectionU2)
        
        if  math.isnan(sim) == False:
            nn[uid] = sim
            
    # top N returned         
    return sorted(nn.items(),key=itemgetter(1),reverse=True)[:(topN+1)]
    #return sorted(nn.items(),key=itemgetter(1))[:-(topN+1):-1]

In [44]:
def nearest_neighbor_item(movie, topN, simFunc):
    m1 = UM_matrix_ds[movie].dropna()
    user_index = m1.index
    nn = {}
    
    for movieId, col in UM_matrix_ds.iteritems():
        interSectionU1 = []
        interSectionU2 = []
        if movie == movieId:
            continue
        
        for i in user_index:
            if False==math.isnan(col[i]):
                interSectionU1.append(m1[i])
                interSectionU2.append(col[i])
        interSectionLen = len(interSectionU1)
        # at least 3 intersection items
        if interSectionLen < 3 :
            continue
            
        # similarity functon
        sim = simFunc(interSectionU1, interSectionU2)
        
        if  math.isnan(sim) == False:
            nn[movieId] = sim
            
    # top N returned         
    return sorted(nn.items(),key=itemgetter(1),reverse=True)[:(topN+1)]

In [53]:
print(pd.DataFrame(nearest_neighbor_user(278, 100, distance_euclidean), columns=['userId', 'sim']))
print(pd.DataFrame(nearest_neighbor_item(1, 100, distance_euclidean), columns=['movieId', 'sim']))

     userId       sim
0         8  1.000000
1        15  1.000000
2       348  1.000000
3       352  1.000000
4       373  1.000000
5       382  1.000000
6       512  1.000000
7       566  1.000000
8       601  1.000000
9       602  1.000000
10        1  0.666667
11      296  0.666667
12      338  0.666667
13      484  0.666667
14      515  0.666667
15      572  0.666667
16       17  0.585786
17       59  0.585786
18       72  0.585786
19      178  0.585786
20      232  0.585786
21      254  0.585786
22      280  0.585786
23      282  0.585786
24      330  0.585786
25      343  0.585786
26      415  0.585786
27      418  0.585786
28      489  0.585786
29      587  0.585786
..      ...       ...
71      200  0.387426
72      202  0.387426
73      219  0.387426
74      239  0.387426
75      249  0.387426
76      152  0.376179
77      420  0.376179
78      590  0.376179
79      356  0.366025
80      105  0.356789
81      318  0.356789
82      434  0.356789
83      452  0.356789
84      552  0.356789
85      212  0.348331
86      103  0.340542
87      290  0.340542
88      331  0.333333
89      453  0.333333
90      455  0.333333
91      580  0.333333
92      265  0.326632
93      469  0.326632
94      111  0.320377
95      167  0.320377
96      275  0.320377
97      357  0.320377
98        5  0.309017
99       60  0.309017
100     109  0.309017

[101 rows x 2 columns]
     movieId       sim
0       1484  1.000000
1       2932  1.000000
2       2940  1.000000
3       2967  1.000000
4       2988  1.000000
5       3111  1.000000
6       3384  1.000000
7       4745  1.000000
8       5833  1.000000
9       5876  1.000000
10      7766  1.000000
11    178061  1.000000
12       482  0.666667
13       949  0.666667
14      1082  0.666667
15      1192  0.666667
16      1447  0.666667
17      2553  0.666667
18      2971  0.666667
19      3117  0.666667
20      3412  0.666667
21      3724  0.666667
22      4220  0.666667
23      4713  0.666667
24      5039  0.666667
25      6041  0.666667
26      6636  0.666667
27      6639  0.666667
28      7048  0.666667
29     26528  0.666667
..       ...       ...
71    162578  0.585786
72      3545  0.535898
73      3871  0.535898
74      4846  0.535898
75      4889  0.535898
76      4954  0.535898
77      5298  0.535898
78      5483  0.535898
79      7285  0.535898
80      7303  0.535898
81      8008  0.535898
82     26903  0.535898
83     30820  0.535898
84     33677  0.535898
85     40414  0.535898
86     45440  0.535898
87     49132  0.535898
88     49910  0.535898
89     80586  0.535898
90     96655  0.535898
91     98124  0.535898
92    158238  0.535898
93    180031  0.535898
94       233  0.500000
95       944  0.500000
96       948  0.500000
97      1050  0.500000
98      1051  0.500000
99      1177  0.500000
100     1332  0.500000

[101 rows x 2 columns]

In [65]:
def predictRating(id_num, nn=50, simFunc=distance_euclidean, kind = 'user') :
   
    if (kind == "user"):
        ## neighboorhood 
        neighbor = nearest_neighbor_user(id_num, nn, simFunc)
        # userid: dictionary of similarity

        neighbor_id = [id for id, sim in neighbor]
        # List of similar similarities

        ## Remove if four or more are NaN
        neighbor_movie = UM_matrix_ds.loc[neighbor_id].dropna(1, how = 'all', thresh = 4)
        # User id x DataFrame of movie id. However, if the NaN of the column is 4 or more, it is deleted.

        neighbor_dic = (dict(neighbor))
        ret = [] #['movieId', 'predictedRate']

        # iterate through each column key: userid, column: movieid, value: rating
        for movieId, row in neighbor_movie.iteritems():
            jsum, wsum = 0, 0
            for v in row.dropna().iteritems():
                sim = neighbor_dic.get(v[0],0)
                jsum += sim
                wsum += (v[1]*sim)
            ret.append([movieId, wsum/jsum])

        return ret
    
    elif (kind == 'item'):
        neighbor = nearest_neighbor_item(id_num, nn, simFunc)
        
        neighbor_id = [id for id, sim in neighbor]
        
        neighbor_ratedUser = UM_matrix_ds[neighbor_id].dropna(1, how = 'all', thresh = 4)
        
        neighbor_dic = dict(neighbor)
        ret = []
        
        for userId, row in neighbor_ratedUser.iterrows():
            jsum, wsum = 0, 0
            for v in row.dropna().iteritems():
                sim = neighbor_dic.get(v[0], 0)
                jsum += sim
                wsum += (v[1]*sim)
            ret.append([userId, wsum/jsum])
        
        return ret

In [66]:
# predictRating(10, 50, kind = 'user')
predictRating(1, 50, kind = 'item')

movieId  2940    2967    3111    3384    4745    5876    7766    482     \
userId
1           NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
2           NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
3           NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
4           NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
5           NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
6           NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
7           NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
8           NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
9           NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
10          NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
11          NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
12          NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
13          NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
14          NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
15          NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
16          NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
17          NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
18          NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
19          NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
20          NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
21          NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
22          NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
23          NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
24          NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
25          NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
26          NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
27          NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
28          NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
29          NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
30          NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
...         ...     ...     ...     ...     ...     ...     ...     ...
581         NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
582         NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
583         NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
584         NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
585         NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
586         NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
587         NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
588         NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
589         NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
590         4.0     NaN     NaN     NaN     NaN     NaN     NaN     NaN
591         NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
592         NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
593         NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
594         NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
595         NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
596         NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
597         NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
598         NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
599         NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
600         NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
601         NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
602         NaN     NaN     NaN     NaN     NaN     NaN     NaN     3.0
603         4.0     4.0     NaN     NaN     4.0     NaN     NaN     NaN
604         NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
605         NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
606         NaN     NaN     NaN     NaN     2.5     NaN     NaN     NaN
607         NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
608         NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
609         NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
610         NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN

movieId  949     1082     ...    140715  175569  2025    3181    3196    \
userId                    ...
1           NaN     NaN   ...       NaN     NaN     NaN     NaN     NaN
2           NaN     NaN   ...       NaN     NaN     NaN     NaN     NaN
3           NaN     NaN   ...       NaN     NaN     NaN     NaN     NaN
4           NaN     NaN   ...       NaN     NaN     NaN     NaN     NaN
5           NaN     NaN   ...       NaN     NaN     NaN     NaN     NaN
6           NaN     4.0   ...       NaN     NaN     NaN     NaN     NaN
7           NaN     NaN   ...       NaN     NaN     NaN     NaN     NaN
8           NaN     NaN   ...       NaN     NaN     NaN     NaN     NaN
9           NaN     NaN   ...       NaN     NaN     NaN     NaN     NaN
10          NaN     NaN   ...       NaN     NaN     NaN     NaN     NaN
11          NaN     NaN   ...       NaN     NaN     NaN     NaN     NaN
12          NaN     NaN   ...       NaN     NaN     NaN     NaN     NaN
13          NaN     NaN   ...       NaN     NaN     NaN     NaN     NaN
14          NaN     NaN   ...       NaN     NaN     NaN     NaN     NaN
15          NaN     NaN   ...       NaN     NaN     NaN     NaN     NaN
16          NaN     NaN   ...       NaN     NaN     NaN     NaN     NaN
17          NaN     NaN   ...       NaN     NaN     NaN     NaN     NaN
18          NaN     NaN   ...       NaN     NaN     NaN     NaN     NaN
19          NaN     NaN   ...       NaN     NaN     NaN     NaN     NaN
20          NaN     NaN   ...       NaN     NaN     NaN     NaN     NaN
21          NaN     NaN   ...       NaN     NaN     NaN     NaN     NaN
22          NaN     NaN   ...       NaN     NaN     NaN     NaN     NaN
23          NaN     NaN   ...       NaN     NaN     NaN     3.5     NaN
24          NaN     NaN   ...       NaN     NaN     NaN     NaN     NaN
25          NaN     NaN   ...       NaN     NaN     NaN     NaN     NaN
26          NaN     NaN   ...       NaN     NaN     NaN     NaN     NaN
27          NaN     NaN   ...       NaN     NaN     NaN     NaN     NaN
28          NaN     NaN   ...       NaN     NaN     NaN     NaN     NaN
29          NaN     NaN   ...       NaN     NaN     NaN     NaN     NaN
30          NaN     NaN   ...       NaN     NaN     NaN     NaN     NaN
...         ...     ...   ...       ...     ...     ...     ...     ...
581         NaN     NaN   ...       NaN     NaN     NaN     NaN     NaN
582         NaN     NaN   ...       NaN     NaN     NaN     NaN     NaN
583         NaN     NaN   ...       NaN     NaN     NaN     NaN     NaN
584         NaN     NaN   ...       NaN     NaN     NaN     NaN     NaN
585         NaN     NaN   ...       NaN     NaN     NaN     NaN     NaN
586         NaN     NaN   ...       NaN     NaN     NaN     NaN     NaN
587         NaN     NaN   ...       NaN     NaN     NaN     NaN     NaN
588         NaN     NaN   ...       NaN     NaN     NaN     NaN     NaN
589         NaN     NaN   ...       NaN     NaN     NaN     NaN     NaN
590         NaN     NaN   ...       NaN     NaN     NaN     NaN     4.0
591         NaN     NaN   ...       NaN     NaN     NaN     NaN     NaN
592         NaN     NaN   ...       NaN     NaN     NaN     NaN     NaN
593         NaN     NaN   ...       NaN     NaN     NaN     NaN     NaN
594         NaN     NaN   ...       NaN     NaN     NaN     NaN     NaN
595         NaN     NaN   ...       NaN     NaN     NaN     NaN     NaN
596         NaN     NaN   ...       NaN     NaN     NaN     NaN     NaN
597         NaN     4.0   ...       NaN     NaN     NaN     NaN     NaN
598         NaN     NaN   ...       NaN     NaN     NaN     NaN     NaN
599         NaN     NaN   ...       NaN     3.0     NaN     2.5     3.0
600         NaN     NaN   ...       NaN     NaN     NaN     NaN     NaN
601         NaN     NaN   ...       NaN     NaN     NaN     NaN     NaN
602         NaN     NaN   ...       NaN     NaN     NaN     NaN     NaN
603         4.0     NaN   ...       NaN     NaN     NaN     4.0     NaN
604         NaN     NaN   ...       NaN     NaN     NaN     NaN     NaN
605         NaN     NaN   ...       NaN     NaN     NaN     NaN     NaN
606         NaN     NaN   ...       NaN     NaN     3.0     NaN     NaN
607         4.0     NaN   ...       NaN     NaN     NaN     NaN     NaN
608         NaN     NaN   ...       NaN     NaN     NaN     NaN     NaN
609         NaN     NaN   ...       NaN     NaN     NaN     NaN     NaN
610         NaN     NaN   ...       NaN     NaN     NaN     NaN     NaN

movieId  4738    5628    5873    6664    6724
userId
1           NaN     NaN     NaN     NaN     NaN
2           NaN     NaN     NaN     NaN     NaN
3           NaN     NaN     NaN     NaN     NaN
4           NaN     NaN     NaN     NaN     NaN
5           NaN     NaN     NaN     NaN     NaN
6           NaN     NaN     NaN     NaN     NaN
7           NaN     NaN     NaN     NaN     NaN
8           NaN     NaN     NaN     NaN     NaN
9           NaN     NaN     NaN     NaN     NaN
10          NaN     NaN     NaN     NaN     NaN
11          NaN     NaN     NaN     NaN     NaN
12          NaN     NaN     NaN     NaN     NaN
13          NaN     NaN     NaN     NaN     NaN
14          NaN     NaN     NaN     NaN     NaN
15          NaN     NaN     NaN     NaN     NaN
16          NaN     NaN     NaN     NaN     NaN
17          NaN     NaN     NaN     NaN     NaN
18          NaN     NaN     NaN     NaN     NaN
19          NaN     NaN     NaN     NaN     NaN
20          NaN     NaN     NaN     NaN     NaN
21          NaN     NaN     NaN     NaN     NaN
22          NaN     NaN     NaN     NaN     NaN
23          NaN     NaN     NaN     NaN     NaN
24          NaN     NaN     NaN     NaN     NaN
25          NaN     NaN     NaN     NaN     NaN
26          NaN     NaN     NaN     NaN     NaN
27          NaN     NaN     NaN     NaN     NaN
28          NaN     NaN     NaN     NaN     NaN
29          NaN     NaN     NaN     NaN     NaN
30          NaN     NaN     NaN     NaN     NaN
...         ...     ...     ...     ...     ...
581         NaN     NaN     NaN     NaN     NaN
582         NaN     NaN     NaN     NaN     NaN
583         NaN     NaN     NaN     NaN     NaN
584         NaN     NaN     NaN     NaN     NaN
585         NaN     NaN     NaN     NaN     NaN
586         NaN     NaN     NaN     NaN     NaN
587         NaN     NaN     NaN     NaN     NaN
588         NaN     NaN     NaN     NaN     NaN
589         NaN     NaN     NaN     NaN     NaN
590         NaN     NaN     NaN     NaN     NaN
591         NaN     NaN     NaN     NaN     NaN
592         NaN     NaN     NaN     NaN     NaN
593         NaN     NaN     NaN     NaN     NaN
594         NaN     NaN     NaN     NaN     NaN
595         NaN     NaN     NaN     NaN     NaN
596         NaN     NaN     NaN     NaN     NaN
597         NaN     NaN     NaN     NaN     NaN
598         NaN     NaN     NaN     NaN     NaN
599         NaN     3.0     NaN     3.0     NaN
600         NaN     NaN     NaN     NaN     3.0
601         NaN     NaN     NaN     NaN     NaN
602         NaN     NaN     NaN     NaN     NaN
603         4.0     NaN     NaN     NaN     NaN
604         NaN     NaN     NaN     NaN     NaN
605         NaN     NaN     NaN     NaN     NaN
606         NaN     2.5     NaN     NaN     NaN
607         NaN     NaN     NaN     NaN     NaN
608         NaN     NaN     NaN     NaN     NaN
609         NaN     NaN     NaN     NaN     NaN
610         NaN     NaN     NaN     NaN     NaN

[610 rows x 40 columns]

ZeroDivisionError: division by zero

In [54]:
## view rated movies and movies with high ratings
def ratingMovies(user_id):
    ds = pd.merge(ratings[ratings.userId==user_id], movies, on=['movieId'])
    return ds.sort_values(by=['rating'], ascending=False)[['rating','title','genres','movieId']].head(100)
ratingMovies(1).head()

,rating,title,genres,movieId
231,5.0,M*A*S*H (a.k.a. MASH) (1970),Comedy|Drama|War,5060
185,5.0,Excalibur (1981),Adventure|Fantasy,2872
89,5.0,Indiana Jones and the Last Crusade (1989),Action|Adventure,1291
90,5.0,Pink Floyd: The Wall (1982),Drama|Musical,1298
190,5.0,From Russia with Love (1963),Action|Adventure|Thriller,2948

In [55]:
def join_movie_info(predicted_result):
    predicted_ratings = pd.DataFrame(predicted_result, columns=['movieId', 'predicted_rating'])
    result_ds = pd.merge(movies[movies.movieId > 0], predicted_ratings, on=['movieId'])
    return result_ds.sort_values(by=['predicted_rating'], ascending=False)

result_user = predictRating(2);
join_movie_info(result).head(10)

,movieId,title,genres,predicted_rating
433,2360,"Celebration, The (Festen) (1998)",Drama,4.899180
561,3328,Ghost Dog: The Way of the Samurai (1999),Crime|Drama,4.662169
781,7099,NausicaÃ¤ of the Valley of the Wind (Kaze no t...,Adventure|Animation|Drama|Fantasy|Sci-Fi,4.629608
239,1244,Manhattan (1979),Comedy|Drama|Romance,4.610808
699,5225,And Your Mother Too (Y tu mamÃ¡ tambiÃ©n) (2001),Drama|Romance,4.609613
375,2010,Metropolis (1927),Drama|Sci-Fi,4.602877
222,1212,"Third Man, The (1949)",Film-Noir|Mystery|Thriller,4.587203
65,296,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller,4.585418
427,2324,Life Is Beautiful (La Vita Ã¨ bella) (1997),Comedy|Drama|Romance|War,4.582882
194,1090,Platoon (1986),Drama|War,4.545359

In [15]:
# 5th user's star rating
userId=1
pd.merge(ratingMovies(userId), join_movie_info(predictRating(userId)), 
         on=['movieId'], how='right').sort_values(by=['predicted_rating'], ascending =False)

,rating,title_x,genres_x,movieId,title_y,genres_y,predicted_rating
3,5.0,"Princess Bride, The (1987)",Action|Adventure|Comedy|Fantasy|Romance,1197,"Princess Bride, The (1987)",Action|Adventure|Comedy|Fantasy|Romance,5.000000
12,NaN,NaN,NaN,588,Aladdin (1992),Adventure|Animation|Children|Comedy|Musical,5.000000
0,5.0,American Beauty (1999),Drama|Romance,2858,American Beauty (1999),Drama|Romance,5.000000
13,NaN,NaN,NaN,4896,Harry Potter and the Sorcerer's Stone (a.k.a. ...,Adventure|Children|Fantasy,4.886699
6,5.0,Raiders of the Lost Ark (Indiana Jones and the...,Action|Adventure,1198,Raiders of the Lost Ark (Indiana Jones and the...,Action|Adventure,4.866430
14,NaN,NaN,NaN,3147,"Green Mile, The (1999)",Crime|Drama,4.846440
8,5.0,Gladiator (2000),Action|Adventure|Drama,3578,Gladiator (2000),Action|Adventure|Drama,4.809555
15,NaN,NaN,NaN,5618,Spirited Away (Sen to Chihiro no kamikakushi) ...,Adventure|Animation|Fantasy,4.775069
11,5.0,Seven (a.k.a. Se7en) (1995),Mystery|Thriller,47,Seven (a.k.a. Se7en) (1995),Mystery|Thriller,4.771741
16,NaN,NaN,NaN,112552,Whiplash (2014),Drama,4.764554
7,5.0,Schindler's List (1993),Drama|War,527,Schindler's List (1993),Drama|War,4.763479
9,5.0,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi,260,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi,4.760956
17,NaN,NaN,NaN,318,"Shawshank Redemption, The (1994)",Crime|Drama,4.727501
18,NaN,NaN,NaN,81834,Harry Potter and the Deathly Hallows: Part 1 (...,Action|Adventure|Fantasy|IMAX,4.723981
19,NaN,NaN,NaN,2324,Life Is Beautiful (La Vita Ã¨ bella) (1997),Comedy|Drama|Romance|War,4.705324
20,NaN,NaN,NaN,89745,"Avengers, The (2012)",Action|Adventure|Sci-Fi|IMAX,4.701064
21,NaN,NaN,NaN,60069,WALLÂ·E (2008),Adventure|Animation|Children|Romance|Sci-Fi,4.699275
22,NaN,NaN,NaN,58559,"Dark Knight, The (2008)",Action|Crime|Drama|IMAX,4.692279
23,NaN,NaN,NaN,364,"Lion King, The (1994)",Adventure|Animation|Children|Drama|Musical|IMAX,4.687773
10,5.0,"Usual Suspects, The (1995)",Crime|Mystery|Thriller,50,"Usual Suspects, The (1995)",Crime|Mystery|Thriller,4.685336
5,5.0,"Matrix, The (1999)",Action|Sci-Fi|Thriller,2571,"Matrix, The (1999)",Action|Sci-Fi|Thriller,4.674731
24,NaN,NaN,NaN,76093,How to Train Your Dragon (2010),Adventure|Animation|Children|Fantasy|IMAX,4.663630
25,NaN,NaN,NaN,5816,Harry Potter and the Chamber of Secrets (2002),Adventure|Fantasy,4.644966
26,NaN,NaN,NaN,4995,"Beautiful Mind, A (2001)",Drama|Romance,4.641579
27,NaN,NaN,NaN,112852,Guardians of the Galaxy (2014),Action|Adventure|Sci-Fi,4.637824
28,NaN,NaN,NaN,8961,"Incredibles, The (2004)",Action|Adventure|Animation|Children|Comedy,4.626750
29,NaN,NaN,NaN,91529,"Dark Knight Rises, The (2012)",Action|Adventure|Crime|IMAX,4.620746
30,NaN,NaN,NaN,68954,Up (2009),Adventure|Animation|Children|Drama,4.616225
31,NaN,NaN,NaN,33794,Batman Begins (2005),Action|Crime|IMAX,4.568219
32,NaN,NaN,NaN,109487,Interstellar (2014),Sci-Fi|IMAX,4.561538
...,...,...,...,...,...,...,...
78,NaN,NaN,NaN,589,Terminator 2: Judgment Day (1991),Action|Sci-Fi,4.005546
79,NaN,NaN,NaN,99114,Django Unchained (2012),Action|Drama|Western,3.993195
80,NaN,NaN,NaN,4022,Cast Away (2000),Drama,3.977610
81,NaN,NaN,NaN,44191,V for Vendetta (2006),Action|Sci-Fi|Thriller|IMAX,3.976781
82,NaN,NaN,NaN,6539,Pirates of the Caribbean: The Curse of the Bla...,Action|Adventure|Comedy|Fantasy,3.970884
83,NaN,NaN,NaN,134130,The Martian (2015),Adventure|Drama|Sci-Fi,3.967911
84,NaN,NaN,NaN,7361,Eternal Sunshine of the Spotless Mind (2004),Drama|Romance|Sci-Fi,3.949682
85,NaN,NaN,NaN,70286,District 9 (2009),Mystery|Sci-Fi|Thriller,3.868553
86,NaN,NaN,NaN,4306,Shrek (2001),Adventure|Animation|Children|Comedy|Fantasy|Ro...,3.846849
87,NaN,NaN,NaN,1036,Die Hard (1988),Action|Crime|Thriller,3.838089
88,NaN,NaN,NaN,6942,Love Actually (2003),Comedy|Drama|Romance,3.832325
89,NaN,NaN,NaN,1584,Contact (1997),Drama|Sci-Fi,3.817914
90,NaN,NaN,NaN,4973,"Amelie (Fabuleux destin d'AmÃ©lie Poulain, Le)...",Comedy|Romance,3.782274
91,NaN,NaN,NaN,592,Batman (1989),Action|Crime|Thriller,3.781819
92,NaN,NaN,NaN,4226,Memento (2000),Mystery|Thriller,3.751220
93,NaN,NaN,NaN,49272,Casino Royale (2006),Action|Adventure|Thriller,3.749565
94,NaN,NaN,NaN,5989,Catch Me If You Can (2002),Crime|Drama,3.748497
95,NaN,NaN,NaN,5445,Minority Report (2002),Action|Crime|Mystery|Sci-Fi|Thriller,3.735333
96,NaN,NaN,NaN,77561,Iron Man 2 (2010),Action|Adventure|Sci-Fi|Thriller|IMAX,3.703729
97,NaN,NaN,NaN,783,"Hunchback of Notre Dame, The (1996)",Animation|Children|Drama|Musical|Romance,3.650914
98,NaN,NaN,NaN,597,Pretty Woman (1990),Comedy|Romance,3.602626
99,NaN,NaN,NaN,122916,Thor: Ragnarok (2017),Action|Adventure|Sci-Fi,3.558539
100,NaN,NaN,NaN,176371,Blade Runner 2049 (2017),Sci-Fi,3.519760
101,NaN,NaN,NaN,54286,"Bourne Ultimatum, The (2007)",Action|Crime|Thriller,3.510002
102,NaN,NaN,NaN,1485,Liar Liar (1997),Comedy,3.505875
103,NaN,NaN,NaN,296,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller,3.496495
104,NaN,NaN,NaN,300,Quiz Show (1994),Drama,3.239579
105,NaN,NaN,NaN,329,Star Trek: Generations (1994),Adventure|Drama|Sci-Fi,3.230377
106,NaN,NaN,NaN,1597,Conspiracy Theory (1997),Drama|Mystery|Romance|Thriller,3.087359
107,NaN,NaN,NaN,2770,Bowfinger (1999),Comedy,2.903103

In [16]:
eval_ratings = ratings
# ratings['userId'].drop_duplicates().values[:]
def eval_prediction(predict_users, n_users=50):
    ## evaluation
    ds = pd.merge(eval_ratings, ratings[['movieId','rating']].groupby(['movieId']).mean().reset_index(), 
                  on='movieId', how='left')

    ds = ds.rename(columns= {'rating_x':'rating', 'rating_y':'mean_rating'})

    st = time.time()
    ## udpate to predict_rating 
    distance_functions = [('euclidean',distance_euclidean), ('cosine', distance_cosine)]
    for name, func in distance_functions:
        ds[name] = 0
        for user_id in predict_users:
            # key: movie id, value : predicted_rating
            for x in predictRating(user_id, n_users, func):
                ds.loc[(ds.userId==user_id) & (ds.movieId==x[0]),name]=x[1]
    print('runtime', round(time.time()-st,2), 'sec')
    #Only the tuple corresponding to the user performing the predict in the entire dataFrame is returned
    return ds[ds.euclidean+ds.cosine>0]

In [17]:
## all userId list 
users = UM_matrix_ds.index.tolist()
## 10-person star rating
predicted = eval_prediction(users[:50], 50)
predicted

runtime 123.91 sec

      userId  movieId  rating   timestamp  mean_rating  euclidean    cosine
0          1        1     4.0   964982703     3.920930   4.083103  3.750041
3          1       47     5.0   964983815     3.975369   4.771741  4.500235
4          1       50     5.0   964982931     4.237745   4.685336  4.444768
7          1      110     4.0   964982176     4.031646   4.300063  4.332735
15         1      260     5.0   964981680     4.231076   4.760956  4.433199
16         1      296     3.0   964982967     4.197068   3.496495  3.999294
20         1      356     4.0   964980962     4.164134   4.386421  4.249997
25         1      457     5.0   964981909     3.992105   0.000000  4.600029
28         1      527     5.0   964984002     4.225000   4.763479  4.684109
32         1      590     4.0   964982546     3.835366   0.000000  4.286133
33         1      592     4.0   964982271     3.428571   3.781819  3.875051
34         1      593     4.0   964983793     4.161290   4.291280  3.953642
36         1      608     5.0   964982931     4.116022   0.000000  4.875131
67         1     1136     5.0   964981327     4.161765   0.000000  4.142434
68         1     1196     5.0   964981827     4.215640   0.000000  4.312800
69         1     1197     5.0   964981872     4.232394   5.000000  4.500334
70         1     1198     5.0   964981827     4.207500   4.866430  4.400767
73         1     1210     5.0   964980499     4.137755   0.000000  4.250155
75         1     1214     4.0   964981855     3.969178   0.000000  4.374270
85         1     1270     5.0   964983705     4.038012   0.000000  4.250392
87         1     1278     5.0   964983414     3.992754   4.431441  4.249424
89         1     1291     5.0   964981909     4.046429   0.000000  4.124834
121        1     2028     4.0   964981888     4.146277   4.319228  4.561504
147        1     2329     5.0   964983263     4.217054   4.223239  4.428130
166        1     2571     5.0   964981888     4.192446   4.674731  4.523830
184        1     2858     5.0   964980868     4.056373   5.000000  4.928636
192        1     2959     5.0   964983282     4.272936   4.525195  4.526299
203        1     3147     5.0   964983873     4.148649   4.846440  4.500254
219        1     3578     5.0   964980668     3.938235   4.809555  4.364374
228        1     3793     5.0   964981855     3.699248   0.000000  3.749978
...      ...      ...     ...         ...          ...        ...       ...
7092      49      318     4.0  1493089778     4.429022   4.187740  4.592610
7093      49      356     4.0  1493089782     4.164134   4.032210  4.517777
7094      49      527     4.5  1493089770     4.225000   4.589660  4.782616
7095      49     1097     4.5  1493093009     3.766393   4.865124  4.944459
7096      49     1200     4.5  1493093189     3.964286   4.509213  4.928565
7097      49     1214     4.0  1493093185     3.969178   4.019884  4.749973
7098      49     2028     4.5  1493089784     4.146277   4.595264  4.777831
7099      49     2571     4.5  1493093047     4.192446   4.498317  4.687466
7101      49     5218     4.0  1493093122     3.688235   3.838518  3.749935
7102      49     6377     4.0  1493093127     3.960993   3.912019  4.199618
7104      49    70286     4.0  1493093030     3.776923   0.000000  4.124958
7106      49    79132     4.5  1493093216     4.066434   4.383611  4.730734
7108      49   109487     4.5  1493093231     3.993151   4.742696  4.750044
7112      50        1     3.0  1514238116     3.920930   3.685064  4.272808
7113      50       32     3.0  1523740563     3.983051   3.536376  4.545049
7114      50      111     4.0  1534178790     4.105769   3.491831  4.928669
7115      50      165     3.0  1514238058     3.555556   3.124845  4.333442
7116      50      296     4.0  1500573696     4.197068   3.762847  4.812555
7117      50      318     3.5  1514237959     4.429022   4.154359  4.714678
7118      50      356     3.0  1514238146     4.164134   3.659239  4.147424
7120      50      593     3.5  1514237974     4.161290   3.887895  4.777661
7122      50      608     4.0  1514238092     4.116022   4.238281  4.909059
7127      50      858     4.0  1514240681     4.289062   3.909543  4.857043
7142      50     1198     3.5  1527106209     4.207500   0.000000  4.750691
7147      50     1208     4.5  1527106159     4.219626   0.000000  4.749581
7149      50     1225     3.5  1514238218     4.184211   0.000000  4.875192
7162      50     1291     3.0  1527371937     4.046429   0.000000  4.625350
7170      50     1580     2.5  1514237995     3.487879   0.000000  4.100107
7183      50     2571     2.5  1514237967     4.192446   0.000000  4.200503
7184      50     2657     3.0  1514238578     3.341270   0.000000  4.374560

[1329 rows x 7 columns]

In [18]:
predicted = predicted[ (predicted['cosine'] > 0) & (predicted['euclidean'] > 0) ]
def RMSE(X, left_col, right_col):
    return(np.sqrt(np.mean((X[left_col] - X[right_col])**2)))

def MAE(X, left_col, right_col):
    return(np.mean(np.absolute(X[left_col] - X[right_col])) )

for name in ['mean_rating', 'cosine', 'euclidean']:
    print ("MAE of {0} is {1} ".format(name, MAE(predicted, 'rating', name)))

for name in ['mean_rating', 'cosine', 'euclidean']:
    print ("RMSE of {0} is {1} ".format(name, RMSE(predicted, 'rating', name)))

MAE of mean_rating is 0.6732807276979298
MAE of cosine is 0.5531792589753918
MAE of euclidean is 0.40421532736958293
RMSE of mean_rating is 0.8576843201841777
RMSE of cosine is 0.7377415273102896
RMSE of euclidean is 0.5665102964641624