In [1]:
import pandas as pd
import numpy as np
import time

In [2]:
ratings = pd.read_csv("./ml-latest-small/ratings.csv")
ratings[ratings.userId==1].head(20)

    userId  movieId  rating  timestamp
0        1        1     4.0  964982703
1        1        3     4.0  964981247
2        1        6     4.0  964982224
3        1       47     5.0  964983815
4        1       50     5.0  964982931
5        1       70     3.0  964982400
6        1      101     5.0  964980868
7        1      110     4.0  964982176
8        1      151     5.0  964984041
9        1      157     5.0  964984100
10       1      163     5.0  964983650
11       1      216     5.0  964981208
12       1      223     3.0  964980985
13       1      231     5.0  964981179
14       1      235     4.0  964980908
15       1      260     5.0  964981680
16       1      296     3.0  964982967
17       1      316     3.0  964982310
18       1      333     5.0  964981179
19       1      349     4.0  964982563

In [3]:
movies = pd.read_csv('./ml-latest/movies.csv', encoding='latin-1')
print (movies.shape)
movies.head()

(58098, 3)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [4]:
num_users = ratings.userId.unique().shape[0]
num_items = ratings.movieId.unique().shape[0]
num_users, num_items

(610, 9724)

In [5]:
from sklearn import model_selection as ms
train_set, test_set = ms.train_test_split(ratings, test_size=0.25)
len(train_set), len(test_set)

(75627, 25209)

In [6]:
UM_matrix_ds = ratings.pivot(index='userId', columns='movieId', values='rating')
print("UM Matrix value size", UM_matrix_ds.values.size)
print("ratings value size", ratings.values.size)
print("Sparisity: {:4.2f}%".format(ratings.rating.values.size/UM_matrix_ds.values.size*100))
UM_matrix_ds.head(10)

UM Matrix value size 5931640
ratings value size 403344
Sparisity: 1.70%

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,NaN,4.0,NaN,NaN,4.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,4.0,5.0,3.0,5.0,4.0,4.0,3.0,NaN,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,4.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
IM_matrix_ds = ratings.pivot(index='movieId', columns='userId', values='rating')
IM_matrix_ds.head(10)

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
movieId,,,,,,,,,,,,,,,,,,,,,
1,4.0,NaN,NaN,NaN,4.0,NaN,4.5,NaN,NaN,NaN,...,4.0,NaN,4.0,3.0,4.0,2.5,4.0,2.5,3.0,5.0
2,NaN,NaN,NaN,NaN,NaN,4.0,NaN,4.0,NaN,NaN,...,NaN,4.0,NaN,5.0,3.5,NaN,NaN,2.0,NaN,NaN
3,4.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN
6,4.0,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,...,NaN,3.0,4.0,3.0,NaN,NaN,NaN,NaN,NaN,5.0
7,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2.5,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,3.0,NaN,2.0,NaN,NaN,...,NaN,3.0,NaN,NaN,NaN,NaN,NaN,4.0,4.0,NaN

In [8]:
# similarity
import math
from operator import itemgetter
from scipy.spatial import distance

def distance_cosine(a,b):
    return 1-distance.cosine(a,b)

def disance_corr(a,b):
    return 1-distance.correlation(a,b)

def distance_euclidean(a,b):
    return 1/(distance.euclidean(a,b)+1)

In [9]:
def nearest_neighbor_user(user, topN, simFunc) :  
    u1 = UM_matrix_ds.loc[user].dropna()
    ratedIndex = u1.index
    nn = {}
    
    # Brute-Force Compute
    for uid, row in UM_matrix_ds.iterrows():
        interSectionU1 = []
        interSectionU2 = []
        if uid==user:
            continue
            
        for i in ratedIndex:
            if False==math.isnan(row[i]):
                interSectionU1.append(u1[i])
                interSectionU2.append(row[i])
        interSectionLen = len(interSectionU1)
        
        # at least 3 intersection items
        if interSectionLen < 3 :
            continue
            
        # similarity functon
        sim = simFunc(interSectionU1, interSectionU2)
        
        if  math.isnan(sim) == False:
            nn[uid] = sim
            
    # top N returned         
    return sorted(nn.items(),key=itemgetter(1),reverse=True)[:(topN+1)]

In [10]:
def nearest_neighbor_item(movie, topN, simFunc):
    m1 = UM_matrix_ds[movie].dropna()
    user_index = m1.index
    nn = {}
    
    for movieId, col in UM_matrix_ds.iteritems():
        interSectionU1 = []
        interSectionU2 = []
        if movie == movieId:
            continue
        
        for i in user_index:
            if False==math.isnan(col[i]):
                interSectionU1.append(m1[i])
                interSectionU2.append(col[i])
        interSectionLen = len(interSectionU1)
        
        # at least 3 intersection items
        if interSectionLen < 3:
            continue
            
        # similarity functon
        sim = simFunc(interSectionU1, interSectionU2)
        
        if  math.isnan(sim) == False:
            nn[movieId] = sim
            
    # top N returned         
    return sorted(nn.items(),key=itemgetter(1),reverse=True)[:(topN+1)]

In [11]:
print(pd.DataFrame(nearest_neighbor_user(278, 100, distance_euclidean), columns=['userId', 'sim']))
print(pd.DataFrame(nearest_neighbor_item(1, 100, distance_euclidean), columns=['movieId', 'sim']))

     userId       sim
0         8  1.000000
1        15  1.000000
2       348  1.000000
3       352  1.000000
4       373  1.000000
5       382  1.000000
6       512  1.000000
7       566  1.000000
8       601  1.000000
9       602  1.000000
10        1  0.666667
11      296  0.666667
12      338  0.666667
13      484  0.666667
14      515  0.666667
15      572  0.666667
16       17  0.585786
17       59  0.585786
18       72  0.585786
19      178  0.585786
20      232  0.585786
21      254  0.585786
22      280  0.585786
23      282  0.585786
24      330  0.585786
25      343  0.585786
26      415  0.585786
27      418  0.585786
28      489  0.585786
29      587  0.585786
..      ...       ...
71      200  0.387426
72      202  0.387426
73      219  0.387426
74      239  0.387426
75      249  0.387426
76      152  0.376179
77      420  0.376179
78      590  0.376179
79      356  0.366025
80      105  0.356789
81      318  0.356789
82      434  0.356789
83      452  0.356789
84      552  0.356789
85      212  0.348331
86      103  0.340542
87      290  0.340542
88      331  0.333333
89      453  0.333333
90      455  0.333333
91      580  0.333333
92      265  0.326632
93      469  0.326632
94      111  0.320377
95      167  0.320377
96      275  0.320377
97      357  0.320377
98        5  0.309017
99       60  0.309017
100     109  0.309017

[101 rows x 2 columns]
     movieId       sim
0       1484  1.000000
1       2932  1.000000
2       2940  1.000000
3       2967  1.000000
4       2988  1.000000
5       3111  1.000000
6       3384  1.000000
7       4745  1.000000
8       5833  1.000000
9       5876  1.000000
10      7766  1.000000
11    178061  1.000000
12       482  0.666667
13       949  0.666667
14      1082  0.666667
15      1192  0.666667
16      1447  0.666667
17      2553  0.666667
18      2971  0.666667
19      3117  0.666667
20      3412  0.666667
21      3724  0.666667
22      4220  0.666667
23      4713  0.666667
24      5039  0.666667
25      6041  0.666667
26      6636  0.666667
27      6639  0.666667
28      7048  0.666667
29     26528  0.666667
..       ...       ...
71    162578  0.585786
72      3545  0.535898
73      3871  0.535898
74      4846  0.535898
75      4889  0.535898
76      4954  0.535898
77      5298  0.535898
78      5483  0.535898
79      7285  0.535898
80      7303  0.535898
81      8008  0.535898
82     26903  0.535898
83     30820  0.535898
84     33677  0.535898
85     40414  0.535898
86     45440  0.535898
87     49132  0.535898
88     49910  0.535898
89     80586  0.535898
90     96655  0.535898
91     98124  0.535898
92    158238  0.535898
93    180031  0.535898
94       233  0.500000
95       944  0.500000
96       948  0.500000
97      1050  0.500000
98      1051  0.500000
99      1177  0.500000
100     1332  0.500000

[101 rows x 2 columns]

In [12]:
def predictRating(id_num, nn=50, simFunc=distance_euclidean, kind = 'user') :
   
    if (kind == "user"):
        ## neighboorhood 
        neighbor = nearest_neighbor_user(id_num, nn, simFunc)
        # userid: dictionary of similarity

        neighbor_id = [id for id, sim in neighbor]
        # List of similar similarities

        ## Remove if four or more are NaN
        neighbor_movie = UM_matrix_ds.loc[neighbor_id].dropna(1, how = 'all', thresh = 2)
        # User id x DataFrame of movie id. However, if the NaN of the column is 4 or more, it is deleted.

        neighbor_dic = dict(neighbor)
        ret = [] 
        #['movieId', 'predictedRate']

        # iterate through each column key: userid, column: movieid, value: rating
        for movieId, row in neighbor_movie.iteritems():
            jsum, wsum = 0, 0
            for v in row.dropna().iteritems():
                sim = neighbor_dic.get(v[0],0)
                jsum += sim
                wsum += (v[1]*sim)
            ret.append([movieId, wsum/jsum])

        return ret
    
    elif (kind == 'item'):
        neighbor = nearest_neighbor_item(id_num, nn, simFunc)
        
        neighbor_id = [id for id, sim in neighbor]
        
        neighbor_ratedUser = UM_matrix_ds[neighbor_id].dropna(0, how = 'all', thresh = 2)
        
        neighbor_dic = dict(neighbor)
        ret = []
        
        for userId, row in neighbor_ratedUser.iterrows():
            jsum, wsum = 0, 0
            for v in row.dropna().iteritems():
                sim = neighbor_dic.get(v[0], 0)
                jsum += sim
                wsum += (v[1]*sim)
            ret.append([userId, wsum/jsum])
        
        return ret

In [13]:
# predictRating(1, 100, kind = 'user')
predictRating(1, 50, kind = 'item')

[[50, 3.333333333333333],
 [51, 4.25],
 [66, 4.0],
 [103, 4.25],
 [105, 4.333333333333333],
 [125, 4.0],
 [140, 3.1169278186182687],
 [182, 4.096214921515367],
 [186, 4.0],
 [199, 3.5],
 [202, 4.0],
 [221, 3.652618519826359],
 [249, 4.4],
 [260, 4.467711274473075],
 [274, 3.815300968740935],
 [275, 5.0],
 [290, 4.0],
 [313, 4.0],
 [318, 3.1249999999999996],
 [325, 4.0],
 [368, 3.0],
 [377, 3.75],
 [380, 4.999999999999999],
 [387, 3.5739934013937824],
 [414, 3.980591134835224],
 [422, 4.0],
 [469, 4.0],
 [474, 3.7895693619823407],
 [479, 4.2],
 [483, 3.9677112744730745],
 [489, 3.766144362763463],
 [509, 4.0],
 [514, 4.0],
 [534, 4.0],
 [555, 4.0],
 [590, 4.0],
 [597, 4.0],
 [599, 2.8977036061322035],
 [600, 2.4677112744730745],
 [603, 4.0],
 [606, 2.6348760716949085]]

In [14]:
## view rated movies and movies with high ratings
def ratingMovies(user_id):
    ds = pd.merge(ratings[ratings.userId==user_id], movies, on=['movieId'])
    return ds.sort_values(by=['rating'], ascending=False)[['rating','title','genres','movieId']].head(100)
ratingMovies(1).head()

,rating,title,genres,movieId
231,5.0,M*A*S*H (a.k.a. MASH) (1970),Comedy|Drama|War,5060
185,5.0,Excalibur (1981),Adventure|Fantasy,2872
89,5.0,Indiana Jones and the Last Crusade (1989),Action|Adventure,1291
90,5.0,Pink Floyd: The Wall (1982),Drama|Musical,1298
190,5.0,From Russia with Love (1963),Action|Adventure|Thriller,2948

In [15]:
def join_movie_info(predicted_result, movie = 1, kind = 'user'):
    if (kind == 'user'):
        predicted_ratings = pd.DataFrame(predicted_result, columns=['movieId', 'predicted_rating'])
        result_ds = pd.merge(movies[movies.movieId > 0], predicted_ratings, on=['movieId'])
        return result_ds.sort_values(by=['predicted_rating'], ascending=False)
    
    elif (kind == 'item'):
        predicted_ratings = pd.DataFrame(predicted_result, columns=['userId', 'predicted_rating'])
        return predicted_ratings.sort_values(by=['predicted_rating'], ascending=False)
    
result_user = predictRating(50, kind = 'user') # prediction of user #50
result_item = predictRating(1, kind = 'item') # prediction of movie #1
join_movie_info(result_user, kind = 'user').head(10)

,movieId,title,genres,predicted_rating
35,76,Screamers (1995),Action|Sci-Fi|Thriller,5.000000
288,3499,Misery (1990),Drama|Horror|Thriller,4.795540
236,1221,"Godfather: Part II, The (1974)",Crime|Drama,4.768673
233,1213,Goodfellas (1990),Crime|Drama,4.712773
247,1358,Sling Blade (1996),Drama,4.543199
147,541,Blade Runner (1982),Action|Sci-Fi|Thriller,4.542570
298,5952,"Lord of the Rings: The Two Towers, The (2002)",Adventure|Fantasy,4.540473
221,1089,Reservoir Dogs (1992),Crime|Mystery|Thriller,4.516075
262,1961,Rain Man (1988),Drama,4.514331
255,1673,Boogie Nights (1997),Drama,4.512385

In [16]:
join_movie_info(result_item, kind = 'item').head(10)

    userId  predicted_rating
15     275          5.000000
22     380          5.000000
13     260          4.467711
12     249          4.400000
4      105          4.333333
1       51          4.250000
3      103          4.250000
28     479          4.200000
7      182          4.096215
36     597          4.000000

In [17]:
# 5th user's star rating
userId=1
pd.merge(ratingMovies(userId), join_movie_info(predictRating(userId)), 
         on=['movieId'], how='right').sort_values(by=['predicted_rating'], ascending =False)

,rating,title_x,genres_x,movieId,title_y,genres_y,predicted_rating
25,NaN,NaN,NaN,3996,"Crouching Tiger, Hidden Dragon (Wo hu cang lon...",Action|Drama|Romance,5.000000
35,NaN,NaN,NaN,1982,Halloween (1978),Horror,5.000000
34,NaN,NaN,NaN,6502,28 Days Later (2002),Action|Horror|Sci-Fi,5.000000
1,5.0,L.A. Confidential (1997),Crime|Film-Noir|Mystery|Thriller,1617,L.A. Confidential (1997),Crime|Film-Noir|Mystery|Thriller,5.000000
33,NaN,NaN,NaN,1203,12 Angry Men (1957),Drama,5.000000
7,5.0,"Princess Bride, The (1987)",Action|Adventure|Comedy|Fantasy|Romance,1197,"Princess Bride, The (1987)",Action|Adventure|Comedy|Fantasy|Romance,5.000000
32,NaN,NaN,NaN,923,Citizen Kane (1941),Drama|Mystery,5.000000
31,NaN,NaN,NaN,381,When a Man Loves a Woman (1994),Drama|Romance,5.000000
30,NaN,NaN,NaN,177593,"Three Billboards Outside Ebbing, Missouri (2017)",Crime|Drama,5.000000
29,NaN,NaN,NaN,25,Leaving Las Vegas (1995),Drama|Romance,5.000000
28,NaN,NaN,NaN,17,Sense and Sensibility (1995),Drama|Romance,5.000000
27,NaN,NaN,NaN,588,Aladdin (1992),Adventure|Animation|Children|Comedy|Musical,5.000000
26,NaN,NaN,NaN,2396,Shakespeare in Love (1998),Comedy|Drama|Romance,5.000000
15,5.0,Fargo (1996),Comedy|Crime|Drama|Thriller,608,Fargo (1996),Comedy|Crime|Drama|Thriller,5.000000
0,5.0,American Beauty (1999),Drama|Romance,2858,American Beauty (1999),Drama|Romance,5.000000
36,NaN,NaN,NaN,4896,Harry Potter and the Sorcerer's Stone (a.k.a. ...,Adventure|Children|Fantasy,4.886699
37,NaN,NaN,NaN,5971,My Neighbor Totoro (Tonari no Totoro) (1988),Animation|Children|Drama|Fantasy,4.872022
12,5.0,Raiders of the Lost Ark (Indiana Jones and the...,Action|Adventure,1198,Raiders of the Lost Ark (Indiana Jones and the...,Action|Adventure,4.866430
38,NaN,NaN,NaN,1221,"Godfather: Part II, The (1974)",Crime|Drama,4.861001
39,NaN,NaN,NaN,5902,Adaptation (2002),Comedy|Drama|Romance,4.852610
40,NaN,NaN,NaN,3147,"Green Mile, The (1999)",Crime|Drama,4.846440
41,NaN,NaN,NaN,168252,Logan (2017),Action|Sci-Fi,4.821429
19,5.0,Gladiator (2000),Action|Adventure|Drama,3578,Gladiator (2000),Action|Adventure|Drama,4.809555
6,5.0,Star Wars: Episode VI - Return of the Jedi (1983),Action|Adventure|Sci-Fi,1210,Star Wars: Episode VI - Return of the Jedi (1983),Action|Adventure|Sci-Fi,4.802776
14,5.0,Star Wars: Episode V - The Empire Strikes Back...,Action|Adventure|Sci-Fi,1196,Star Wars: Episode V - The Empire Strikes Back...,Action|Adventure|Sci-Fi,4.787542
42,NaN,NaN,NaN,66934,Dr. Horrible's Sing-Along Blog (2008),Comedy|Drama|Musical|Sci-Fi,4.784788
43,NaN,NaN,NaN,62,Mr. Holland's Opus (1995),Drama,4.784201
44,NaN,NaN,NaN,5618,Spirited Away (Sen to Chihiro no kamikakushi) ...,Adventure|Animation|Fantasy,4.775069
24,5.0,Seven (a.k.a. Se7en) (1995),Mystery|Thriller,47,Seven (a.k.a. Se7en) (1995),Mystery|Thriller,4.771741
45,NaN,NaN,NaN,6711,Lost in Translation (2003),Comedy|Drama|Romance,4.767261
...,...,...,...,...,...,...,...
317,NaN,NaN,NaN,1407,Scream (1996),Comedy|Horror|Mystery|Thriller,3.000000
318,NaN,NaN,NaN,468,Englishman Who Went Up a Hill But Came Down a ...,Comedy|Romance,3.000000
319,NaN,NaN,NaN,350,"Client, The (1994)",Drama|Mystery|Thriller,3.000000
320,NaN,NaN,NaN,81,Things to Do in Denver When You're Dead (1995),Crime|Drama|Romance,3.000000
321,NaN,NaN,NaN,371,"Paper, The (1994)",Comedy|Drama,3.000000
322,NaN,NaN,NaN,85414,Source Code (2011),Action|Drama|Mystery|Sci-Fi|Thriller,2.993611
323,NaN,NaN,NaN,104,Happy Gilmore (1996),Comedy,2.980137
324,NaN,NaN,NaN,73321,"Book of Eli, The (2010)",Action|Adventure|Drama,2.936700
325,NaN,NaN,NaN,380,True Lies (1994),Action|Adventure|Comedy|Romance|Thriller,2.927369
326,NaN,NaN,NaN,1414,Mother (1996),Comedy,2.906164
327,NaN,NaN,NaN,1639,Chasing Amy (1997),Comedy|Drama|Romance,2.906164
328,NaN,NaN,NaN,2770,Bowfinger (1999),Comedy,2.903103
329,NaN,NaN,NaN,175569,Wind River (2017),Action|Crime|Mystery|Thriller,2.788363
330,NaN,NaN,NaN,2100,Splash (1984),Comedy|Fantasy|Romance,2.766502
331,NaN,NaN,NaN,7438,Kill Bill: Vol. 2 (2004),Action|Drama|Thriller,2.738796
332,NaN,NaN,NaN,31,Dangerous Minds (1995),Drama,2.677328
333,NaN,NaN,NaN,122886,Star Wars: Episode VII - The Force Awakens (2015),Action|Adventure|Fantasy|Sci-Fi|IMAX,2.652588
334,NaN,NaN,NaN,187541,Incredibles 2 (2018),Action|Adventure|Animation|Children,2.572183
335,NaN,NaN,NaN,2968,Time Bandits (1981),Adventure|Comedy|Fantasy|Sci-Fi,2.559155
336,NaN,NaN,NaN,97921,Silver Linings Playbook (2012),Comedy|Drama,2.558336
337,NaN,NaN,NaN,743,Spy Hard (1996),Comedy,2.555791
338,NaN,NaN,NaN,185,"Net, The (1995)",Action|Crime|Thriller,2.523373
339,NaN,NaN,NaN,4878,Donnie Darko (2001),Drama|Mystery|Sci-Fi|Thriller,2.382306
340,NaN,NaN,NaN,1479,"Saint, The (1997)",Action|Romance|Sci-Fi|Thriller,2.000000
341,NaN,NaN,NaN,1438,Dante's Peak (1997),Action|Thriller,2.000000
342,NaN,NaN,NaN,87232,X-Men: First Class (2011),Action|Adventure|Sci-Fi|Thriller|War,1.979274
343,NaN,NaN,NaN,1556,Speed 2: Cruise Control (1997),Action|Romance|Thriller,1.525505
344,NaN,NaN,NaN,327,Tank Girl (1995),Action|Comedy|Sci-Fi,1.442902
345,NaN,NaN,NaN,3264,Buffy the Vampire Slayer (1992),Action|Comedy|Horror,1.327897
346,NaN,NaN,NaN,1371,Star Trek: The Motion Picture (1979),Adventure|Sci-Fi,1.257616

In [18]:
eval_ratings = ratings

def eval_prediction(predict_users, n_users=50, kind = 'user'):
    if (kind == 'user'):
        ## evaluation
        ds = pd.merge(eval_ratings, ratings[['movieId','rating']].groupby(['movieId']).mean().reset_index(), 
                      on='movieId', how='left')

        ds = ds.rename(columns= {'rating_x':'rating', 'rating_y':'mean_rating'})
        st = time.time()
        ## udpate to predict_rating 
        user_distance_functions = [('user_euclidean',distance_euclidean), ('user_cosine', distance_cosine)]
        for name, func in user_distance_functions:
            ds[name] = 0
            for user_id in predict_users:
                # key: movie id, value : predicted_rating
                for x in predictRating(user_id, n_users, func):
                    ds.loc[(ds.userId==user_id) & (ds.movieId==x[0]),name]=x[1]
        #Only the tuple corresponding to the user performing the predict in the entire dataFrame is returned
        return ds[ds.user_euclidean+ds.user_cosine >0]

                    
    elif (kind == 'item'):
        ## evaluation
        ds = pd.merge(eval_ratings, ratings[['movieId','rating']].groupby(['movieId']).mean().reset_index(), 
                      on='movieId', how='left')

        ds = ds.rename(columns= {'rating_x':'rating', 'rating_y':'mean_rating'})
        st = time.time()
        ## udpate to predict_rating 
        item_distance_functions = [('item_euclidean', distance_euclidean), ('item_cosine', distance_cosine)]
    
    print('runtime', round(time.time()-st,2), 'sec')

In [ ]:
## all userId list 
users = UM_matrix_ds.index.tolist()
## 10-person star rating
predicted_user = eval_prediction(users[:50], 100, kind = 'user')

predicted_user = predicted_user[(predicted_user['user_cosine'] > 0) & (predicted_user['user_euclidean'] > 0)]

def RMSE(X, left_col, right_col):
    return(np.sqrt(np.mean((X[left_col] - X[right_col])**2)))

def MAE(X, left_col, right_col):
    return(np.mean(np.absolute(X[left_col] - X[right_col])) )

for name in ['mean_rating', 'user_cosine', 'user_euclidean']:
    print ("MAE of {0} is {1} ".format(name, MAE(predicted_user, 'rating', name)))

for name in ['mean_rating', 'user_cosine', 'user_euclidean']:
    print ("RMSE of {0} is {1} ".format(name, RMSE(predicted_user, 'rating', name)))

In [ ]:
k_array = [5, 15, 30, 50, 100, 200]
user_mean_MAE = []
user_mean_RMSE = []
user_cosine_MAE = []
user_cosine_RMSE = []
user_euc_MAE = []
user_euc_RMSE = []

for k in k_array:
    predicted_user = eval_prediction(users[:50], k, kind = 'user')

    predicted_user = predicted_user[(predicted_user['user_cosine'] > 0) & (predicted_user['user_euclidean'] > 0)]
    
    for name in ['mean_rating', 'user_cosine', 'user_euclidean']:
        if (name == 'mean_rating'):
            user_mean_MAE.append(MAE(predicted_user, 'rating', name))
            user_mean_RMSE.append(RMSE(predicted_user, 'rating', name))
        elif (name == 'user_cosine'):
            user_cosine_MAE.append(MAE(predicted_user, 'rating', name))
            user_cosine_RMSE.append(RMSE(predicted_user, 'rating', name))
        elif (name == 'user_euclidean'):
            user_euc_MAE.append(MAE(predicted_user, 'rating', name))
            user_euc_RMSE.append(RMSE(predicted_user, 'rating', name))

%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

pal = sns.color_palette("Set2", 2)
plt.figure(figsize=(8, 8))
plt.plot(k_array, user_mean_MAE, c=pal[0], label='User mean MAE', linewidth=5)
plt.plot(k_array, user_cosine_MAE, c=pal[1], label='User cosine MAE', linewidth=5)
plt.plot(k_array, user_euc_MAE, c=pal[2], label='User euclidean MAE', linewidth=5)
plt.legend(loc='best', fontsize=20)
plt.xticks(fontsize=16);
plt.yticks(fontsize=16);
plt.xlabel('k', fontsize=30);
plt.ylabel('MAE', fontsize=30);

In [ ]:
sns.set()

pal = sns.color_palette("Set2", 2)
plt.figure(figsize=(8, 8))
plt.plot(k_array, user_mean_RMSE, c=pal[0], label='User mean RMSE', linewidth=5)
plt.plot(k_array, user_cosine_RMSE, c=pal[1], label='User cosine RMSE', linewidth=5)
plt.plot(k_array, user_euc_RMSE, c=pal[2], label='User euclidean RMSE', linewidth=5)
plt.legend(loc='best', fontsize=20)
plt.xticks(fontsize=16);
plt.yticks(fontsize=16);
plt.xlabel('k', fontsize=30);
plt.ylabel('RMSE', fontsize=30);