In [1]:
import pandas as pd
import numpy as np
import time

In [2]:
ratings = pd.read_csv("./ml-latest-small/ratings.csv")
ratings[ratings.userId==1].head(10)

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931
5       1       70     3.0  964982400
6       1      101     5.0  964980868
7       1      110     4.0  964982176
8       1      151     5.0  964984041
9       1      157     5.0  964984100

In [3]:
movies = pd.read_csv('./ml-latest/movies.csv', encoding='latin-1')
print (movies.shape)
movies.head()

(58098, 3)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [4]:
num_users = ratings.userId.unique().shape[0]
num_items = ratings.movieId.unique().shape[0]
num_users, num_items

(610, 9724)

In [5]:
from sklearn import model_selection as ms
train_set, test_set = ms.train_test_split(ratings, test_size=0.25)
len(train_set), len(test_set)

(75627, 25209)

In [6]:
user_movie_matrix = train_set.pivot(index='userId', columns='movieId', values='rating')
print("UM Matrix value size", user_movie_matrix.values.size)
print("ratings value size", ratings.values.size)
print("Sparisity: {:4.2f}%".format(ratings.rating.values.size/user_movie_matrix.values.size*100))
user_movie_matrix.head(10)

UM Matrix value size 5341770
ratings value size 403344
Sparisity: 1.89%

movieId,1,2,3,4,5,6,7,8,9,10,...,190209,190215,191005,193565,193567,193571,193573,193579,193581,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,4.0,5.0,NaN,5.0,4.0,4.0,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,4.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
# similarity
import math
from operator import itemgetter
from scipy.spatial import distance

def distance_cosine(a,b):
    return 1-distance.cosine(a,b)

def disance_corr(a,b):
    return 1-distance.correlation(a,b)

def distance_euclidean(a,b):
    return 1/(distance.euclidean(a,b)+1)

In [8]:
def nearest_neighbor_user(user, topN, simFunc) :  
    u1 = user_movie_matrix.loc[user].dropna()
    ratedIndex = u1.index
    nn = {}
    
    # Brute-Force Compute
    for uid, row in user_movie_matrix.iterrows():
        interSectionU1 = []
        interSectionU2 = []
        if uid==user:
            continue
            
        for i in ratedIndex:
            if False==math.isnan(row[i]):
                interSectionU1.append(u1[i])
                interSectionU2.append(row[i])
        interSectionLen = len(interSectionU1)
        
        # at least 3 intersection items
        if interSectionLen < 3 :
            continue
            
        # similarity functon
        sim = simFunc(interSectionU1, interSectionU2)
        
        if  math.isnan(sim) == False:
            nn[uid] = sim
            
    # top N returned         
    return sorted(nn.items(),key=itemgetter(1),reverse=True)[:(topN+1)]

In [9]:
def nearest_neighbor_item(movie, topN, simFunc):
    m1 = user_movie_matrix[movie].dropna()
    user_index = m1.index
    nn = {}
    
    for movieId, col in user_movie_matrix.iteritems():
        interSectionU1 = []
        interSectionU2 = []
        if movie == movieId:
            continue
        
        for i in user_index:
            if False==math.isnan(col[i]):
                interSectionU1.append(m1[i])
                interSectionU2.append(col[i])
        interSectionLen = len(interSectionU1)
        
        # at least 3 intersection items
        if interSectionLen < 3:
            continue
            
        # similarity functon
        sim = simFunc(interSectionU1, interSectionU2)
        
        if  math.isnan(sim) == False:
            nn[movieId] = sim
            
    # top N returned         
    return sorted(nn.items(),key=itemgetter(1),reverse=True)[:(topN+1)]

In [10]:
print(pd.DataFrame(nearest_neighbor_user(278, 100, distance_euclidean), columns=['userId', 'sim']).head())
print(pd.DataFrame(nearest_neighbor_item(1, 100, distance_euclidean), columns=['movieId', 'sim']).head())

   userId  sim
0     348  1.0
1     352  1.0
2     372  1.0
3     382  1.0
4     566  1.0
   movieId  sim
0     2240  1.0
1     2346  1.0
2     2932  1.0
3     2940  1.0
4     2988  1.0

In [11]:
def predictRating(id_num, nn=50, simFunc=distance_euclidean, kind = 'user') :
   
    if (kind == "user"):
        ## neighboorhood 
        neighbor = nearest_neighbor_user(id_num, nn, simFunc)

        neighbor_id = [id for id, sim in neighbor]
        # List of similar similarities

        ## Remove if two or more are NaN
        neighbor_movie = user_movie_matrix.loc[neighbor_id].dropna(1, how = 'all', thresh = 2)
        # User id x DataFrame of movie id. However, if the NaN of the column is 2 or more, it is deleted.

        neighbor_dic = dict(neighbor)
        ret = [] 
        #['movieId', 'predictedRate']

        # iterate through each column key: userid, column: movieid, value: rating
        for movieId, row in neighbor_movie.iteritems():
            jsum, wsum = 0, 0
            for v in row.dropna().iteritems():
                sim = neighbor_dic.get(v[0],0)
                jsum += sim
                wsum += (v[1]*sim)
            ret.append([movieId, wsum/jsum])

        return ret
    
    elif (kind == 'item'):
        neighbor = nearest_neighbor_item(id_num, nn, simFunc)
        
        neighbor_id = [id for id, sim in neighbor]
        
        neighbor_ratedUser = user_movie_matrix[neighbor_id].dropna(0, how = 'all', thresh = 2)
        
        neighbor_dic = dict(neighbor)
        ret = []
        
        for userId, row in neighbor_ratedUser.iterrows():
            jsum, wsum = 0, 0
            for v in row.dropna().iteritems():
                sim = neighbor_dic.get(v[0], 0)
                jsum += sim
                wsum += (v[1]*sim)
            ret.append([userId, wsum/jsum])
        
        return ret

In [12]:
# predictRating(1, 100, kind = 'user')
predictRating(1, 50, kind = 'item')

[[4, 4.369398062518129],
 [28, 3.511277892652928],
 [50, 3.25],
 [66, 4.0],
 [74, 4.1000000000000005],
 [79, 5.0],
 [91, 4.0],
 [103, 4.166666666666666],
 [105, 4.297383103456151],
 [122, 4.5],
 [125, 3.899216544145194],
 [137, 3.815300968740935],
 [140, 3.180549059791262],
 [182, 3.9305433172807045],
 [187, 4.25],
 [202, 4.333333333333333],
 [221, 3.9000000000000004],
 [226, 4.184699031259064],
 [246, 5.0],
 [249, 4.333333333333333],
 [274, 4.142857142857143],
 [275, 4.999999999999999],
 [279, 3.6000000000000005],
 [287, 3.375],
 [290, 4.0],
 [298, 1.871090153276831],
 [305, 3.4999999999999996],
 [313, 4.060450456249269],
 [318, 3.833333333333333],
 [326, 3.766144362763463],
 [334, 3.630032993031085],
 [339, 4.0],
 [372, 2.3333333333333335],
 [380, 4.666666666666667],
 [387, 2.85],
 [414, 4.002593046595799],
 [422, 4.0],
 [438, 4.159333542845812],
 [448, 4.800000000000001],
 [474, 3.8332100208525426],
 [480, 2.5],
 [483, 4.0],
 [489, 2.875],
 [517, 1.4677112744730747],
 [527, 4.4],
 [534, 4.233855637236537],
 [555, 3.738796125036258],
 [580, 3.0],
 [597, 4.0],
 [599, 2.9300966672326125],
 [603, 4.0],
 [606, 2.5],
 [610, 4.916666666666667]]

In [13]:
## view rated movies and movies with high ratings
def ratingMovies(user_id):
    ds = pd.merge(train_set[train_set.userId==user_id], movies, on=['movieId'])
    return ds.sort_values(by=['rating'], ascending=False)[['rating','title','genres','movieId']].head(100)
ratingMovies(1).head()

,rating,title,genres,movieId
231,5.0,M*A*S*H (a.k.a. MASH) (1970),Comedy|Drama|War,5060
185,5.0,Excalibur (1981),Adventure|Fantasy,2872
89,5.0,Indiana Jones and the Last Crusade (1989),Action|Adventure,1291
90,5.0,Pink Floyd: The Wall (1982),Drama|Musical,1298
190,5.0,From Russia with Love (1963),Action|Adventure|Thriller,2948

In [14]:
def join_movie_info(predicted_result, movie = 1, kind = 'user'):
    if (kind == 'user'):
        predicted_ratings = pd.DataFrame(predicted_result, columns=['movieId', 'predicted_rating'])
        result_ds = pd.merge(movies[movies.movieId > 0], predicted_ratings, on=['movieId'])
        return result_ds.sort_values(by=['predicted_rating'], ascending=False)
    
    elif (kind == 'item'):
        predicted_ratings = pd.DataFrame(predicted_result, columns=['userId', 'predicted_rating'])
        return predicted_ratings.sort_values(by=['predicted_rating'], ascending=False)
    
result_user = predictRating(50, kind = 'user') # prediction of user #50
result_item = predictRating(1, kind = 'item') # prediction of movie #1
join_movie_info(result_user, kind = 'user').head(10)

,movieId,title,genres,predicted_rating
85,290,Once Were Warriors (1994),Crime|Drama,5.000000
210,922,Sunset Blvd. (a.k.a. Sunset Boulevard) (1950),Drama|Film-Noir|Romance,5.000000
280,1235,Harold and Maude (1971),Comedy|Drama|Romance,5.000000
305,1299,"Killing Fields, The (1984)",Drama|War,5.000000
81,265,Like Water for Chocolate (Como agua para choco...,Drama|Fantasy|Romance,5.000000
382,2324,Life Is Beautiful (La Vita Ã¨ bella) (1997),Comedy|Drama|Romance|War,4.814796
180,750,Dr. Strangelove or: How I Learned to Stop Worr...,Comedy|War,4.810175
208,919,"Wizard of Oz, The (1939)",Adventure|Children|Fantasy|Musical,4.790946
441,3147,"Green Mile, The (1999)",Crime|Drama,4.784476
304,1293,Gandhi (1982),Drama,4.775243

In [15]:
join_movie_info(result_item, kind = 'item').head(10)

    userId  predicted_rating
5       79          5.000000
18     246          5.000000
21     275          5.000000
52     610          4.916667
38     448          4.800000
33     380          4.666667
9      122          4.500000
44     527          4.400000
0        4          4.369398
19     249          4.333333

In [16]:
# 5th user's star rating
userId=1
pd.merge(ratingMovies(userId), join_movie_info(predictRating(userId)), 
         on=['movieId'], how='right').sort_values(by=['predicted_rating'], ascending =False)

,rating,title_x,genres_x,movieId,title_y,genres_y,predicted_rating
11,5.0,Star Wars: Episode V - The Empire Strikes Back...,Action|Adventure|Sci-Fi,1196,Star Wars: Episode V - The Empire Strikes Back...,Action|Adventure|Sci-Fi,5.000000
6,5.0,"Princess Bride, The (1987)",Action|Adventure|Comedy|Fantasy|Romance,1197,"Princess Bride, The (1987)",Action|Adventure|Comedy|Fantasy|Romance,5.000000
25,NaN,NaN,NaN,1172,Cinema Paradiso (Nuovo cinema Paradiso) (1989),Drama,5.000000
26,NaN,NaN,NaN,272,"Madness of King George, The (1994)",Comedy|Drama,5.000000
27,NaN,NaN,NaN,1193,One Flew Over the Cuckoo's Nest (1975),Drama,5.000000
28,NaN,NaN,NaN,6,Heat (1995),Action|Crime|Thriller,5.000000
29,NaN,NaN,NaN,65261,Ponyo (Gake no ue no Ponyo) (2008),Adventure|Animation|Children|Fantasy,5.000000
5,5.0,Star Wars: Episode VI - Return of the Jedi (1983),Action|Adventure|Sci-Fi,1210,Star Wars: Episode VI - Return of the Jedi (1983),Action|Adventure|Sci-Fi,5.000000
30,NaN,NaN,NaN,1203,12 Angry Men (1957),Drama,5.000000
31,NaN,NaN,NaN,7153,"Lord of the Rings: The Return of the King, The...",Action|Adventure|Drama|Fantasy,5.000000
32,NaN,NaN,NaN,112852,Guardians of the Galaxy (2014),Action|Adventure|Sci-Fi,5.000000
33,NaN,NaN,NaN,36,Dead Man Walking (1995),Crime|Drama,5.000000
34,NaN,NaN,NaN,122904,Deadpool (2016),Action|Adventure|Comedy|Sci-Fi,5.000000
35,NaN,NaN,NaN,3147,"Green Mile, The (1999)",Crime|Drama,4.914030
36,NaN,NaN,NaN,81845,"King's Speech, The (2010)",Drama,4.873077
16,5.0,Gladiator (2000),Action|Adventure|Drama,3578,Gladiator (2000),Action|Adventure|Drama,4.860718
37,NaN,NaN,NaN,8636,Spider-Man 2 (2004),Action|Adventure|Sci-Fi|IMAX,4.844949
38,NaN,NaN,NaN,8874,Shaun of the Dead (2004),Comedy|Horror,4.838996
39,NaN,NaN,NaN,81834,Harry Potter and the Deathly Hallows: Part 1 (...,Action|Adventure|Fantasy|IMAX,4.838307
40,NaN,NaN,NaN,106782,"Wolf of Wall Street, The (2013)",Comedy|Crime|Drama,4.816228
41,NaN,NaN,NaN,5952,"Lord of the Rings: The Two Towers, The (2002)",Adventure|Fantasy,4.810944
42,NaN,NaN,NaN,3996,"Crouching Tiger, Hidden Dragon (Wo hu cang lon...",Action|Drama|Romance,4.809273
43,NaN,NaN,NaN,4993,"Lord of the Rings: The Fellowship of the Ring,...",Adventure|Fantasy,4.798903
44,NaN,NaN,NaN,116797,The Imitation Game (2014),Drama|Thriller|War,4.792478
45,NaN,NaN,NaN,5816,Harry Potter and the Chamber of Secrets (2002),Adventure|Fantasy,4.786699
46,NaN,NaN,NaN,112552,Whiplash (2014),Drama,4.781714
47,NaN,NaN,NaN,1089,Reservoir Dogs (1992),Crime|Mystery|Thriller,4.776857
23,5.0,"Usual Suspects, The (1995)",Crime|Mystery|Thriller,50,"Usual Suspects, The (1995)",Crime|Mystery|Thriller,4.769505
48,NaN,NaN,NaN,16,Casino (1995),Crime|Drama,4.762030
49,NaN,NaN,NaN,62,Mr. Holland's Opus (1995),Drama,4.754364
...,...,...,...,...,...,...,...
291,NaN,NaN,NaN,736,Twister (1996),Action|Adventure|Romance|Thriller,3.226541
292,NaN,NaN,NaN,185,"Net, The (1995)",Action|Crime|Thriller,3.157121
293,NaN,NaN,NaN,316,Stargate (1994),Action|Adventure|Sci-Fi,3.136007
294,NaN,NaN,NaN,648,Mission: Impossible (1996),Action|Adventure|Mystery|Thriller,3.108194
295,NaN,NaN,NaN,19,Ace Ventura: When Nature Calls (1995),Comedy,3.040843
296,NaN,NaN,NaN,176371,Blade Runner 2049 (2017),Sci-Fi,3.032757
297,NaN,NaN,NaN,39183,Brokeback Mountain (2005),Drama|Romance,3.000000
298,NaN,NaN,NaN,288,Natural Born Killers (1994),Action|Crime|Thriller,3.000000
299,NaN,NaN,NaN,350,"Client, The (1994)",Drama|Mystery|Thriller,3.000000
300,NaN,NaN,NaN,7099,NausicaÃ¤ of the Valley of the Wind (Kaze no t...,Adventure|Animation|Drama|Fantasy|Sci-Fi,3.000000
302,NaN,NaN,NaN,828,"Adventures of Pinocchio, The (1996)",Adventure|Children,3.000000
301,NaN,NaN,NaN,371,"Paper, The (1994)",Comedy|Drama,3.000000
303,NaN,NaN,NaN,253,Interview with the Vampire: The Vampire Chroni...,Drama|Horror,2.970045
304,NaN,NaN,NaN,410,Addams Family Values (1993),Children|Comedy|Fantasy,2.938239
305,NaN,NaN,NaN,175569,Wind River (2017),Action|Crime|Mystery|Thriller,2.908568
306,NaN,NaN,NaN,160,Congo (1995),Action|Adventure|Mystery|Sci-Fi,2.845299
307,NaN,NaN,NaN,500,Mrs. Doubtfire (1993),Comedy|Drama,2.758445
308,NaN,NaN,NaN,208,Waterworld (1995),Action|Adventure|Sci-Fi,2.742511
309,NaN,NaN,NaN,4878,Donnie Darko (2001),Drama|Mystery|Sci-Fi|Thriller,2.729421
310,NaN,NaN,NaN,7438,Kill Bill: Vol. 2 (2004),Action|Drama|Thriller,2.714286
311,NaN,NaN,NaN,59900,You Don't Mess with the Zohan (2008),Comedy,2.641726
312,NaN,NaN,NaN,97921,Silver Linings Playbook (2012),Comedy|Drama,2.580401
313,NaN,NaN,NaN,204,Under Siege 2: Dark Territory (1995),Action,2.555556
314,NaN,NaN,NaN,357,Four Weddings and a Funeral (1994),Comedy|Romance,2.500000
315,NaN,NaN,NaN,9,Sudden Death (1995),Action,2.500000
316,NaN,NaN,NaN,122886,Star Wars: Episode VII - The Force Awakens (2015),Action|Adventure|Fantasy|Sci-Fi|IMAX,2.445379
317,NaN,NaN,NaN,122916,Thor: Ragnarok (2017),Action|Adventure|Sci-Fi,2.441518
318,NaN,NaN,NaN,435,Coneheads (1993),Comedy|Sci-Fi,1.775165
319,NaN,NaN,NaN,2581,Never Been Kissed (1999),Comedy|Romance,1.620204
320,NaN,NaN,NaN,87232,X-Men: First Class (2011),Action|Adventure|Sci-Fi|Thriller|War,1.430306

In [17]:
eval_ratings = test_set

def eval_prediction(predict, neighbors=50, kind = 'user'):
    if (kind == 'user'):
        ## evaluation
        ds = pd.merge(eval_ratings, test_set[['movieId','rating']].groupby(['movieId']).mean().reset_index(), 
                      on='movieId', how='left')

        ds = ds.rename(columns= {'rating_x':'rating', 'rating_y':'mean_rating'})
        st = time.time()
        ## udpate to predict_rating 
        user_distance_functions = [('user_euclidean',distance_euclidean), ('user_cosine', distance_cosine)]
        for name, func in user_distance_functions:
            ds[name] = 0
            for user_id in predict:
                # key: movie id, value : predicted_rating
                for x in predictRating(user_id, neighbors, func):
                    ds.loc[(ds.userId == user_id) & (ds.movieId == x[0]),name]=x[1]
        #Only the tuple corresponding to the user performing the predict in the entire dataFrame is returned
        return ds[ds.user_euclidean + ds.user_cosine > 0]

                    
    elif (kind == 'item'):
        ## evaluation
        ds = pd.merge(eval_ratings, test_set[['movieId','rating']].groupby(['movieId']).mean().reset_index(), 
                      on='movieId', how='left')

        ds = ds.rename(columns= {'rating_x':'rating', 'rating_y':'mean_rating'})
        st = time.time()
        ## udpate to predict_rating 
        item_distance_functions = [('item_euclidean', distance_euclidean), ('item_cosine', distance_cosine)]
        for name, func in item_distance_functions:
            ds[name] = 0
            for movie_id in predict:
                for x in predictRating(movie_id, neighbors, func, kind = 'item'):
                    ds.loc[(ds.movieId == movie_id) & (ds.userId == x[0]), name] = x[1]
        return ds[ds.item_euclidean + ds.item_cosine > 0]
    
    print('runtime', round(time.time()-st,2), 'sec')

In [18]:
## all userId list 
users = user_movie_matrix.index.tolist()
## 10-person star rating
predicted_user = eval_prediction(users[:2], 100, kind = 'user')

predicted_user = predicted_user[(predicted_user['user_cosine'] > 0) & (predicted_user['user_euclidean'] > 0)]

def RMSE(X, left_col, right_col):
    return(np.sqrt(np.mean((X[left_col] - X[right_col])**2)))

def MAE(X, left_col, right_col):
    return(np.mean(np.absolute(X[left_col] - X[right_col])) )

for name in ['mean_rating', 'user_cosine', 'user_euclidean']:
    print ("MAE of {0} is {1} ".format(name, MAE(predicted_user, 'rating', name)))

for name in ['mean_rating', 'user_cosine', 'user_euclidean']:
    print ("RMSE of {0} is {1} ".format(name, RMSE(predicted_user, 'rating', name)))

MAE of mean_rating is 0.6452084246376688
MAE of user_cosine is 0.6455865200658462
MAE of user_euclidean is 0.6967292373640773
RMSE of mean_rating is 0.799813847478438
RMSE of user_cosine is 0.7772269288891573
RMSE of user_euclidean is 1.0624405825733234

In [19]:
users = user_movie_matrix.index.tolist()
predicted_item = eval_prediction(users[:2], 100, kind = 'item')
predicted_item = predicted_item[(predicted_item['item_cosine'] > 0) & (predicted_item['item_euclidean'] > 0)]

for name in ['mean_rating', 'item_cosine', 'item_euclidean']:
    print ("Item-item MAE of {0} is {1} ".format(name, MAE(predicted_item, 'rating', name)))

for name in ['mean_rating', 'item_cosine', 'item_euclidean']:
    print ("Item-item RMSE of {0} is {1} ".format(name, RMSE(predicted_item, 'rating', name)))

Item-item MAE of mean_rating is 0.5924724842767296
Item-item MAE of item_cosine is 0.563470441907968
Item-item MAE of item_euclidean is 0.6989154682207918
Item-item RMSE of mean_rating is 0.7787379100471049
Item-item RMSE of item_cosine is 0.7229645676130114
Item-item RMSE of item_euclidean is 0.8769366001834742

In [20]:
predicted_user

,userId,movieId,rating,timestamp,mean_rating,user_euclidean,user_cosine
377,2,6874,4.0,1445714952,4.025641,4.018509,3.990822
416,1,480,4.0,964982346,3.807018,3.910001,3.873477
2057,2,58559,4.5,1445715141,4.328571,4.102215,4.087482
4063,1,592,4.0,964982271,3.625000,3.505234,3.866947
4620,1,500,3.0,964981208,3.352941,2.826066,3.580791
4636,2,318,3.0,1445714835,4.486842,4.468851,4.481602
4670,2,1704,4.5,1445715228,4.116279,4.193355,4.224597
5586,1,1208,4.0,964983250,4.236842,4.498336,4.591111
5726,1,661,5.0,964982838,3.388889,4.247994,3.800427
5732,1,919,5.0,964982475,4.160714,4.162698,3.399704
6421,1,2580,5.0,964983000,4.346154,3.500000,3.996614
7375,1,2571,5.0,964981888,4.300000,4.522914,4.397187
8335,1,527,5.0,964984002,4.196078,4.492213,4.386724
8466,1,1097,5.0,964981680,3.780488,4.731238,4.250985
8831,1,1080,5.0,964981327,4.136364,4.450725,4.249934
9616,1,110,4.0,964982176,4.396226,4.106754,4.375185
9772,2,3578,4.0,1445714885,4.025641,4.096292,4.120246
10243,2,80906,5.0,1445715172,3.666667,4.563079,4.567263
10765,1,1213,5.0,964982951,4.166667,4.146842,4.600794
12435,1,1198,5.0,964981827,4.192982,4.383118,4.422147
13760,2,46970,4.0,1445715013,3.333333,3.456999,3.324498
15287,1,1580,3.0,964981125,3.522727,4.116353,3.834209
15600,1,1,4.0,964982703,3.981132,4.205252,3.905935
16347,1,2058,5.0,964982400,3.200000,1.000000,4.248879
16922,1,608,5.0,964982931,4.151163,4.679009,4.353150
20175,2,91529,3.5,1445714891,3.764706,4.013833,4.010627
20962,1,2617,2.0,964982588,3.040000,4.789574,3.877177
21296,1,780,3.0,964984086,3.224138,4.180756,4.192083
21676,1,2406,4.0,964982310,3.464286,3.784201,3.666966
23680,1,6,4.0,964982224,4.019231,4.360196,4.501477
24237,1,349,4.0,964982563,3.625000,3.730307,3.498350
24966,1,1089,5.0,964982951,3.981481,4.671164,4.292855

In [21]:
k_array = [5, 15, 30, 50, 100, 200]
user_mean_MAE = []
user_mean_RMSE = []
user_cosine_MAE = []
user_cosine_RMSE = []
user_euc_MAE = []
user_euc_RMSE = []

for k in k_array:
    predicted_user = eval_prediction(users[:2], k, kind = 'user')

    predicted_user = predicted_user[(predicted_user['user_cosine'] > 0) & (predicted_user['user_euclidean'] > 0)]
    
    for name in ['mean_rating', 'user_cosine', 'user_euclidean']:
        if (name == 'mean_rating'):
            user_mean_MAE.append(MAE(predicted_user, 'rating', name))
            user_mean_RMSE.append(RMSE(predicted_user, 'rating', name))
        elif (name == 'user_cosine'):
            user_cosine_MAE.append(MAE(predicted_user, 'rating', name))
            user_cosine_RMSE.append(RMSE(predicted_user, 'rating', name))
        elif (name == 'user_euclidean'):
            user_euc_MAE.append(MAE(predicted_user, 'rating', name))
            user_euc_RMSE.append(RMSE(predicted_user, 'rating', name))

%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

pal = sns.color_palette("Set2", 3)
plt.figure(figsize=(8, 8))
plt.plot(k_array, user_mean_MAE, c=pal[0], label='User mean MAE', linewidth=5)
plt.plot(k_array, user_cosine_MAE, c=pal[1], label='User cosine MAE', linewidth=5)
plt.plot(k_array, user_euc_MAE, c=pal[2], label='User euclidean MAE', linewidth=5)
plt.legend(loc='best', fontsize=20)
plt.xticks(fontsize=16);
plt.yticks(fontsize=16);
plt.xlabel('k', fontsize=30);
plt.ylabel('MAE', fontsize=30);

ModuleNotFoundError: No module named 'seaborn'

In [ ]:
sns.set()

pal = sns.color_palette("Set2", 3)
plt.figure(figsize=(8, 8))
plt.plot(k_array, user_mean_RMSE, c=pal[0], label='User mean RMSE', linewidth=5)
plt.plot(k_array, user_cosine_RMSE, c=pal[1], label='User cosine RMSE', linewidth=5)
plt.plot(k_array, user_euc_RMSE, c=pal[2], label='User euclidean RMSE', linewidth=5)
plt.legend(loc='best', fontsize=20)
plt.xticks(fontsize=16);
plt.yticks(fontsize=16);
plt.xlabel('k', fontsize=30);
plt.ylabel('RMSE', fontsize=30);

In [ ]:
k_array = [5, 15, 30, 50, 100, 200]
item_mean_MAE = []
item_mean_RMSE = []
item_cosine_MAE = []
item_cosine_RMSE = []
item_euc_MAE = []
item_euc_RMSE = []

for k in k_array:
    predicted_item = eval_prediction(users[:5], k, kind = 'item')

    predicted_item = predicted_item[(predicted_item['item_cosine'] > 0) & (predicted_item['item_euclidean'] > 0)]
    
    for name in ['mean_rating', 'item_cosine', 'item_euclidean']:
        if (name == 'mean_rating'):
            item_mean_MAE.append(MAE(predicted_item, 'rating', name))
            item_mean_RMSE.append(RMSE(predicted_item, 'rating', name))
        elif (name == 'item_cosine'):
            item_cosine_MAE.append(MAE(predicted_item, 'rating', name))
            item_cosine_RMSE.append(RMSE(predicted_item, 'rating', name))
        elif (name == 'item_euclidean'):
            item_euc_MAE.append(MAE(predicted_item, 'rating', name))
            item_euc_RMSE.append(RMSE(predicted_item, 'rating', name))

%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

pal = sns.color_palette("Set2", 3)
plt.figure(figsize=(8, 8))
plt.plot(k_array, item_mean_MAE, c=pal[0], label='item mean MAE', linewidth=5)
plt.plot(k_array, item_cosine_MAE, c=pal[1], label='item cosine MAE', linewidth=5)
plt.plot(k_array, item_euc_MAE, c=pal[2], label='item euclidean MAE', linewidth=5)
plt.legend(loc='best', fontsize=20)
plt.xticks(fontsize=16);
plt.yticks(fontsize=16);
plt.xlabel('k', fontsize=30);
plt.ylabel('MAE', fontsize=30);

In [ ]:
sns.set()

pal = sns.color_palette("Set2", 3)
plt.figure(figsize=(8, 8))
plt.plot(k_array, item_mean_RMSE, c=pal[0], label='item mean RMSE', linewidth=5)
plt.plot(k_array, item_cosine_RMSE, c=pal[1], label='item cosine RMSE', linewidth=5)
plt.plot(k_array, item_euc_RMSE, c=pal[2], label='item euclidean RMSE', linewidth=5)
plt.legend(loc='best', fontsize=20)
plt.xticks(fontsize=16);
plt.yticks(fontsize=16);
plt.xlabel('k', fontsize=30);
plt.ylabel('RMSE', fontsize=30);