In [1]:
import pandas as pd
import numpy as np
import time

In [46]:
ratings = pd.read_csv("./ml-latest-small/ratings.csv")
ratings[ratings.userId==1].head(20)

    userId  movieId  rating  timestamp
0        1        1     4.0  964982703
1        1        3     4.0  964981247
2        1        6     4.0  964982224
3        1       47     5.0  964983815
4        1       50     5.0  964982931
5        1       70     3.0  964982400
6        1      101     5.0  964980868
7        1      110     4.0  964982176
8        1      151     5.0  964984041
9        1      157     5.0  964984100
10       1      163     5.0  964983650
11       1      216     5.0  964981208
12       1      223     3.0  964980985
13       1      231     5.0  964981179
14       1      235     4.0  964980908
15       1      260     5.0  964981680
16       1      296     3.0  964982967
17       1      316     3.0  964982310
18       1      333     5.0  964981179
19       1      349     4.0  964982563

In [3]:
movies = pd.read_csv('./ml-latest/movies.csv', encoding='latin-1')
print (movies.shape)
movies.head()

(58098, 3)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [4]:
num_users = ratings.userId.unique().shape[0]
num_items = ratings.movieId.unique().shape[0]
num_users, num_items

(610, 9724)

In [5]:
from sklearn import model_selection as ms
train_set, test_set = ms.train_test_split(ratings, test_size=0.25)
len(train_set), len(test_set)

(75627, 25209)

In [6]:
UM_matrix_ds = ratings.pivot(index='userId', columns='movieId', values='rating')
print("UM Matrix value size", UM_matrix_ds.values.size)
print("ratings value size", ratings.values.size)
print("Sparisity: {:4.2f}%".format(ratings.rating.values.size/UM_matrix_ds.values.size*100))
UM_matrix_ds.head(10)

UM Matrix value size 5931640
ratings value size 403344
Sparisity: 1.70%

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,NaN,4.0,NaN,NaN,4.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,4.0,5.0,3.0,5.0,4.0,4.0,3.0,NaN,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,4.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
# similarity
import math
from operator import itemgetter
from scipy.spatial import distance

def distance_cosine(a,b):
    return 1-distance.cosine(a,b)

def disance_corr(a,b):
    return 1-distance.correlation(a,b)

def distance_euclidean(a,b):
    return 1/(distance.euclidean(a,b)+1)

In [8]:
def nearest_neighbor_user(user, topN, simFunc) :  
    u1 = UM_matrix_ds.loc[user].dropna()
    ratedIndex = u1.index
    nn = {}
    
    # Brute-Force Compute
    for uid, row in UM_matrix_ds.iterrows():
        interSectionU1 = []
        interSectionU2 = []
        if uid==user:
            continue
            
        for i in ratedIndex:
            if False==math.isnan(row[i]):
                interSectionU1.append(u1[i])
                interSectionU2.append(row[i])
        interSectionLen = len(interSectionU1)
        
        # at least 3 intersection items
        if interSectionLen < 3 :
            continue
            
        # similarity functon
        sim = simFunc(interSectionU1, interSectionU2)
        
        if  math.isnan(sim) == False:
            nn[uid] = sim
            
    # top N returned         
    return sorted(nn.items(),key=itemgetter(1),reverse=True)[:(topN+1)]
    #return sorted(nn.items(),key=itemgetter(1))[:-(topN+1):-1]

In [9]:
def nearest_neighbor_item(movie, topN, simFunc):
    m1 = UM_matrix_ds[movie].dropna()
    user_index = m1.index
    nn = {}
    
    for movieId, col in UM_matrix_ds.iteritems():
        interSectionU1 = []
        interSectionU2 = []
        if movie == movieId:
            continue
        
        for i in user_index:
            if False==math.isnan(col[i]):
                interSectionU1.append(m1[i])
                interSectionU2.append(col[i])
        interSectionLen = len(interSectionU1)
        # at least 3 intersection items
        if interSectionLen < 3 :
            continue
            
        # similarity functon
        sim = simFunc(interSectionU1, interSectionU2)
        
        if  math.isnan(sim) == False:
            nn[movieId] = sim
            
    # top N returned         
    return sorted(nn.items(),key=itemgetter(1),reverse=True)[:(topN+1)]

In [10]:
print(pd.DataFrame(nearest_neighbor_user(278, 100, distance_euclidean), columns=['userId', 'sim']))
print(pd.DataFrame(nearest_neighbor_item(1, 100, distance_euclidean), columns=['movieId', 'sim']))

     userId       sim
0         8  1.000000
1        15  1.000000
2       348  1.000000
3       352  1.000000
4       373  1.000000
5       382  1.000000
6       512  1.000000
7       566  1.000000
8       601  1.000000
9       602  1.000000
10        1  0.666667
11      296  0.666667
12      338  0.666667
13      484  0.666667
14      515  0.666667
15      572  0.666667
16       17  0.585786
17       59  0.585786
18       72  0.585786
19      178  0.585786
20      232  0.585786
21      254  0.585786
22      280  0.585786
23      282  0.585786
24      330  0.585786
25      343  0.585786
26      415  0.585786
27      418  0.585786
28      489  0.585786
29      587  0.585786
..      ...       ...
71      200  0.387426
72      202  0.387426
73      219  0.387426
74      239  0.387426
75      249  0.387426
76      152  0.376179
77      420  0.376179
78      590  0.376179
79      356  0.366025
80      105  0.356789
81      318  0.356789
82      434  0.356789
83      452  0.356789
84      552  0.356789
85      212  0.348331
86      103  0.340542
87      290  0.340542
88      331  0.333333
89      453  0.333333
90      455  0.333333
91      580  0.333333
92      265  0.326632
93      469  0.326632
94      111  0.320377
95      167  0.320377
96      275  0.320377
97      357  0.320377
98        5  0.309017
99       60  0.309017
100     109  0.309017

[101 rows x 2 columns]
     movieId       sim
0       1484  1.000000
1       2932  1.000000
2       2940  1.000000
3       2967  1.000000
4       2988  1.000000
5       3111  1.000000
6       3384  1.000000
7       4745  1.000000
8       5833  1.000000
9       5876  1.000000
10      7766  1.000000
11    178061  1.000000
12       482  0.666667
13       949  0.666667
14      1082  0.666667
15      1192  0.666667
16      1447  0.666667
17      2553  0.666667
18      2971  0.666667
19      3117  0.666667
20      3412  0.666667
21      3724  0.666667
22      4220  0.666667
23      4713  0.666667
24      5039  0.666667
25      6041  0.666667
26      6636  0.666667
27      6639  0.666667
28      7048  0.666667
29     26528  0.666667
..       ...       ...
71    162578  0.585786
72      3545  0.535898
73      3871  0.535898
74      4846  0.535898
75      4889  0.535898
76      4954  0.535898
77      5298  0.535898
78      5483  0.535898
79      7285  0.535898
80      7303  0.535898
81      8008  0.535898
82     26903  0.535898
83     30820  0.535898
84     33677  0.535898
85     40414  0.535898
86     45440  0.535898
87     49132  0.535898
88     49910  0.535898
89     80586  0.535898
90     96655  0.535898
91     98124  0.535898
92    158238  0.535898
93    180031  0.535898
94       233  0.500000
95       944  0.500000
96       948  0.500000
97      1050  0.500000
98      1051  0.500000
99      1177  0.500000
100     1332  0.500000

[101 rows x 2 columns]

In [48]:
def predictRating(id_num, nn=50, simFunc=distance_euclidean, kind = 'user') :
   
    if (kind == "user"):
        ## neighboorhood 
        neighbor = nearest_neighbor_user(id_num, nn, simFunc)
        # userid: dictionary of similarity

        neighbor_id = [id for id, sim in neighbor]
        # List of similar similarities

        ## Remove if four or more are NaN
        neighbor_movie = UM_matrix_ds.loc[neighbor_id].dropna(1, how = 'all', thresh = 2)
        # User id x DataFrame of movie id. However, if the NaN of the column is 4 or more, it is deleted.

        neighbor_dic = (dict(neighbor))
        ret = [] #['movieId', 'predictedRate']

        # iterate through each column key: userid, column: movieid, value: rating
        for movieId, row in neighbor_movie.iteritems():
            jsum, wsum = 0, 0
            for v in row.dropna().iteritems():
                sim = neighbor_dic.get(v[0],0)
                jsum += sim
                wsum += (v[1]*sim)
            ret.append([movieId, wsum/jsum])

        return ret
    
    elif (kind == 'item'):
        neighbor = nearest_neighbor_item(id_num, nn, simFunc)
        
        neighbor_id = [id for id, sim in neighbor]
        
        neighbor_ratedUser = UM_matrix_ds[neighbor_id].dropna(0, how = 'all', thresh = 2)
        
        neighbor_dic = dict(neighbor)
        ret = []
        
        for userId, row in neighbor_ratedUser.iterrows():
            jsum, wsum = 0, 0
            for v in row.dropna().iteritems():
                sim = neighbor_dic.get(v[0], 0)
                jsum += sim
                wsum += (v[1]*sim)
            ret.append([userId, wsum/jsum])
        
        return ret

In [50]:
predictRating(1, 100, kind = 'user')
# predictRating(1, 50, kind = 'item')

[[1, 4.302955380538642],
 [2, 4.467070716638078],
 [3, 3.383658116235853],
 [5, 3.1664133012212035],
 [6, 4.0406582909149],
 [7, 3.4752158892419294],
 [9, 2.4514162296451363],
 [10, 3.6270107921232473],
 [11, 3.690714434034328],
 [14, 4.534794580418831],
 [16, 4.795897329635457],
 [17, 4.72226947368303],
 [22, 3.72711108011249],
 [25, 4.751654080789128],
 [29, 3.236757367716795],
 [31, 2.677328397364532],
 [32, 4.224383231106025],
 [34, 3.3629851377349236],
 [36, 4.427349397806007],
 [39, 3.6070154020714225],
 [45, 3.4667482613061607],
 [47, 4.663217073450262],
 [48, 3.036020187788924],
 [50, 4.618318870084806],
 [52, 4.329073569699228],
 [58, 4.286000707756233],
 [60, 3.182930443827066],
 [62, 4.261559672313344],
 [73, 4.0],
 [79, 3.3124843273902287],
 [81, 2.9999999999999996],
 [95, 3.0],
 [104, 3.0909096570513785],
 [110, 4.271190996443581],
 [111, 4.332316423407407],
 [112, 3.4846605995717166],
 [135, 3.055322029735686],
 [140, 3.498489825461306],
 [141, 3.9334607463258737],
 [145, 4.588278356401466],
 [150, 4.188461140947555],
 [153, 3.355119448408076],
 [158, 3.884795572857762],
 [160, 3.0],
 [161, 3.684093993803953],
 [163, 3.8373614612180553],
 [165, 3.8563147911431233],
 [168, 4.005631697591297],
 [185, 3.3574951395639787],
 [203, 4.428571428571429],
 [208, 2.757506754784134],
 [215, 4.457774200876171],
 [216, 4.5105416869836406],
 [223, 4.181818181818182],
 [224, 4.0],
 [225, 3.6781694098142905],
 [231, 4.1163923295655565],
 [236, 3.921106568414424],
 [239, 3.9271732951975284],
 [252, 4.300430953626558],
 [253, 3.689412668544906],
 [260, 4.64429041093838],
 [261, 4.561828434209799],
 [266, 3.525693444735179],
 [277, 4.061760769044861],
 [288, 3.0000000000000004],
 [292, 3.892142208809956],
 [293, 4.355490947272373],
 [296, 3.862645289897932],
 [300, 3.2804469233045888],
 [315, 3.2481829508681095],
 [316, 3.144263152474877],
 [317, 3.687449454906809],
 [318, 4.6637467682878615],
 [327, 1.7268405921899324],
 [329, 3.451201708059236],
 [333, 4.25],
 [337, 3.8838320479303676],
 [339, 4.171106342321225],
 [342, 3.663836919619472],
 [344, 3.534999984369237],
 [345, 4.479098346133568],
 [349, 3.801813523199332],
 [350, 3.0],
 [356, 4.300821747946145],
 [357, 4.416440819671318],
 [362, 4.558030755389401],
 [364, 4.629317295253381],
 [367, 4.1309426222122765],
 [368, 3.428368700807898],
 [371, 2.9999999999999996],
 [376, 3.5445740625606508],
 [377, 3.6452811042125473],
 [380, 3.7482433189010713],
 [381, 4.518486542275812],
 [410, 2.6231116201676863],
 [412, 3.4456877173335347],
 [413, 4.265986323710904],
 [434, 3.140609695151922],
 [435, 2.4768854386214283],
 [440, 3.5308803845224306],
 [454, 4.303776331484313],
 [457, 4.464452876214344],
 [468, 3.1490939440911734],
 [474, 3.7398920241828906],
 [480, 3.5520161609171215],
 [481, 4.291502622129181],
 [485, 3.256915253716961],
 [494, 2.7600499944451204],
 [500, 3.3524366282949614],
 [501, 3.779015377694701],
 [509, 3.959656698414012],
 [520, 4.2650545158862645],
 [527, 4.746558485897639],
 [539, 3.7163045183393946],
 [541, 3.8692762424618676],
 [586, 3.4928307624419577],
 [587, 3.9942710411994042],
 [588, 4.389332173808451],
 [589, 4.10111309876979],
 [590, 4.351315758059789],
 [592, 3.650406238855235],
 [593, 4.4098180060419985],
 [594, 3.6174366337929853],
 [595, 3.9933348628712175],
 [597, 3.4546172832294926],
 [608, 4.7553556885969614],
 [628, 3.3659115776789],
 [637, 2.7787061584279393],
 [648, 3.553363248819956],
 [653, 3.0],
 [661, 4.4916692517399195],
 [671, 4.632527257943132],
 [673, 3.0],
 [708, 3.7443356263162104],
 [719, 3.4861694925660784],
 [733, 4.011105137282568],
 [736, 3.603183595148522],
 [737, 2.3779644730092273],
 [743, 2.5557908327740613],
 [745, 3.172894254867991],
 [748, 4.297331208153719],
 [762, 3.0],
 [765, 3.240256494601899],
 [778, 4.15548323120431],
 [780, 3.666857282959199],
 [783, 3.7873099257295952],
 [784, 2.524847848731062],
 [785, 4.561612879623706],
 [786, 3.2798105704054077],
 [788, 2.3646383872293413],
 [802, 4.140269202290405],
 [805, 3.9096477561938623],
 [832, 3.5348469228349533],
 [838, 4.999999999999999],
 [849, 2.7417731510786716],
 [852, 3.66830870723461],
 [858, 4.4444355763650485],
 [880, 3.918655818925105],
 [898, 4.512198385654858],
 [902, 4.4877139861275115],
 [904, 4.689900384392597],
 [908, 4.264895346123993],
 [910, 4.6210295003614545],
 [912, 3.9896899681047926],
 [914, 5.0],
 [915, 4.25],
 [916, 4.645751311064591],
 [919, 4.059531254220171],
 [922, 4.5],
 [923, 5.0],
 [926, 4.487801614345142],
 [953, 4.279470079758588],
 [1022, 3.5715319966461823],
 [1028, 4.370582849801443],
 [1035, 4.333625833663359],
 [1036, 3.9615188088502737],
 [1047, 3.2225977433777944],
 [1073, 3.797421754664171],
 [1088, 3.7632426322832044],
 [1089, 4.837623044324096],
 [1090, 4.251755787228631],
 [1093, 3.2380650296736877],
 [1097, 4.409158768734738],
 [1125, 4.654211490264017],
 [1136, 4.527348443823881],
 [1183, 4.0],
 [1186, 3.554312282666465],
 [1193, 4.0722895848832295],
 [1196, 4.60237705808948],
 [1197, 5.0],
 [1198, 4.747420726424665],
 [1200, 4.028090070095804],
 [1201, 4.499999999999999],
 [1202, 4.2752098275043515],
 [1203, 4.456383015897726],
 [1206, 4.251755787228631],
 [1207, 4.557851752549734],
 [1208, 4.746656078446615],
 [1210, 4.814183390503589],
 [1213, 4.311239746205545],
 [1214, 4.46082719835128],
 [1215, 3.788592744642931],
 [1221, 4.662642931157339],
 [1222, 4.1707190085839585],
 [1225, 4.564161371551652],
 [1240, 3.7090132552885775],
 [1242, 3.070639863667004],
 [1244, 3.4878016143451416],
 [1246, 4.448049749430055],
 [1259, 4.2711886536190695],
 [1261, 3.483259521492742],
 [1265, 4.462037832773228],
 [1267, 4.748404573356711],
 [1270, 4.3294231284620635],
 [1278, 4.43144074801723],
 [1282, 5.0],
 [1288, 4.0],
 [1291, 4.364729443570293],
 [1298, 5.0],
 [1304, 4.271529818476666],
 [1307, 4.113576784857526],
 [1321, 3.8340569630157275],
 [1345, 3.454677985507033],
 [1347, 3.3082136796241137],
 [1356, 4.280240573886681],
 [1357, 4.60762527250379],
 [1358, 4.591794659270914],
 [1367, 3.686418766536807],
 [1370, 4.0],
 [1371, 1.2576159708629562],
 [1372, 4.0],
 [1373, 1.5453220144929674],
 [1380, 2.4726458177082327],
 [1387, 4.685664031051545],
 [1388, 2.8606123086601865],
 [1407, 3.0],
 [1411, 5.0],
 [1414, 2.9061636786439458],
 [1438, 2.3520959237574135],
 [1441, 4.375361202294954],
 [1479, 2.652446776021799],
 [1485, 3.505875246187519],
 [1515, 1.639607805437114],
 [1527, 3.68483110289068],
 [1556, 1.525504676806487],
 [1580, 3.663154123810814],
 [1584, 3.8179144253482153],
 [1586, 3.1292221264270954],
 [1597, 3.000530099728747],
 [1608, 4.5],
 [1617, 5.0],
 [1620, 4.0],
 [1625, 4.454545454545455],
 [1639, 2.9061636786439458],
 [1653, 3.7917501794232713],
 [1674, 4.195262145875636],
 [1676, 3.0],
 [1682, 3.774523479615868],
 [1687, 3.5],
 [1690, 2.7410267548844804],
 [1693, 3.3542486889354093],
 [1704, 4.362847912798165],
 [1711, 3.366025403784439],
 [1721, 4.043516923463677],
 [1732, 4.345220899676306],
 [1747, 4.440277025124132],
 [1779, 3.2484514474867465],
 [1784, 4.273628505571503],
 [1801, 3.7468561451188815],
 [1876, 3.9764062858007363],
 [1884, 4.444689101885999],
 [1895, 2.8488998203148923],
 [1907, 3.897665074049351],
 [1909, 2.7519424794387644],
 [1911, 3.557028381469169],
 [1917, 2.9654059825319656],
 [1923, 4.6055635177699425],
 [1960, 4.006381706573153],
 [1961, 3.7758368591360854],
 [1968, 4.0],
 [1982, 5.0],
 [1997, 4.999999999999999],
 [2002, 4.0],
 [2011, 3.381966011250105],
 [2012, 4.0],
 [2019, 4.186600711562001],
 [2023, 3.734013676289096],
 [2028, 4.217132255016205],
 [2046, 3.751504467403305],
 [2083, 4.2071768176116695],
 [2100, 2.7665016703806904],
 [2136, 1.612636141322034],
 [2144, 3.4999999999999996],
 [2174, 3.0],
 [2289, 4.817223555109386],
 [2300, 3.5792245150251802],
 [2302, 4.515961403237601],
 [2313, 4.66978077589994],
 [2321, 4.0],
 [2324, 4.771245417382062],
 [2329, 4.426835519387164],
 [2338, 2.715328157932143],
 [2352, 4.262470970330062],
 [2353, 4.108911600016145],
 [2355, 3.463316412322418],
 [2359, 4.484272023435519],
 [2366, 3.74120360364674],
 [2396, 4.080649251888967],
 [2427, 4.387625536370933],
 [2436, 4.059531254220171],
 [2447, 3.6045407685048594],
 [2455, 3.0],
 [2478, 3.2500000000000004],
 [2485, 2.2911434694556507],
 [2490, 3.5732113242016736],
 [2496, 2.3540045333785455],
 [2501, 4.0971675407097266],
 [2502, 4.149592961061131],
 [2505, 3.688982236504614],
 [2539, 3.3428097925646876],
 [2541, 2.7151889774592437],
 [2542, 4.840086392484044],
 [2571, 4.60122682721977],
 [2572, 3.710561097512015],
 [2574, 1.972338985132157],
 [2580, 4.155173437113692],
 [2581, 2.67896283618647],
 [2583, 3.4861694925660784],
 [2596, 4.462475295574264],
 [2598, 2.3542486889354093],
 [2599, 4.003535776215091],
 [2605, 3.993618293426847],
 [2606, 2.0],
 [2616, 4.181867233997899],
 [2617, 1.972338985132157],
 [2628, 3.4774609932032825],
 [2641, 2.9935186793672846],
 [2657, 4.247461343045681],
 [2671, 3.6157358127025363],
 [2683, 3.457814619700124],
 [2686, 4.1547005383792515],
 [2687, 4.05942778097351],
 [2692, 4.742019298381201],
 [2694, 3.3087312179199597],
 [2699, 3.230769230769231],
 [2706, 3.9880402981703296],
 [2720, 2.419287738561431],
 [2723, 3.0251702814044195],
 [2724, 2.306503932911517],
 [2739, 4.524971761085108],
 [2762, 4.3292610044147235],
 [2763, 4.0],
 [2770, 2.9031027725062124],
 [2791, 4.496234049444467],
 [2797, 3.72711108011249],
 [2805, 2.957362348124594],
 [2858, 4.515079058421688],
 [2860, 3.0],
 [2918, 4.377017697974491],
 [2959, 4.539254644292149],
 [2968, 2.559154879445968],
 [2987, 4.0],
 [3000, 4.579148772109285],
 [3039, 3.7470013305615217],
 [3082, 4.24472915650818],
 [3101, 3.9937163266072755],
 [3114, 3.715405822079404],
 [3147, 4.846440471457586],
 [3148, 4.15],
 [3174, 3.4766271094389714],
 [3175, 2.856737401615795],
 [3247, 4.5],
 [3264, 1.3278970753942179],
 [3301, 3.8077864034464297],
 [3363, 3.4926003562618795],
 [3396, 3.6589013077151042],
 [3408, 3.813259502757131],
 [3409, 2.8234432871970676],
 [3418, 3.990333372650667],
 [3424, 4.0],
 [3448, 4.059531254220171],
 [3461, 3.7776554490570007],
 [3476, 4.222344550942999],
 [3481, 4.485806719015673],
 [3515, 3.7402564946018995],
 [3534, 4.163781976057939],
 [3578, 4.65938055372555],
 [3615, 3.0],
 [3617, 3.8916807607698516],
 [3624, 3.8052455413589983],
 [3717, 3.398387385536703],
 [3727, 5.0],
 [3745, 3.7758712691829572],
 [3751, 3.5908649436176527],
 [3753, 3.520868577466328],
 [3785, 5.000000000000001],
 [3793, 4.082297740120104],
 [3827, 3.768620034489963],
 [3863, 3.3824175346021996],
 [3897, 4.271757068854502],
 [3911, 3.718301712565725],
 [3948, 3.393777521867524],
 [3949, 4.373877856189932],
 [3981, 3.743084746283039],
 [3988, 2.882211774318136],
 [3996, 4.8929145780039685],
 [4011, 4.692810006187312],
 [4014, 4.322230241811904],
 [4016, 4.2654417245745515],
 [4018, 3.4190371422455423],
 [4022, 4.12997118602993],
 [4025, 3.742295338567385],
 [4027, 4.648392172365967],
 [4034, 4.744499443206437],
 [4105, 4.722344550942999],
 [4226, 4.0840546291341555],
 [4239, 4.0],
 [4246, 3.5226875426589532],
 [4262, 3.996365901736219],
 [4270, 4.677124344467704],
 [4299, 3.2053515593348725],
 [4306, 3.8722226099645733],
 [4366, 4.234258623374101],
 [4368, 3.243084746283039],
 [4388, 5.000000000000001],
 [4447, 3.387740458279324],
 [4558, 1.7340136762890959],
 [4718, 3.4306563158642853],
 [4776, 3.651482116889365],
 [4848, 4.0],
 [4865, 4.486169492566078],
 [4878, 3.0735582354511637],
 [4886, 4.254472007576478],
 [4896, 4.905662857451265],
 [4963, 4.052941696359222],
 [4973, 4.102273490825079],
 [4975, 3.556292407084596],
 [4979, 4.185411272581684],
 [4993, 4.4818907031771476],
 [4995, 4.556613860203546],
 [5013, 4.0],
 [5060, 4.512354802730107],
 [5218, 3.9458771744195373],
 [5225, 3.547884209712804],
 [5291, 3.2579409992770896],
 [5299, 3.4999999999999996],
 [5349, 4.249298826708658],
 [5377, 3.8832765245687075],
 [5378, 4.091672918739773],
 [5418, 3.7731296964906407],
 [5444, 4.0],
 [5445, 3.832397307862689],
 [5481, 2.815675755595599],
 [5507, 2.101020514433644],
 [5618, 4.687972176011618],
 [5669, 3.963176727354662],
 [5785, 3.7057103538677567],
 [5816, 4.624480524269608],
 [5902, 4.477871259988464],
 [5903, 3.75],
 [5952, 4.464886775734497],
 [5956, 3.7187980777196628],
 [5971, 4.872021721259798],
 [5989, 3.860000373341746],
 [5991, 3.499999999999999],
 [5995, 4.243957313478528],
 [6016, 4.342039176752338],
 [6155, 3.0],
 [6188, 3.7897278968496133],
 [6287, 3.930306154330093],
 [6333, 3.545622655500571],
 [6365, 3.9884653339186396],
 [6373, 3.888080511572698],
 [6377, 4.167006628793204],
 [6502, 4.555310898114001],
 [6537, 3.7318310233425978],
 [6539, 3.8928600969051534],
 [6708, 4.264951918453689],
 [6711, 4.835280663533307],
 [6807, 4.523096174826233],
 [6863, 3.2695091913586998],
 [6870, 4.520844043871691],
 [6874, 4.210575095577055],
 [6936, 3.5],
 [6942, 3.856271537646361],
 [6953, 4.220271115479735],
 [7022, 3.778743332090413],
 [7143, 4.569267252517785],
 [7147, 4.390975638037905],
 [7153, 4.512666214164611],
 [7293, 4.089225485953414],
 [7361, 4.054205305207034],
 [7438, 3.481720427518719],
 [7451, 4.025144058660303],
 [8360, 3.5138276773640067],
 [8368, 4.493741517045929],
 [8464, 4.0],
 [8533, 3.0136531567816656],
 [8636, 4.036831903151971],
 [8641, 3.3107675424280996],
 [8665, 4.459393266709974],
 [8784, 3.5490090175551097],
 [8798, 3.7659350377898924],
 [8861, 4.632993161855452],
 [8874, 4.331835434917362],
 [8950, 3.9290706322701494],
 [8957, 3.571995058409485],
 [8961, 4.36001835043974],
 [8970, 4.031623206161377],
 [27731, 3.777777777777778],
 [27773, 3.5647677617688527],
 [30707, 3.2420192983811997],
 [30749, 4.169445078889298],
 [30793, 2.7276824967997073],
 [30810, 4.721853796457702],
 [30825, 4.0],
 [31658, 4.420818780329249],
 [31685, 3.320369756109825],
 [31696, 4.819803902718557],
 [32587, 3.3247539113518054],
 [33615, 3.797692123085478],
 [33794, 4.459204706223885],
 [34162, 4.0],
 [34405, 4.078952166069279],
 [35836, 2.999660136702292],
 [36529, 4.395559128434514],
 [37729, 4.613858574950747],
 [38304, 4.764564549838187],
 [39183, 4.251755787228631],
 [40815, 4.247497514314333],
 [41569, 3.019174207655505],
 [44191, 4.108418422874735],
 [44193, 3.236757367716795],
 [44199, 4.277655449057001],
 [44665, 4.0],
 [45720, 4.024266780829472],
 [45722, 4.113858574950747],
 [46578, 3.956543450577922],
 [46723, 4.0],
 [46976, 3.611213629123563],
 [47099, 3.8656295234869664],
 [47610, 4.588436295057593],
 [48304, 4.239282038023517],
 [48385, 4.043584336994643],
 [48394, 4.10540819588463],
 [48516, 4.413737147213759],
 [48738, 4.500000000000001],
 [48774, 4.427445511751478],
 [48780, 4.450913093606215],
 [48877, 3.0],
 [49272, 3.9582680720870544],
 [49286, 3.7864001712442086],
 [49530, 4.492854692015678],
 [50872, 4.195880906881181],
 [51255, 4.23074290239989],
 [51662, 3.965842541591032],
 [51935, 4.020368286861039],
 [52281, 4.503511574457264],
 [52973, 3.7153557377606505],
 [53519, 2.50539191863196],
 [53953, 3.348469228349534],
 [53996, 2.7260578951435988],
 [54001, 4.15771807478478],
 [54272, 4.407934350787372],
 [54286, 3.7321633127849285],
 [54503, 4.0],
 [54995, 4.999999999999999],
 [54999, 3.8824463838309904],
 [55118, 4.746427346007839],
 [55247, 4.7910686086355145],
 [55765, 4.0],
 [55814, 4.0],
 [55820, 4.1666280931870965],
 [56174, 4.163253489020644],
 [56367, 4.208212932568348],
 [56757, 4.218693993357727],
 [56941, 3.6969384566990686],
 [57274, 3.992731803472438],
 [57669, 3.9766877659017],
 [58293, 2.0639568595790734],
 [58559, 4.636729856751075],
 [58803, 4.308145941245636],
 [58998, 4.476903825173766],
 [59315, 4.386599489728098],
 [59369, 4.253572653992161],
 [59387, 4.40271214587634],
 [59784, 3.658962955911847],
 [59900, 2.8227308068294454],
 [60069, 4.489945381200886],
 [60684, 4.383450364811735],
 [60756, 4.052970529132819],
 [60950, 3.4840385967623986],
 [61132, 2.2990520007619266],
 [63082, 4.285638018289932],
 [63131, 3.026485264566409],
 [63853, 3.5267751403823664],
 [64614, 4.5],
 [64957, 2.2499999999999996],
 [64969, 3.882969532551583],
 [65088, 2.9610259784075943],
 [65230, 4.0],
 [66097, 4.072599295693782],
 [66934, 4.3272953128879985],
 [67255, 4.264895346123993],
 [68157, 4.329343933181986],
 [68358, 4.429799616763104],
 [68954, 4.442462159502837],
 [69122, 3.5136005843046463],
 [69406, 4.7378666095852635],
 [69481, 4.0],
 [69757, 4.269919774457136],
 [69844, 4.360211441014792],
 [70286, 4.127820138383531],
 [71264, 4.626287138866056],
 [71535, 3.278385862210887],
 [72641, 3.4083873675664176],
 [72998, 4.1866700100636995],
 [73017, 4.720611595957748],
 [73321, 2.9367004037450006],
 [74458, 4.552176058227352],
 [74946, 4.0],
 [76093, 4.504921628305011],
 [76251, 3.719272719479899],
 [77561, 3.7037286294863034],
 [78499, 4.070737353050291],
 [79091, 4.1427676550443175],
 [79132, 4.3980294936612285],
 [79224, 1.28464426223935],
 [80463, 4.5],
 [80549, 4.172035650376829],
 [80831, 4.2445488526043285],
 [81562, 4.25],
 [81564, 4.23107930969042],
 [81591, 4.296143995068758],
 [81834, 4.763420212890006],
 [81845, 4.472463145090379],
 [81847, 4.0],
 [82459, 4.0],
 [83134, 4.497583123269167],
 [84152, 3.844542304148321],
 [85414, 3.4390449162036427],
 [86320, 2.021435923952964],
 [86833, 2.7864001712442086],
 [86882, 4.0],
 [87222, 2.7607179619764817],
 [87232, 2.4805594389460883],
 [88125, 4.701731647651454],
 [88129, 4.0],
 [88140, 3.3038126092553823],
 [88163, 4.510755382826582],
 [88405, 3.9064729710088932],
 [88810, 4.7552125796998865],
 [89745, 4.6671440182648265],
 [89774, 4.0],
 [91500, 3.4126956741335017],
 [91529, 4.620746189618797],
 [91542, 4.365804711717769],
 [91658, 4.3004621403211925],
 [92259, 4.595372580348289],
 [93510, 4.267764687872685],
 [94677, 4.249214789716553],
 [95167, 4.365024994124046],
 [95441, 3.237866609585264],
 [95510, 4.044127333122511],
 [96079, 3.5217622006660116],
 [96610, 3.9082489906374995],
 [97752, 3.7498447452458326],
 [97913, 3.806841375632955],
 [97921, 2.8277559778313206],
 [98809, 3.320104792554491],
 [99114, 4.032935408229818],
 [102125, 4.177219044407182],
 [104211, 4.475733219170528],
 [104374, 4.262133390414736],
 [104913, 3.225310460503116],
 [106696, 3.9441935386292104],
 [106782, 4.188795694493788],
 [106918, 4.024266780829472],
 [106920, 3.8660966068142013],
 [108932, 4.569576116631],
 [109374, 3.8869936887131478],
 [109487, 4.5593133827282335],
 [111617, 4.2304908086413],
 [111759, 4.170585376542353],
 [112138, 4.29732831319498],
 [112290, 5.000000000000001],
 [112552, 4.357051746493054],
 [112556, 4.635104164106355],
 [112852, 4.4758279506842635],
 [114662, 4.179436129528312],
 [115149, 3.858058909292495],
 [115617, 4.049668797407677],
 [115713, 4.417289425486799],
 [116797, 4.369713122339671],
 [116823, 4.0],
 [117590, 3.816213161416023],
 [119145, 4.287463998831952],
 [122882, 3.5956815291322437],
 [122886, 3.127507925326541],
 [122892, 4.414589803375032],
 [122900, 5.000000000000001],
 [122904, 4.573580507869543],
 [122912, 3.3342130648483295],
 [122916, 3.558539024593973],
 [122918, 4.199370360925368],
 [122922, 3.4338090003162334],
 [129354, 3.7621333904147356],
 [134130, 4.098683395399826],
 [134368, 3.9769038251737663],
 [134853, 4.04739595933863],
 [139385, 4.703400537030151],
 [140110, 3.7621333904147356],
 [148626, 4.035875439684752],
 [150548, 4.4270509831248415],
 [152081, 4.493073785247535],
 [157296, 2.6999094479987202],
 [158238, 3.7679377198423754],
 [164179, 4.207294901687516],
 [168252, 4.767581749203671],
 [170697, 4.0],
 [170705, 3.6618772027468203],
 [174055, 4.0],
 [175569, 2.7883634178800656],
 [176371, 3.5197599546706244],
 [177593, 4.8658240183055055],
 [177765, 4.203767529810367],
 [185029, 1.2176161191155737],
 [187541, 2.572182627012854],
 [187593, 3.096243502683805]]

In [13]:
## view rated movies and movies with high ratings
def ratingMovies(user_id):
    ds = pd.merge(ratings[ratings.userId==user_id], movies, on=['movieId'])
    return ds.sort_values(by=['rating'], ascending=False)[['rating','title','genres','movieId']].head(100)
ratingMovies(1).head()

,rating,title,genres,movieId
231,5.0,M*A*S*H (a.k.a. MASH) (1970),Comedy|Drama|War,5060
185,5.0,Excalibur (1981),Adventure|Fantasy,2872
89,5.0,Indiana Jones and the Last Crusade (1989),Action|Adventure,1291
90,5.0,Pink Floyd: The Wall (1982),Drama|Musical,1298
190,5.0,From Russia with Love (1963),Action|Adventure|Thriller,2948

In [15]:
def join_movie_info(predicted_result):
    predicted_ratings = pd.DataFrame(predicted_result, columns=['movieId', 'predicted_rating'])
    result_ds = pd.merge(movies[movies.movieId > 0], predicted_ratings, on=['movieId'])
    return result_ds.sort_values(by=['predicted_rating'], ascending=False)

result_user = predictRating(50, kind = 'user')
result_item = predictRating(1, kind = 'item')
join_movie_info(result_user).head(10)

,movieId,title,genres,predicted_rating
57,260,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi,4.389825
140,1210,Star Wars: Episode VI - Return of the Jedi (1983),Action|Adventure|Sci-Fi,4.378229
142,1356,Star Trek: First Contact (1996),Action|Adventure|Sci-Fi|Thriller,4.306830
77,357,Four Weddings and a Funeral (1994),Comedy|Romance,4.238537
118,608,Fargo (1996),Comedy|Crime|Drama|Thriller,4.238281
141,1214,Alien (1979),Horror|Sci-Fi,4.166206
69,318,"Shawshank Redemption, The (1994)",Crime|Drama,4.154359
7,11,"American President, The (1995)",Comedy|Drama|Romance,4.147632
9,16,Casino (1995),Crime|Drama,4.122993
16,36,Dead Man Walking (1995),Crime|Drama,4.086745

In [21]:
join_movie_info(result_item).head(10)

,movieId,title,genres,predicted_rating
5,380,True Lies (1994),Action|Adventure|Comedy|Romance|Thriller,5.000000
2,249,Immortal Beloved (1994),Drama|Romance,4.400000
1,182,Moonlight and Valentino (1995),Drama|Romance,4.096215
3,290,Once Were Warriors (1994),Crime|Drama,4.000000
9,603,"Bye Bye, Love (1995)",Comedy,4.000000
6,414,"Air Up There, The (1994)",Comedy,3.980591
7,474,In the Line of Fire (1993),Action|Thriller,3.789569
4,318,"Shawshank Redemption, The (1994)",Crime|Drama,3.125000
0,140,Up Close and Personal (1996),Drama|Romance,3.116928
8,599,"Wild Bunch, The (1969)",Adventure|Western,2.897704

In [16]:
# 5th user's star rating
userId=1
pd.merge(ratingMovies(userId), join_movie_info(predictRating(userId)), 
         on=['movieId'], how='right').sort_values(by=['predicted_rating'], ascending =False)

,rating,title_x,genres_x,movieId,title_y,genres_y,predicted_rating
3,5.0,"Princess Bride, The (1987)",Action|Adventure|Comedy|Fantasy|Romance,1197,"Princess Bride, The (1987)",Action|Adventure|Comedy|Fantasy|Romance,5.000000
12,NaN,NaN,NaN,588,Aladdin (1992),Adventure|Animation|Children|Comedy|Musical,5.000000
0,5.0,American Beauty (1999),Drama|Romance,2858,American Beauty (1999),Drama|Romance,5.000000
13,NaN,NaN,NaN,4896,Harry Potter and the Sorcerer's Stone (a.k.a. ...,Adventure|Children|Fantasy,4.886699
6,5.0,Raiders of the Lost Ark (Indiana Jones and the...,Action|Adventure,1198,Raiders of the Lost Ark (Indiana Jones and the...,Action|Adventure,4.866430
14,NaN,NaN,NaN,3147,"Green Mile, The (1999)",Crime|Drama,4.846440
8,5.0,Gladiator (2000),Action|Adventure|Drama,3578,Gladiator (2000),Action|Adventure|Drama,4.809555
15,NaN,NaN,NaN,5618,Spirited Away (Sen to Chihiro no kamikakushi) ...,Adventure|Animation|Fantasy,4.775069
11,5.0,Seven (a.k.a. Se7en) (1995),Mystery|Thriller,47,Seven (a.k.a. Se7en) (1995),Mystery|Thriller,4.771741
16,NaN,NaN,NaN,112552,Whiplash (2014),Drama,4.764554
7,5.0,Schindler's List (1993),Drama|War,527,Schindler's List (1993),Drama|War,4.763479
9,5.0,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi,260,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi,4.760956
17,NaN,NaN,NaN,318,"Shawshank Redemption, The (1994)",Crime|Drama,4.727501
18,NaN,NaN,NaN,81834,Harry Potter and the Deathly Hallows: Part 1 (...,Action|Adventure|Fantasy|IMAX,4.723981
19,NaN,NaN,NaN,2324,Life Is Beautiful (La Vita Ã¨ bella) (1997),Comedy|Drama|Romance|War,4.705324
20,NaN,NaN,NaN,89745,"Avengers, The (2012)",Action|Adventure|Sci-Fi|IMAX,4.701064
21,NaN,NaN,NaN,60069,WALLÂ·E (2008),Adventure|Animation|Children|Romance|Sci-Fi,4.699275
22,NaN,NaN,NaN,58559,"Dark Knight, The (2008)",Action|Crime|Drama|IMAX,4.692279
23,NaN,NaN,NaN,364,"Lion King, The (1994)",Adventure|Animation|Children|Drama|Musical|IMAX,4.687773
10,5.0,"Usual Suspects, The (1995)",Crime|Mystery|Thriller,50,"Usual Suspects, The (1995)",Crime|Mystery|Thriller,4.685336
5,5.0,"Matrix, The (1999)",Action|Sci-Fi|Thriller,2571,"Matrix, The (1999)",Action|Sci-Fi|Thriller,4.674731
24,NaN,NaN,NaN,76093,How to Train Your Dragon (2010),Adventure|Animation|Children|Fantasy|IMAX,4.663630
25,NaN,NaN,NaN,5816,Harry Potter and the Chamber of Secrets (2002),Adventure|Fantasy,4.644966
26,NaN,NaN,NaN,4995,"Beautiful Mind, A (2001)",Drama|Romance,4.641579
27,NaN,NaN,NaN,112852,Guardians of the Galaxy (2014),Action|Adventure|Sci-Fi,4.637824
28,NaN,NaN,NaN,8961,"Incredibles, The (2004)",Action|Adventure|Animation|Children|Comedy,4.626750
29,NaN,NaN,NaN,91529,"Dark Knight Rises, The (2012)",Action|Adventure|Crime|IMAX,4.620746
30,NaN,NaN,NaN,68954,Up (2009),Adventure|Animation|Children|Drama,4.616225
31,NaN,NaN,NaN,33794,Batman Begins (2005),Action|Crime|IMAX,4.568219
32,NaN,NaN,NaN,109487,Interstellar (2014),Sci-Fi|IMAX,4.561538
...,...,...,...,...,...,...,...
78,NaN,NaN,NaN,589,Terminator 2: Judgment Day (1991),Action|Sci-Fi,4.005546
79,NaN,NaN,NaN,99114,Django Unchained (2012),Action|Drama|Western,3.993195
80,NaN,NaN,NaN,4022,Cast Away (2000),Drama,3.977610
81,NaN,NaN,NaN,44191,V for Vendetta (2006),Action|Sci-Fi|Thriller|IMAX,3.976781
82,NaN,NaN,NaN,6539,Pirates of the Caribbean: The Curse of the Bla...,Action|Adventure|Comedy|Fantasy,3.970884
83,NaN,NaN,NaN,134130,The Martian (2015),Adventure|Drama|Sci-Fi,3.967911
84,NaN,NaN,NaN,7361,Eternal Sunshine of the Spotless Mind (2004),Drama|Romance|Sci-Fi,3.949682
85,NaN,NaN,NaN,70286,District 9 (2009),Mystery|Sci-Fi|Thriller,3.868553
86,NaN,NaN,NaN,4306,Shrek (2001),Adventure|Animation|Children|Comedy|Fantasy|Ro...,3.846849
87,NaN,NaN,NaN,1036,Die Hard (1988),Action|Crime|Thriller,3.838089
88,NaN,NaN,NaN,6942,Love Actually (2003),Comedy|Drama|Romance,3.832325
89,NaN,NaN,NaN,1584,Contact (1997),Drama|Sci-Fi,3.817914
90,NaN,NaN,NaN,4973,"Amelie (Fabuleux destin d'AmÃ©lie Poulain, Le)...",Comedy|Romance,3.782274
91,NaN,NaN,NaN,592,Batman (1989),Action|Crime|Thriller,3.781819
92,NaN,NaN,NaN,4226,Memento (2000),Mystery|Thriller,3.751220
93,NaN,NaN,NaN,49272,Casino Royale (2006),Action|Adventure|Thriller,3.749565
94,NaN,NaN,NaN,5989,Catch Me If You Can (2002),Crime|Drama,3.748497
95,NaN,NaN,NaN,5445,Minority Report (2002),Action|Crime|Mystery|Sci-Fi|Thriller,3.735333
96,NaN,NaN,NaN,77561,Iron Man 2 (2010),Action|Adventure|Sci-Fi|Thriller|IMAX,3.703729
97,NaN,NaN,NaN,783,"Hunchback of Notre Dame, The (1996)",Animation|Children|Drama|Musical|Romance,3.650914
98,NaN,NaN,NaN,597,Pretty Woman (1990),Comedy|Romance,3.602626
99,NaN,NaN,NaN,122916,Thor: Ragnarok (2017),Action|Adventure|Sci-Fi,3.558539
100,NaN,NaN,NaN,176371,Blade Runner 2049 (2017),Sci-Fi,3.519760
101,NaN,NaN,NaN,54286,"Bourne Ultimatum, The (2007)",Action|Crime|Thriller,3.510002
102,NaN,NaN,NaN,1485,Liar Liar (1997),Comedy,3.505875
103,NaN,NaN,NaN,296,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller,3.496495
104,NaN,NaN,NaN,300,Quiz Show (1994),Drama,3.239579
105,NaN,NaN,NaN,329,Star Trek: Generations (1994),Adventure|Drama|Sci-Fi,3.230377
106,NaN,NaN,NaN,1597,Conspiracy Theory (1997),Drama|Mystery|Romance|Thriller,3.087359
107,NaN,NaN,NaN,2770,Bowfinger (1999),Comedy,2.903103

In [53]:
eval_ratings = ratings

def eval_prediction(predict_users, n_users=50, kind = 'user'):
    ## evaluation
    ds = pd.merge(eval_ratings, ratings[['movieId','rating']].groupby(['movieId']).mean().reset_index(), 
                  on='movieId', how='left')

    ds = ds.rename(columns= {'rating_x':'rating', 'rating_y':'mean_rating'})
    st = time.time()
    ## udpate to predict_rating 
    user_distance_functions = [('user_euclidean',distance_euclidean), ('user_cosine', distance_cosine)]
    for name, func in user_distance_functions:
        ds[name] = 0
        for user_id in predict_users:
            # key: movie id, value : predicted_rating
            for x in predictRating(user_id, n_users, func):
                ds.loc[(ds.userId==user_id) & (ds.movieId==x[0]),name]=x[1]
    item_distance_functions = [('item_euclidean', distance_euclidean), ('item_cosine', distance_cosine)]
    
    print('runtime', round(time.time()-st,2), 'sec')
    #Only the tuple corresponding to the user performing the predict in the entire dataFrame is returned
    return ds[ds.user_euclidean+ds.user_cosine >0]

In [ ]:
## all userId list 
users = UM_matrix_ds.index.tolist()
## 10-person star rating
predicted_user = eval_prediction(users[:2], 100, kind = 'user')
predicted_user

In [ ]:
movies = UM_matrix_ds.columns.tolist()
predicted_item = eval_prediction()

In [19]:
predicted = predicted[ (predicted['cosine'] > 0) & (predicted['euclidean'] > 0) ]
def RMSE(X, left_col, right_col):
    return(np.sqrt(np.mean((X[left_col] - X[right_col])**2)))

def MAE(X, left_col, right_col):
    return(np.mean(np.absolute(X[left_col] - X[right_col])) )

for name in ['mean_rating', 'cosine', 'euclidean']:
    print ("MAE of {0} is {1} ".format(name, MAE(predicted, 'rating', name)))

for name in ['mean_rating', 'cosine', 'euclidean']:
    print ("RMSE of {0} is {1} ".format(name, RMSE(predicted, 'rating', name)))

MAE of mean_rating is 0.6732807276979298
MAE of cosine is 0.5531792589753918
MAE of euclidean is 0.40421532736958293
RMSE of mean_rating is 0.8576843201841777
RMSE of cosine is 0.7377415273102896
RMSE of euclidean is 0.5665102964641624