In [1]:
import pandas as pd
import numpy as np
import time

In [2]:
ratings = pd.read_csv("./ml-latest-small/ratings.csv")
ratings[ratings.userId==2].head(20)

     userId  movieId  rating   timestamp
232       2      318     3.0  1445714835
233       2      333     4.0  1445715029
234       2     1704     4.5  1445715228
235       2     3578     4.0  1445714885
236       2     6874     4.0  1445714952
237       2     8798     3.5  1445714960
238       2    46970     4.0  1445715013
239       2    48516     4.0  1445715064
240       2    58559     4.5  1445715141
241       2    60756     5.0  1445714980
242       2    68157     4.5  1445715154
243       2    71535     3.0  1445714974
244       2    74458     4.0  1445714926
245       2    77455     3.0  1445714941
246       2    79132     4.0  1445714841
247       2    80489     4.5  1445715340
248       2    80906     5.0  1445715172
249       2    86345     4.0  1445715166
250       2    89774     5.0  1445715189
251       2    91529     3.5  1445714891

In [3]:
movies = pd.read_csv('./ml-latest/movies.csv', encoding='latin-1')
print (movies.shape)
movies.head()

(58098, 3)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [4]:
num_users = ratings.userId.unique().shape[0]
num_items = ratings.movieId.unique().shape[0]
num_users, num_items

(610, 9724)

In [5]:
from sklearn import model_selection as ms
train_set, test_set = ms.train_test_split(ratings, test_size=0.25)
len(train_set), len(test_set)

(75627, 25209)

In [6]:
UM_matrix_ds = ratings.pivot(index='userId', columns='movieId', values='rating')
print("UM Matrix value size", UM_matrix_ds.values.size)
print("ratings value size", ratings.values.size)
print("Sparisity: {:4.2f}%".format(ratings.rating.values.size/UM_matrix_ds.values.size*100))
UM_matrix_ds.head(10)

UM Matrix value size 5931640
ratings value size 403344
Sparisity: 1.70%

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,NaN,4.0,NaN,NaN,4.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,4.0,5.0,3.0,5.0,4.0,4.0,3.0,NaN,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,4.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
# similarity
import math
from operator import itemgetter
from scipy.spatial import distance

def distance_cosine(a,b):
    return 1-distance.cosine(a,b)

def disance_corr(a,b):
    return 1-distance.correlation(a,b)

def distance_euclidean(a,b):
    return 1/(distance.euclidean(a,b)+1)

In [8]:
def nearest_neighbor_user(user, topN, simFunc) :  
    u1 = UM_matrix_ds.loc[user].dropna()
    ratedIndex = u1.index
    nn = {}
    
    # Brute-Force Compute
    for uid, row in UM_matrix_ds.iterrows():
        interSectionU1 = []
        interSectionU2 = []
        if uid==user:
            continue
            
        for i in ratedIndex:
            if False==math.isnan(row[i]):
                interSectionU1.append(u1[i])
                interSectionU2.append(row[i])
        interSectionLen = len(interSectionU1)
        
        # at least 3 intersection items
        if interSectionLen < 3 :
            continue
            
        # similarity functon
        sim = simFunc(interSectionU1, interSectionU2)
        
        if  math.isnan(sim) == False:
            nn[uid] = sim
            
    # top N returned         
    return sorted(nn.items(),key=itemgetter(1),reverse=True)[:(topN+1)]
    #return sorted(nn.items(),key=itemgetter(1))[:-(topN+1):-1]

In [9]:
def nearest_neighbor_item(movie, topN, simFunc):
    m1 = UM_matrix_ds[movie].dropna()
    user_index = m1.index
    nn = {}
    
    for movieId, col in UM_matrix_ds.iteritems():
        interSectionU1 = []
        interSectionU2 = []
        if movie == movieId:
            continue
        
        for i in user_index:
            if False==math.isnan(col[i]):
                interSectionU1.append(m1[i])
                interSectionU2.append(col[i])
        interSectionLen = len(interSectionU1)
        # at least 3 intersection items
        if interSectionLen < 3 :
            continue
            
        # similarity functon
        sim = simFunc(interSectionU1, interSectionU2)
        
        if  math.isnan(sim) == False:
            nn[movieId] = sim
            
    # top N returned         
    return sorted(nn.items(),key=itemgetter(1),reverse=True)[:(topN+1)]

In [10]:
print(pd.DataFrame(nearest_neighbor_user(278, 100, distance_euclidean), columns=['userId', 'sim']))
print(pd.DataFrame(nearest_neighbor_item(1, 100, distance_euclidean), columns=['movieId', 'sim']))

     userId       sim
0         8  1.000000
1        15  1.000000
2       348  1.000000
3       352  1.000000
4       373  1.000000
5       382  1.000000
6       512  1.000000
7       566  1.000000
8       601  1.000000
9       602  1.000000
10        1  0.666667
11      296  0.666667
12      338  0.666667
13      484  0.666667
14      515  0.666667
15      572  0.666667
16       17  0.585786
17       59  0.585786
18       72  0.585786
19      178  0.585786
20      232  0.585786
21      254  0.585786
22      280  0.585786
23      282  0.585786
24      330  0.585786
25      343  0.585786
26      415  0.585786
27      418  0.585786
28      489  0.585786
29      587  0.585786
..      ...       ...
71      200  0.387426
72      202  0.387426
73      219  0.387426
74      239  0.387426
75      249  0.387426
76      152  0.376179
77      420  0.376179
78      590  0.376179
79      356  0.366025
80      105  0.356789
81      318  0.356789
82      434  0.356789
83      452  0.356789
84      552  0.356789
85      212  0.348331
86      103  0.340542
87      290  0.340542
88      331  0.333333
89      453  0.333333
90      455  0.333333
91      580  0.333333
92      265  0.326632
93      469  0.326632
94      111  0.320377
95      167  0.320377
96      275  0.320377
97      357  0.320377
98        5  0.309017
99       60  0.309017
100     109  0.309017

[101 rows x 2 columns]
     movieId       sim
0       1484  1.000000
1       2932  1.000000
2       2940  1.000000
3       2967  1.000000
4       2988  1.000000
5       3111  1.000000
6       3384  1.000000
7       4745  1.000000
8       5833  1.000000
9       5876  1.000000
10      7766  1.000000
11    178061  1.000000
12       482  0.666667
13       949  0.666667
14      1082  0.666667
15      1192  0.666667
16      1447  0.666667
17      2553  0.666667
18      2971  0.666667
19      3117  0.666667
20      3412  0.666667
21      3724  0.666667
22      4220  0.666667
23      4713  0.666667
24      5039  0.666667
25      6041  0.666667
26      6636  0.666667
27      6639  0.666667
28      7048  0.666667
29     26528  0.666667
..       ...       ...
71    162578  0.585786
72      3545  0.535898
73      3871  0.535898
74      4846  0.535898
75      4889  0.535898
76      4954  0.535898
77      5298  0.535898
78      5483  0.535898
79      7285  0.535898
80      7303  0.535898
81      8008  0.535898
82     26903  0.535898
83     30820  0.535898
84     33677  0.535898
85     40414  0.535898
86     45440  0.535898
87     49132  0.535898
88     49910  0.535898
89     80586  0.535898
90     96655  0.535898
91     98124  0.535898
92    158238  0.535898
93    180031  0.535898
94       233  0.500000
95       944  0.500000
96       948  0.500000
97      1050  0.500000
98      1051  0.500000
99      1177  0.500000
100     1332  0.500000

[101 rows x 2 columns]

In [11]:
def predictRating(id_num, nn=50, simFunc=distance_euclidean, kind = 'user') :
   
    if (kind == "user"):
        ## neighboorhood 
        neighbor = nearest_neighbor_user(id_num, nn, simFunc)
        # userid: dictionary of similarity

        neighbor_id = [id for id, sim in neighbor]
        # List of similar similarities

        ## Remove if four or more are NaN
        neighbor_movie = UM_matrix_ds.loc[neighbor_id].dropna(1, how = 'all', thresh = 4)
        # User id x DataFrame of movie id. However, if the NaN of the column is 4 or more, it is deleted.

        neighbor_dic = (dict(neighbor))
        ret = [] #['movieId', 'predictedRate']

        # iterate through each column key: userid, column: movieid, value: rating
        for movieId, row in neighbor_movie.iteritems():
            jsum, wsum = 0, 0
            for v in row.dropna().iteritems():
                sim = neighbor_dic.get(v[0],0)
                jsum += sim
                wsum += (v[1]*sim)
            ret.append([movieId, wsum/jsum])

        return ret
    
    elif (kind == 'item'):
        neighbor = nearest_neighbor_item(id_num, nn, simFunc)
        
        neighbor_id = [id for id, sim in neighbor]
        
        neighbor_ratedUser = UM_matrix_ds[neighbor_id].dropna(0, how = 'all', thresh = 4)
        
        neighbor_dic = dict(neighbor)
        ret = []
        
        for userId, row in neighbor_ratedUser.iterrows():
            jsum, wsum = 0, 0
            for v in row.dropna().iteritems():
                sim = neighbor_dic.get(v[0], 0)
                jsum += sim
                wsum += (v[1]*sim)
            ret.append([userId, wsum/jsum])
        
        return ret

In [12]:
predictRating(10, 50, kind = 'user')
# predictRating(1, 50, kind = 'item')

[[1, 3.950267484592048],
 [2, 3.979811986075693],
 [3, 3.7627161241490796],
 [5, 3.383238977624035],
 [6, 3.623842151924668],
 [7, 3.544298112964249],
 [10, 3.278438634105372],
 [11, 4.218009787879696],
 [15, 3.1087378374683117],
 [16, 3.2752866066870943],
 [17, 3.715749533510972],
 [19, 2.805939205324938],
 [21, 2.6872527010478597],
 [22, 3.726903174436542],
 [24, 3.4761302011691093],
 [31, 3.191573551445447],
 [32, 3.5042768181876873],
 [34, 4.057807531359828],
 [36, 4.0],
 [39, 3.352792594329325],
 [41, 3.6871664255542154],
 [45, 3.0],
 [47, 3.185412191529095],
 [48, 3.5505204425115138],
 [50, 3.7719146614612225],
 [58, 3.917991694340093],
 [60, 3.559410982343283],
 [62, 3.620110565859888],
 [95, 3.510765119909787],
 [104, 3.509426240337509],
 [105, 3.1956963283276743],
 [110, 3.94579194387426],
 [135, 2.8763324697165125],
 [141, 3.5446362510880145],
 [145, 3.057471965004246],
 [150, 3.7739215772435037],
 [151, 3.2149511335990546],
 [153, 3.05714129247507],
 [158, 3.472019676563249],
 [160, 3.6935873842739246],
 [161, 3.637185823789935],
 [163, 2.289726375690253],
 [165, 3.163876028862019],
 [168, 4.012106612557018],
 [172, 2.501115509813353],
 [173, 3.2997633595147935],
 [174, 2.7396978667455865],
 [181, 2.6130319646829476],
 [185, 3.1829757382996364],
 [186, 3.3397460201199225],
 [193, 2.076932299276715],
 [196, 2.9901537090020405],
 [203, 3.2580001549517323],
 [204, 3.155255876576247],
 [208, 3.0104202807575726],
 [218, 3.4594513781672216],
 [223, 3.7265888194502628],
 [224, 3.3850582539693277],
 [225, 3.7474835280404144],
 [227, 2.8598068900343563],
 [231, 2.7336570620779614],
 [234, 1.9058928446730825],
 [235, 3.524811068242812],
 [236, 3.2711709490306387],
 [237, 3.7828234761769166],
 [239, 2.9999999999999996],
 [248, 3.551741789658082],
 [252, 3.3778860073985943],
 [253, 3.0964846683046754],
 [256, 3.843069965684187],
 [257, 4.10901746273921],
 [260, 4.28223797899475],
 [261, 3.864114937150755],
 [266, 3.490507170484366],
 [272, 3.4471293924385864],
 [273, 3.2647809707411106],
 [276, 3.264918929073742],
 [277, 3.4325775074132268],
 [282, 3.529136382838939],
 [288, 2.2141813342047265],
 [292, 3.583784660628212],
 [293, 3.358431292383074],
 [296, 2.372574553046831],
 [300, 3.1278051144258567],
 [303, 2.524958245709265],
 [314, 4.235966551227543],
 [315, 3.202326363768997],
 [316, 3.2563966900301846],
 [317, 3.5812022638700145],
 [318, 4.36867036292586],
 [329, 3.5344961398884878],
 [333, 3.766280793746372],
 [337, 4.051493750545317],
 [338, 3.4949224159036647],
 [339, 3.5485187317844327],
 [344, 2.76414140584611],
 [349, 3.7013577056289586],
 [350, 3.7315332737195086],
 [351, 3.161455153203381],
 [355, 2.8639880793386796],
 [356, 4.344369845706516],
 [357, 3.645682544151999],
 [361, 2.9554103327154087],
 [362, 3.491394086729133],
 [364, 3.8321001797323917],
 [367, 3.361757687671955],
 [368, 3.4371154459858704],
 [370, 3.2998914540312247],
 [371, 3.1919328243522362],
 [374, 2.606837729270434],
 [376, 3.609235726319595],
 [377, 3.623547393196843],
 [380, 3.4930155890175483],
 [383, 3.250612128131476],
 [410, 2.8218223704761973],
 [413, 2.2476270709023147],
 [415, 3.17929148457609],
 [419, 2.808139899317941],
 [420, 3.1803807910841346],
 [421, 3.5394170354509704],
 [432, 3.3831855690344312],
 [434, 3.0592468152792582],
 [435, 2.5457389742797876],
 [440, 3.5439947434799275],
 [442, 3.0451076891782844],
 [454, 3.7010095566991454],
 [455, 2.706298474761825],
 [457, 4.043247612231762],
 [466, 2.627454473876025],
 [468, 3.5279484337729348],
 [471, 3.4930572580028834],
 [474, 3.7017988136836144],
 [477, 3.725899146855762],
 [480, 3.918722727701872],
 [485, 3.0328331762956093],
 [491, 3.192274139416164],
 [494, 3.2128651700196453],
 [497, 4.2161064207072725],
 [500, 3.5942570942355028],
 [502, 2.7986970571242473],
 [508, 3.797027036772116],
 [509, 3.718045469833269],
 [515, 3.3879348108986913],
 [516, 3.3818856646089053],
 [519, 2.2416185728014404],
 [520, 3.3202676565067595],
 [524, 3.928617090667351],
 [527, 3.8514618181504536],
 [529, 4.113676394539613],
 [531, 3.7043204693421385],
 [533, 2.479266061031898],
 [539, 3.8553356374031416],
 [540, 3.0000000000000004],
 [541, 4.718109757675459],
 [542, 3.4648338011452586],
 [543, 2.8616645238527005],
 [551, 3.495939164738399],
 [552, 3.1370997888826184],
 [553, 3.8521423354498063],
 [555, 3.31129566848829],
 [586, 2.9684628720884616],
 [587, 3.969415473764301],
 [588, 3.5854426734729876],
 [589, 3.705172819945038],
 [590, 3.914316568434374],
 [592, 3.1226745284526505],
 [593, 3.7193421380559424],
 [594, 3.597983692113185],
 [595, 3.6396091746167962],
 [596, 3.4246528774660323],
 [597, 3.493373834774465],
 [608, 3.576783293748235],
 [616, 3.6628905301916737],
 [648, 3.9607076892624256],
 [653, 3.603061053097818],
 [733, 3.951325176220727],
 [736, 3.7825552158709614],
 [745, 4.252851559593742],
 [750, 4.463445715925126],
 [761, 3.2298035917095],
 [780, 3.9075988770994075],
 [783, 3.9499433922815848],
 [830, 3.9065900040641437],
 [858, 3.660225872710277],
 [903, 3.6799185533670804],
 [904, 4.740730309792297],
 [912, 4.110624382680675],
 [913, 4.202153134397516],
 [920, 3.127095943712616],
 [924, 3.921266902885788],
 [1035, 4.50173851580569],
 [1036, 3.402065627546662],
 [1073, 4.075701216364057],
 [1080, 3.343458854795939],
 [1090, 3.093321705722216],
 [1097, 4.82337557738903],
 [1101, 2.5249899886409435],
 [1193, 4.272246490134006],
 [1196, 4.348110966826389],
 [1197, 4.783711338043835],
 [1198, 4.442114576955285],
 [1200, 2.2764959339304296],
 [1210, 3.7234692590423633],
 [1214, 4.274616207343159],
 [1222, 3.808214939697129],
 [1247, 3.4740315260889862],
 [1250, 4.020106123365216],
 [1252, 4.507938093368123],
 [1265, 4.252095911883641],
 [1270, 3.656262247107939],
 [1304, 3.74219290017906],
 [1356, 3.9377661830445203],
 [1372, 3.002285969439541],
 [1374, 2.9626835787343437],
 [1393, 3.533831089581114],
 [1544, 3.042438986697932],
 [1580, 3.9094913035622385],
 [1721, 3.9377517274251206],
 [1907, 3.493247818135422],
 [2012, 2.888091062182572],
 [2028, 4.181983461259799],
 [2054, 3.3081987004536644],
 [2085, 3.5564736182996457],
 [2115, 4.196199773372342],
 [2161, 4.1525862677736125],
 [2174, 2.755858847957929],
 [2355, 3.5167081459247154],
 [2396, 4.0],
 [2529, 3.0857027997246522],
 [2542, 3.6583038203980505],
 [2657, 3.3098798198614396],
 [2671, 3.2653714023070464],
 [2694, 3.3484950389872243],
 [2797, 3.6854122144904182],
 [2858, 2.4366813040098645],
 [2944, 4.507712245782865],
 [2987, 2.7101043238733227],
 [3448, 4.242283733359965],
 [3450, 3.594827256475591],
 [3504, 3.4902045769542034],
 [3552, 4.236305269375596],
 [3671, 3.951103989805892],
 [3751, 3.4818430776745632],
 [4226, 3.9047805509432085],
 [4306, 4.42004331848954],
 [4308, 4.492707208565863],
 [4963, 4.230342138670162],
 [4993, 4.40811769489283],
 [4995, 4.65302736479388],
 [5218, 4.133842635979494],
 [5952, 4.214857292176656],
 [6539, 4.008121739874953],
 [7153, 4.320946979920835],
 [8360, 4.003910351180071],
 [8368, 3.4131923008360303]]

In [13]:
## view rated movies and movies with high ratings
def ratingMovies(user_id):
    ds = pd.merge(ratings[ratings.userId==user_id], movies, on=['movieId'])
    return ds.sort_values(by=['rating'], ascending=False)[['rating','title','genres','movieId']].head(100)
ratingMovies(1).head()

,rating,title,genres,movieId
231,5.0,M*A*S*H (a.k.a. MASH) (1970),Comedy|Drama|War,5060
185,5.0,Excalibur (1981),Adventure|Fantasy,2872
89,5.0,Indiana Jones and the Last Crusade (1989),Action|Adventure,1291
90,5.0,Pink Floyd: The Wall (1982),Drama|Musical,1298
190,5.0,From Russia with Love (1963),Action|Adventure|Thriller,2948

In [15]:
def join_movie_info(predicted_result):
    predicted_ratings = pd.DataFrame(predicted_result, columns=['movieId', 'predicted_rating'])
    result_ds = pd.merge(movies[movies.movieId > 0], predicted_ratings, on=['movieId'])
    return result_ds.sort_values(by=['predicted_rating'], ascending=False)

result_user = predictRating(50, kind = 'user')
result_item = predictRating(1, kind = 'item')
join_movie_info(result_user).head(10)

,movieId,title,genres,predicted_rating
57,260,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi,4.389825
140,1210,Star Wars: Episode VI - Return of the Jedi (1983),Action|Adventure|Sci-Fi,4.378229
142,1356,Star Trek: First Contact (1996),Action|Adventure|Sci-Fi|Thriller,4.306830
77,357,Four Weddings and a Funeral (1994),Comedy|Romance,4.238537
118,608,Fargo (1996),Comedy|Crime|Drama|Thriller,4.238281
141,1214,Alien (1979),Horror|Sci-Fi,4.166206
69,318,"Shawshank Redemption, The (1994)",Crime|Drama,4.154359
7,11,"American President, The (1995)",Comedy|Drama|Romance,4.147632
9,16,Casino (1995),Crime|Drama,4.122993
16,36,Dead Man Walking (1995),Crime|Drama,4.086745

In [21]:
join_movie_info(result_item).head(10)

,movieId,title,genres,predicted_rating
5,380,True Lies (1994),Action|Adventure|Comedy|Romance|Thriller,5.000000
2,249,Immortal Beloved (1994),Drama|Romance,4.400000
1,182,Moonlight and Valentino (1995),Drama|Romance,4.096215
3,290,Once Were Warriors (1994),Crime|Drama,4.000000
9,603,"Bye Bye, Love (1995)",Comedy,4.000000
6,414,"Air Up There, The (1994)",Comedy,3.980591
7,474,In the Line of Fire (1993),Action|Thriller,3.789569
4,318,"Shawshank Redemption, The (1994)",Crime|Drama,3.125000
0,140,Up Close and Personal (1996),Drama|Romance,3.116928
8,599,"Wild Bunch, The (1969)",Adventure|Western,2.897704

In [16]:
# 5th user's star rating
userId=1
pd.merge(ratingMovies(userId), join_movie_info(predictRating(userId)), 
         on=['movieId'], how='right').sort_values(by=['predicted_rating'], ascending =False)

,rating,title_x,genres_x,movieId,title_y,genres_y,predicted_rating
3,5.0,"Princess Bride, The (1987)",Action|Adventure|Comedy|Fantasy|Romance,1197,"Princess Bride, The (1987)",Action|Adventure|Comedy|Fantasy|Romance,5.000000
12,NaN,NaN,NaN,588,Aladdin (1992),Adventure|Animation|Children|Comedy|Musical,5.000000
0,5.0,American Beauty (1999),Drama|Romance,2858,American Beauty (1999),Drama|Romance,5.000000
13,NaN,NaN,NaN,4896,Harry Potter and the Sorcerer's Stone (a.k.a. ...,Adventure|Children|Fantasy,4.886699
6,5.0,Raiders of the Lost Ark (Indiana Jones and the...,Action|Adventure,1198,Raiders of the Lost Ark (Indiana Jones and the...,Action|Adventure,4.866430
14,NaN,NaN,NaN,3147,"Green Mile, The (1999)",Crime|Drama,4.846440
8,5.0,Gladiator (2000),Action|Adventure|Drama,3578,Gladiator (2000),Action|Adventure|Drama,4.809555
15,NaN,NaN,NaN,5618,Spirited Away (Sen to Chihiro no kamikakushi) ...,Adventure|Animation|Fantasy,4.775069
11,5.0,Seven (a.k.a. Se7en) (1995),Mystery|Thriller,47,Seven (a.k.a. Se7en) (1995),Mystery|Thriller,4.771741
16,NaN,NaN,NaN,112552,Whiplash (2014),Drama,4.764554
7,5.0,Schindler's List (1993),Drama|War,527,Schindler's List (1993),Drama|War,4.763479
9,5.0,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi,260,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi,4.760956
17,NaN,NaN,NaN,318,"Shawshank Redemption, The (1994)",Crime|Drama,4.727501
18,NaN,NaN,NaN,81834,Harry Potter and the Deathly Hallows: Part 1 (...,Action|Adventure|Fantasy|IMAX,4.723981
19,NaN,NaN,NaN,2324,Life Is Beautiful (La Vita Ã¨ bella) (1997),Comedy|Drama|Romance|War,4.705324
20,NaN,NaN,NaN,89745,"Avengers, The (2012)",Action|Adventure|Sci-Fi|IMAX,4.701064
21,NaN,NaN,NaN,60069,WALLÂ·E (2008),Adventure|Animation|Children|Romance|Sci-Fi,4.699275
22,NaN,NaN,NaN,58559,"Dark Knight, The (2008)",Action|Crime|Drama|IMAX,4.692279
23,NaN,NaN,NaN,364,"Lion King, The (1994)",Adventure|Animation|Children|Drama|Musical|IMAX,4.687773
10,5.0,"Usual Suspects, The (1995)",Crime|Mystery|Thriller,50,"Usual Suspects, The (1995)",Crime|Mystery|Thriller,4.685336
5,5.0,"Matrix, The (1999)",Action|Sci-Fi|Thriller,2571,"Matrix, The (1999)",Action|Sci-Fi|Thriller,4.674731
24,NaN,NaN,NaN,76093,How to Train Your Dragon (2010),Adventure|Animation|Children|Fantasy|IMAX,4.663630
25,NaN,NaN,NaN,5816,Harry Potter and the Chamber of Secrets (2002),Adventure|Fantasy,4.644966
26,NaN,NaN,NaN,4995,"Beautiful Mind, A (2001)",Drama|Romance,4.641579
27,NaN,NaN,NaN,112852,Guardians of the Galaxy (2014),Action|Adventure|Sci-Fi,4.637824
28,NaN,NaN,NaN,8961,"Incredibles, The (2004)",Action|Adventure|Animation|Children|Comedy,4.626750
29,NaN,NaN,NaN,91529,"Dark Knight Rises, The (2012)",Action|Adventure|Crime|IMAX,4.620746
30,NaN,NaN,NaN,68954,Up (2009),Adventure|Animation|Children|Drama,4.616225
31,NaN,NaN,NaN,33794,Batman Begins (2005),Action|Crime|IMAX,4.568219
32,NaN,NaN,NaN,109487,Interstellar (2014),Sci-Fi|IMAX,4.561538
...,...,...,...,...,...,...,...
78,NaN,NaN,NaN,589,Terminator 2: Judgment Day (1991),Action|Sci-Fi,4.005546
79,NaN,NaN,NaN,99114,Django Unchained (2012),Action|Drama|Western,3.993195
80,NaN,NaN,NaN,4022,Cast Away (2000),Drama,3.977610
81,NaN,NaN,NaN,44191,V for Vendetta (2006),Action|Sci-Fi|Thriller|IMAX,3.976781
82,NaN,NaN,NaN,6539,Pirates of the Caribbean: The Curse of the Bla...,Action|Adventure|Comedy|Fantasy,3.970884
83,NaN,NaN,NaN,134130,The Martian (2015),Adventure|Drama|Sci-Fi,3.967911
84,NaN,NaN,NaN,7361,Eternal Sunshine of the Spotless Mind (2004),Drama|Romance|Sci-Fi,3.949682
85,NaN,NaN,NaN,70286,District 9 (2009),Mystery|Sci-Fi|Thriller,3.868553
86,NaN,NaN,NaN,4306,Shrek (2001),Adventure|Animation|Children|Comedy|Fantasy|Ro...,3.846849
87,NaN,NaN,NaN,1036,Die Hard (1988),Action|Crime|Thriller,3.838089
88,NaN,NaN,NaN,6942,Love Actually (2003),Comedy|Drama|Romance,3.832325
89,NaN,NaN,NaN,1584,Contact (1997),Drama|Sci-Fi,3.817914
90,NaN,NaN,NaN,4973,"Amelie (Fabuleux destin d'AmÃ©lie Poulain, Le)...",Comedy|Romance,3.782274
91,NaN,NaN,NaN,592,Batman (1989),Action|Crime|Thriller,3.781819
92,NaN,NaN,NaN,4226,Memento (2000),Mystery|Thriller,3.751220
93,NaN,NaN,NaN,49272,Casino Royale (2006),Action|Adventure|Thriller,3.749565
94,NaN,NaN,NaN,5989,Catch Me If You Can (2002),Crime|Drama,3.748497
95,NaN,NaN,NaN,5445,Minority Report (2002),Action|Crime|Mystery|Sci-Fi|Thriller,3.735333
96,NaN,NaN,NaN,77561,Iron Man 2 (2010),Action|Adventure|Sci-Fi|Thriller|IMAX,3.703729
97,NaN,NaN,NaN,783,"Hunchback of Notre Dame, The (1996)",Animation|Children|Drama|Musical|Romance,3.650914
98,NaN,NaN,NaN,597,Pretty Woman (1990),Comedy|Romance,3.602626
99,NaN,NaN,NaN,122916,Thor: Ragnarok (2017),Action|Adventure|Sci-Fi,3.558539
100,NaN,NaN,NaN,176371,Blade Runner 2049 (2017),Sci-Fi,3.519760
101,NaN,NaN,NaN,54286,"Bourne Ultimatum, The (2007)",Action|Crime|Thriller,3.510002
102,NaN,NaN,NaN,1485,Liar Liar (1997),Comedy,3.505875
103,NaN,NaN,NaN,296,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller,3.496495
104,NaN,NaN,NaN,300,Quiz Show (1994),Drama,3.239579
105,NaN,NaN,NaN,329,Star Trek: Generations (1994),Adventure|Drama|Sci-Fi,3.230377
106,NaN,NaN,NaN,1597,Conspiracy Theory (1997),Drama|Mystery|Romance|Thriller,3.087359
107,NaN,NaN,NaN,2770,Bowfinger (1999),Comedy,2.903103

In [22]:
eval_ratings = ratings

def eval_prediction(predict_users, n_users=50):
    ## evaluation
    ds = pd.merge(eval_ratings, ratings[['movieId','rating']].groupby(['movieId']).mean().reset_index(), 
                  on='movieId', how='left')

    ds = ds.rename(columns= {'rating_x':'rating', 'rating_y':'mean_rating'})
    print (ds)
    st = time.time()
    ## udpate to predict_rating 
    distance_functions = [('euclidean',distance_euclidean), ('cosine', distance_cosine)]
    for name, func in distance_functions:
        ds[name] = 0
        for user_id in predict_users:
            # key: movie id, value : predicted_rating
            for x in predictRating(user_id, n_users, func):
                ds.loc[(ds.userId==user_id) & (ds.movieId==x[0]),name]=x[1]
    print('runtime', round(time.time()-st,2), 'sec')
    #Only the tuple corresponding to the user performing the predict in the entire dataFrame is returned
    return ds[ds.euclidean+ds.cosine>0]

In [23]:
## all userId list 
users = UM_matrix_ds.index.tolist()
## 10-person star rating
predicted = eval_prediction(users[:50], 20)
predicted

        userId  movieId  rating   timestamp  mean_rating
0            1        1     4.0   964982703     3.920930
1            1        3     4.0   964981247     3.259615
2            1        6     4.0   964982224     3.946078
3            1       47     5.0   964983815     3.975369
4            1       50     5.0   964982931     4.237745
5            1       70     3.0   964982400     3.509091
6            1      101     5.0   964980868     3.782609
7            1      110     4.0   964982176     4.031646
8            1      151     5.0   964984041     3.545455
9            1      157     5.0   964984100     2.863636
10           1      163     5.0   964983650     3.560606
11           1      216     5.0   964981208     3.326531
12           1      223     3.0   964980985     3.855769
13           1      231     5.0   964981179     3.060150
14           1      235     4.0   964980908     3.678571
15           1      260     5.0   964981680     4.231076
16           1      296     3.0   964982967     4.197068
17           1      316     3.0   964982310     3.375000
18           1      333     5.0   964981179     3.780000
19           1      349     4.0   964982563     3.604545
20           1      356     4.0   964980962     4.164134
21           1      362     5.0   964982588     3.529412
22           1      367     4.0   964981710     3.184713
23           1      423     3.0   964982363     2.850000
24           1      441     4.0   964980868     3.928571
25           1      457     5.0   964981909     3.992105
26           1      480     4.0   964982346     3.750000
27           1      500     3.0   964981208     3.388889
28           1      527     5.0   964984002     4.225000
29           1      543     4.0   964981179     3.317073
...        ...      ...     ...         ...          ...
100806     610   150401     3.0  1479543210     3.000000
100807     610   152077     4.0  1493845817     3.678571
100808     610   152081     4.0  1493846503     3.890625
100809     610   152372     3.5  1493848841     3.500000
100810     610   155064     3.5  1493848456     3.000000
100811     610   156371     5.0  1479542831     4.166667
100812     610   156726     4.5  1493848444     2.666667
100813     610   157296     4.0  1493846563     3.576923
100814     610   158238     5.0  1479545219     3.833333
100815     610   158721     3.5  1479542491     3.500000
100816     610   158872     3.5  1493848024     3.642857
100817     610   158956     3.0  1493848947     2.500000
100818     610   159093     3.0  1493847704     3.636364
100819     610   160080     3.0  1493848031     3.125000
100820     610   160341     2.5  1479545749     2.500000
100821     610   160527     4.5  1479544998     4.500000
100822     610   160571     3.0  1493848537     3.000000
100823     610   160836     3.0  1493844794     3.000000
100824     610   161582     4.0  1493847759     3.562500
100825     610   161634     4.0  1493848362     3.300000
100826     610   162350     3.5  1493849971     3.583333
100827     610   163937     3.5  1493848789     3.500000
100828     610   163981     3.5  1493850155     3.500000
100829     610   164179     5.0  1493845631     3.980769
100830     610   166528     4.0  1493879365     3.925926
100831     610   166534     4.0  1493848402     3.333333
100832     610   168248     5.0  1493850091     4.142857
100833     610   168250     5.0  1494273047     3.633333
100834     610   168252     5.0  1493846352     4.280000
100835     610   170875     3.0  1493846415     2.333333

[100836 rows x 5 columns]
runtime 174.59 sec

      userId  movieId  rating   timestamp  mean_rating  euclidean    cosine
15         1      260     5.0   964981680     4.231076   0.000000  4.250250
20         1      356     4.0   964980962     4.164134   4.398092  4.187563
28         1      527     5.0   964984002     4.225000   4.686596  4.562635
34         1      593     4.0   964983793     4.161290   0.000000  3.749443
67         1     1136     5.0   964981327     4.161765   0.000000  4.124503
69         1     1197     5.0   964981872     4.232394   0.000000  4.749918
70         1     1198     5.0   964981827     4.207500   4.934754  4.700413
121        1     2028     4.0   964981888     4.146277   4.344063  4.124966
166        1     2571     5.0   964981888     4.192446   4.874116  4.389409
192        1     2959     5.0   964983282     4.272936   4.610065  4.562747
203        1     3147     5.0   964983873     4.148649   0.000000  4.624691
219        1     3578     5.0   964980668     3.938235   4.899495  4.625484
232        2      318     3.0  1445714835     4.429022   3.847331  3.954691
234        2     1704     4.5  1445715228     4.078014   4.400221  4.700167
235        2     3578     4.0  1445714885     3.938235   4.242212  4.409354
236        2     6874     4.0  1445714952     3.961832   4.369923  4.500228
239        2    48516     4.0  1445715064     4.252336   4.293318  4.538436
240        2    58559     4.5  1445715141     4.238255   4.236992  4.637114
242        2    68157     4.5  1445715154     4.136364   4.286394  4.785996
244        2    74458     4.0  1445714926     4.022388   0.000000  4.499888
246        2    79132     4.0  1445714841     4.066434   4.092173  4.291810
251        2    91529     3.5  1445714891     3.993421   0.000000  4.499728
255        2   109487     3.0  1445715145     3.993151   0.000000  3.749720
262        3      527     0.5  1306464275     4.225000   2.797973  4.567508
267        3      914     0.5  1306463567     4.042857   0.000000  4.250711
268        3     1093     0.5  1306463627     3.405405   3.438240  3.875749
270        3     1263     0.5  1306463569     3.825581   0.000000  4.299409
272        3     1275     3.5  1306463323     3.729167   3.913931  0.000000
274        3     1371     3.0  1306463561     3.044444   3.070051  0.000000
275        3     1587     4.5  1306464003     3.258065   3.424784  0.000000
...      ...      ...     ...         ...          ...        ...       ...
6924      47      318     4.0  1496208166     4.429022   4.028317  4.649222
6925      47      356     4.5  1496206696     4.164134   4.182701  4.498845
6931      47      590     3.5  1496208604     3.835366   3.629115  3.999874
6932      47      593     2.0  1496205249     4.161290   2.727577  3.400288
6946      47     2028     4.0  1496205180     4.146277   4.146540  4.125148
7061      48      653     4.0  1127128598     3.092308   0.000000  3.500022
7062      48      780     3.5  1127128851     3.445545   3.510900  3.300139
7065      48     1356     4.5  1127128828     3.879121   4.804657  4.666687
7071      48     1653     4.5  1127128650     3.953488   4.253264  4.250017
7077      48     2571     5.0  1127128841     4.192446   5.000000  4.607196
7082      48     3793     3.5  1127128889     3.699248   3.832003  4.000000
7083      48     4886     5.0  1127128753     3.871212   0.000000  4.000454
7084      48     5349     4.0  1127128913     3.540984   4.144782  4.249127
7091      49      110     4.0  1493093005     4.031646   4.000000  4.571604
7092      49      318     4.0  1493089778     4.429022   4.098725  4.625051
7093      49      356     4.0  1493089782     4.164134   4.000000  4.399965
7094      49      527     4.5  1493089770     4.225000   4.506640  4.800018
7098      49     2028     4.5  1493089784     4.146277   4.489915  4.928537
7099      49     2571     4.5  1493093047     4.192446   4.533408  4.692236
7101      49     5218     4.0  1493093122     3.688235   0.000000  3.749935
7104      49    70286     4.0  1493093030     3.776923   0.000000  4.124958
7106      49    79132     4.5  1493093216     4.066434   4.305374  4.699901
7112      50        1     3.0  1514238116     3.920930   3.000000  4.001210
7113      50       32     3.0  1523740563     3.983051   3.252955  4.200129
7115      50      165     3.0  1514238058     3.555556   3.027926  0.000000
7116      50      296     4.0  1500573696     4.197068   3.824539  5.000000
7117      50      318     3.5  1514237959     4.429022   4.000000  5.000000
7118      50      356     3.0  1514238146     4.164134   3.589727  4.624755
7120      50      593     3.5  1514237974     4.161290   3.978425  4.714186
7122      50      608     4.0  1514238092     4.116022   4.507434  0.000000

[482 rows x 7 columns]

In [19]:
predicted = predicted[ (predicted['cosine'] > 0) & (predicted['euclidean'] > 0) ]
def RMSE(X, left_col, right_col):
    return(np.sqrt(np.mean((X[left_col] - X[right_col])**2)))

def MAE(X, left_col, right_col):
    return(np.mean(np.absolute(X[left_col] - X[right_col])) )

for name in ['mean_rating', 'cosine', 'euclidean']:
    print ("MAE of {0} is {1} ".format(name, MAE(predicted, 'rating', name)))

for name in ['mean_rating', 'cosine', 'euclidean']:
    print ("RMSE of {0} is {1} ".format(name, RMSE(predicted, 'rating', name)))

MAE of mean_rating is 0.6732807276979298
MAE of cosine is 0.5531792589753918
MAE of euclidean is 0.40421532736958293
RMSE of mean_rating is 0.8576843201841777
RMSE of cosine is 0.7377415273102896
RMSE of euclidean is 0.5665102964641624